<div class="sidebar_logo">
    <a href="home" class="sSidebar_hide sidebar_logo_large no_load">
        <img class="logo_regular" src="static/app/assets/img/default/heshablogo.png" alt="" width="" height="">
        <img class="logo_light" src="static/app/assets/img/default/heshablogo.png" alt="" width="" height="">
    </a>
    <a href="home" class="sSidebar_show sidebar_logo_small no_load">
        <img class="logo_regular" src="static/app/assets/img/default/heshablogo.png" alt="" width="" height="">
        <img class="logo_light" src="static/app/assets/img/default/heshablogo.png" alt="" width="" height="">
    </a>
</div>
<div class="sidebar_actions uk-hidden" title="Branch">
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1">

        </div>
    </div>

</div>