<!-- main sidebar switch -->
<a href="#" aria-label="Main menu switch" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
    <span class="sSwitchIcon"></span>
</a>
<!-- secondary sidebar switch -->
<a ng-if="document_switch" href="#" aria-label="Secondary menu switch" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check uk-hidden-large allow-offline">
    <span class="sSwitchIcon"></span>
</a>
<div class="uk-navbar-flip">
    <ul class="uk-navbar-nav user_actions">
        <li ng-if="logged_user_type == 'system_designer'">
            <a ng-if="basic_info.logged_branch_id" href="#" class="user_action_icon return-normal" data-uk-tooltip="" title="Return as system designer"><i class="material-icons md-24 md-light">undo</i></a>
        </li>

        <li><a href="#" id="full_screen_toggle" data-uk-tooltip title="Full screen" class=" uk-visible-large"><i class="material-icons md-24 md-light">fullscreen</i></a></li>
        <!--<li><a href="#" data-uk-tooltip title="Reports"><i class="material-icons md-24 md-light">receipt</i></a></li>-->
        <!--<li><a href="#" data-uk-tooltip title="Settings"><i class="material-icons md-24 md-light">settings</i></a></li>-->
        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}" ng-if="basic_info.logged_user_id">
            <a href="" class="user_action_image"><img class="md-user-image" ng-src="((basic_info.logged_user.image))" alt="Account control"/></a>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav js-uk-prevent">
                    <li ng-if="logged_user_type == 'teacher'"><a href="teacher/((basic_info.logged_user.member_id))">My profile</a></li>
                    <li ng-if="logged_user_type == 'student'"><a href="student/((basic_info.logged_user.member_id))">My profile</a></li>
                    <li ng-if="logged_user_type !== 'student' && logged_user_type !== 'teacher'"><a href="profile/((basic_info.logged_user.member_id))">My profile</a></li>
                    <li ng-if="logged_user_type == 'system_designer'"><a href="settings">Settings</a></li>
                    <!--<li><a href="help">Help</a></li>-->
                    <li><a href="logout">Logout</a></li>
                </ul>
            </div>
        </li>
        <li ng-if="!basic_info.logged_user_id">
            <a href="login" aria-label="Profile">
                <i class="material-icons md-24 md-light">account_circle</i>
            </a>
        </li>
    </ul>
</div>