<!-----------------------------------------------View part---------------------------------------------->
<script id="document_template" type="document-type">
    <div class="md-card-toolbar hidden-print">
        <div class="md-card-toolbar-actions hidden-print">
            <i class="md-icon material-icons" id="document_print">&#xE8ad;</i>
            {{#if total_drop_down_list}}
            <div class="md-card-dropdown" data-uk-dropdown="{pos:'bottom-right',mode:'click'}">
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">


                        {{#if edit}}
                            <li><a href="#" class="uk-text-danger document-edit" data-id={{document_id}}><i class="material-icons">create</i> Edit</a></li>
                        {{/if}}
                        {{#if delete}}
                            <li><a href="#" class="uk-text-danger document-delete" data-id={{document_row_id}}><i class="material-icons">delete_forever</i> Delete</a></li>
                        {{/if}}

                    </ul>
                </div>
            </div>
            {{/if}}

        </div>
        <h3 class="md-card-toolbar-heading-text large" id="document_name">
            {{type_option_name}} {{member_id}}
        </h3>
    </div>
    <div class="md-card-content invoice_content print_bg">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-small-2-5">
                <div class="uk-margin-medium-bottom">
                    <address>
                        <p><strong>{{institute_name}}</strong></p>
                        <p>{{institute_address}}</p>
                    </address>
                </div>
            </div>
            <div class="uk-width-small-1-5">
                <h3 class="document-type-heading uk-text-center uk-margin-remove">
                    <span class="">
                        {{document_type}}
                    </span>
                    <br>
                    {{#ifCond authorized '==' 0}}
                        <!--Unauthorized-->
                    {{/ifCond}}
                </h3>



            </div>
            <div class="uk-width-small-2-5">
                <div class="uk-hidden visible-print">
                    <span class="uk-text-muted uk-text-bold">Print date:</span> {{print_date}}
                </div>
                <div class="uk-text-bold">
                    <span class="uk-text-muted ">{{document_type}} number:</span> {{member_id}}
                </div>
                <div>
                    <span class="uk-text-muted  uk-text-bold">{{document_type}} date:</span> {{invoice_date}}
                </div>
                <div>
                    <span class="uk-text-muted  uk-text-bold">Date:</span> {{start_date}} - {{end_date}}
                </div>


                <div>
                    <span class="uk-text-muted  uk-text-bold">Created by: </span> {{sender_name}}
                </div>


                <!--<div class="" ng-if="document_sub_type == 'due_sale'">-->
                    <!--<span  class="uk-text-muted uk-text-small uk-text-italic">Due Date:</span> <span class=" ((invoice.overdue | if : 'uk-text-danger uk-text-bold' ))">((invoice.invoice_due_date))</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="uk-text-center uk-margin-top">
            {{#ifCond authorization_status '==' 1}}
            <span class="uk-badge uk-badge-success uk-display-inline authorize-status">Permitted</span>
            {{/ifCond}}
            {{#ifCond authorization_status '==' 0}}
            <span class="uk-badge uk-badge-warning uk-display-inline authorize-status">Pending</span>
            {{/ifCond}}
            {{#ifCond authorization_status '==' 2}}
            <span class="uk-badge uk-badge-danger uk-display-inline authorize-status">Canceled</span>
            {{/ifCond}}
        </div>
        <div class="uk-text-center uk-margin-top uk-margin-bottom">
            {{#if permission_switch}}
                {{#ifCond authorization_status '==' 0}}
                    <div class="md-btn-group">
                        <button href="#" class="uk-text-info document-authorize md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button  done" data-id={{document_row_id}}><i class="material-icons">done_outline</i> Permitted</a>
                        <button href="#" class="uk-text-info document-authorize md-btn md-btn-flat md-btn-flat-warning md-btn-wave waves-effect waves-button cancel" data-id={{document_row_id}}><i class="material-icons">block</i> Canceled</a>

                    </div>

                {{/ifCond}}
            {{/if}}
        </div>
        <div class="uk-grid uk-margin-large-bottom">
            <div class="uk-width-medium-1-1">
                <!--<table class="uk-table">
                    <thead>
                        <tr class="uk-text-upper uk-text-bold">
                            <th>Sl</th>
                            <th>Name</th>
                            <th class="">Designation</th>
                            <th class="">User id</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each items}}
                    <tr class="uk-table-middle">
                        <td>{{sl}}. </td>
                        <td>
                            <span class="uk-text-bold">{{name}}</span>
                        </td>

                        <td>{{designation}} </td>
                        <td>{{device_user_id}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>-->
                <div class="uk-grid uk-grid-divider grid-block" data-uk-grid-margin>
                    <div class="display-table">
                        <div class="display-table-row">
                            <div class="display-table-cell display-table-cell-nowrap"><label class="uk-text-bold">Teachers : </label></div>
                            <div class="display-table-cell display-table-cell-full">{{teacher_names}}</div>

                        </div>
                        <div class="display-table-row">
                            <div class="display-table-cell display-table-cell-nowrap"><label class="uk-text-bold">Message : </label></div>
                            <div class="display-table-cell display-table-cell-full">{{message}}</div>

                        </div>
                        <div class="display-table-row">
                            <div class="display-table-cell display-table-cell-nowrap"><label class="uk-text-bold">Tag : </label></div>
                            <div class="display-table-cell display-table-cell-full">{{application_tag}}</div>

                        </div>


                    </div>

                </div>

            </div>




            <div class="uk-width-medium-1-1 uk-margin-large-top ">
                <div class="uk-grid signature-line">
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">

                    </div>

                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">

                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">
                        <div class="signature">
                            <div class='signature-text' >
                                {{#ifCond prepare_signature_switch '==' '1'}}
                                    <img src='{{prepare_signature}}'>
                                {{/ifCond}}
                                <span class="uk-display-block">{{prepare_user_name}}</span>

                            </div>
                            <p class="uk-text-center uk-text-small">Prepared by</p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">
                        <div class="signature">
                            <div class='signature-text uk-text-center' >
                            {{#if authorized}}
                                {{#ifCond authorize_signature_switch '==' '1'}}
                                    <img src='{{authorize_signature}}'>
                                {{/ifCond}}
                                <span class="uk-display-block">{{authorize_user_name}}</span>
                            {{/if}}
                            </div>
                            <p class="uk-text-center uk-text-small">Authorized by</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!---------------------------------------------------------New form------------------------------------------------>
<script id="document_form_template" type="document-template">
    <form action="" class="uk-form-stacked add-document" data-id="{{document_row_id}}">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons">&#xE161;</i>
            </div>
            <h4 class="document-heading">{{#if member_id}}Edit {{member_id}} {{/if}}</h4>
        </div>

        <div class="md-card-content large-padding" id="invoice-form-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                        <label>Start date</label>
                        <input class="md-input" name="start_date" type="text" value="{{start_date}}" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                    </div>

                </div>
                <div class="uk-width-medium-1-3">
                    <div class="">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                            <label>End date</label>
                            <input class="md-input" name="end_date" type="text"  value="{{end_date}}" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                        </div>
                    </div>

                </div>

            </div>


            <div class="uk-grid uk-grid-divider grid-block" data-uk-grid-margin>
                {{#ifCond logged_user_type '!==' 'teacher' }}
                <div class="uk-width-medium-8-10">
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon">Institute:</span>
                        <div data-uk-tooltip="" title="Institute">
                            <select class="institute-selector" name="institute_id">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                </div>
                {{/ifCond}}
                <div class="uk-width-medium-8-10">
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon">Teacher:</span>
                        <div data-uk-tooltip="" title="User">
                            <select class="user-selector" name="receiver_ids[]" multiple>
                                <option value="">Select {{user_type}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-2-10 suggest-before-prescription">
                    <!--<a href="" class="suggest-link" target="_blank">-->
                    <!--<div class="uk-button-dropdown hide" >-->
                    <!--<div class="uk-badge uk-badge-warning uk-badge-notification">-->
                    <!--<span class="suggest-number">26</span>-->
                    <!--<i class="material-icons ">&#xE313;</i>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</a>-->
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1 uk-margin-large-bottom">
                    <label>Application message</label>
                    <textarea cols="30" rows="2" name="message" class="md-input application-field">{{message}}</textarea>
                </div>
                <div class="uk-width-1-1 uk-margin-large-bottom">
                    <div class="uk-input-group tag-chooser" data-uk-tooltip="" title="tag">
                        <select name="application_tag" >
                            <option value="">Tag</option>
                        </select>
                        <span class="uk-input-group-addon">
                            <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete">delete_forever</i>
                            <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save">save</i>
                        </span>
                    </div>
                </div>

            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right uk-margin-large-bottom">

                    {{#if edit}}
                    <button type="button" class="md-btn md-btn-info edit-cancel">Cancel</button>
                    <button type="button" class="md-btn md-btn-primary" data-button-name="update" >Update</button>
                    {{else}}
                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                    <button type="button" class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                    {{/if}}
                </div>
            </div>
        </div>
    </form>
</script>
