<!-----------------------------------------------View part---------------------------------------------->
<script id="document_template" type="document-type">
    <div class="md-card-toolbar hidden-print">
        <div class="md-card-toolbar-actions hidden-print">
            <i class="md-icon material-icons" id="document_print">&#xE8ad;</i>
        </div>
        <h3 class="md-card-toolbar-heading-text large" id="document_name">
            {{type_option_name}} {{member_id}}
        </h3>
    </div>
    <div class="md-card-content invoice_content print_bg cash-memo">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <div class="memo-logo uk-float-left">
                    <img src="{{logo}}">
                </div>
                <div class="memo-company-heading uk-float-left">
                    <h2 class="uk-margin-bottom-remove">
                        Salam and brothers Ltd.
                    </h2>
                    <div class="display-table">
                        <div class="dispaly-table-row">
                            <div class="display-table-cell display-table-cell-nowrap">Cost Centre </div>
                            <div class="display-table-cell display-table-cell-full dotted-border">group name
                            </div>
                        </div>
                    </div>

                </div>
                <div class="memo-name uk-float-left">
                    <h3>Money Receipt</h3>
                </div>

            </div>
            <div class="uk-width-medium-1-1">
                <!-- sl number -->
                <div class="sl-number uk-float-left">
                    <p>M.R No.: <span>{{memo_member_id}}</span></p>
                </div>
                <div class="uk-float-right print-date">
                    <div class=" display-table">
                        <div class="display-table-row">
                            <div class="display-table-cell display-table-cell-nowrap">Date:</div>
                            <div class="display-table-cell display-table-cell-full dotted-border">{{print_date}}</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-1">
                <div class="display-table">
                    <div class="display-table-row">
                        <div class="display-table-cell display-table-cell-nowrap">Received from</div>
                        <div class="display-table-cell display-table-cell-full dotted-border"> {{root_type_option}} - {{root_member_id}}</div>
                    </div>
                </div>
                <div class="display-table">
                    <div class="display-table-row">
                        <div class="display-table-cell display-table-cell-nowrap">Amount of receipt as words</div>
                        <div class="display-table-cell display-table-cell-full dotted-border">{{amount_as_words}}
                        </div>
                    </div>

                </div>
                <div class="method-info">
                    <div class="display-table">
                        <div class="display-table-row">
                            <div class="display-table-cell display-table-cell-nowrap">By {{method_type}}
                            {{#ifCond bank_type '!==' 'cash'}}
                                of
                            {{/ifCond}}
                            </div>
                            <div class="display-table-cell display-table-cell-full dotted-border">
                            {{#ifCond bank_type '!==' 'cash'}}
                                {{bank_name}}
                            {{/ifCond}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#ifCond bank_check_date '!==' 'Invalid date'}}
                <div class="date-info">
                    <div class="display-table">
                        <div class="display-table-row">
                            <div class="display-table-cell display-table-cell-nowrap">
                                Date
                            </div>
                            <div class="display-table-cell display-table-cell-full dotted-border">
                            {{bank_check_date}}
                            </div>
                        </div>

                    </div>
                </div>
                {{/ifCond}}
                {{#ifCond bank_type '!==' 'cash'}}
                <div class="display-table">
                    <div class="display-table-row">
                        <div class="display-table-cell display-table-cell-nowrap">
                            Bank
                        </div>
                        <div class="display-table-cell display-table-cell-full dotted-border">
                            {{bank_details}}
                        </div>
                    </div>
                </div>
                {{/ifCond}}
                <div class="taka-box">
                    <div class="taka memo-line">
                        <span class="line-title">Amount. </span>
                        <div class="line-content dotted-border">
                            {{amount}} {{currency}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="uk-width-medium-1-1 ">
                <div class="uk-grid signature-line">
                    <div class="uk-width-medium-1-3 uk-margin-top">
                        <div class="signature uk-width-medium-1-2">
                            <p class="uk-text-center uk-text-small">Paid by</p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3 uk-margin-top">
                        <div class="signature uk-width-medium-1-2">
                            <p class="uk-text-center uk-text-small">Received by</p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3 uk-margin-top">
                        <div class="signature uk-width-medium-1-2">
                            <p class="uk-text-center uk-text-small">Authorized by</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</script>

<!---------------------------------------------------------New form------------------------------------------------>
<script id="document_form_template" type="document-template">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">

            </div>
            <h4 class="document-heading">{{document_type_option_name}}</h4>
        </div>
        <div class="md-card-content large-padding">
            <h2 class="uk-text-center">Empty</h2>
        </div>

</script>

