<!-----------------------------------------------View part---------------------------------------------->
<script id="document_template" type="document-type">
    <div class="md-card-toolbar hidden-print">
        <div class="md-card-toolbar-actions hidden-print">
            <i class="md-icon material-icons" id="document_print">&#xE8ad;</i>
            {{#if total_drop_down_list}}
            <div class="md-card-dropdown" data-uk-dropdown="{pos:'bottom-right',mode:'click'}">
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        {{#if sale_return_authorized}}
                            {{#ifCond authorized '==' 0}}
                                <li><a href="#" class="uk-text-info document-authorize" data-id={{document_row_id}}><i class="material-icons">done_outline</i> Authorize</a></li>
                            {{/ifCond}}
                        {{/if}}

                        {{#if delete}}
                            <li><a href="#" class="uk-text-danger document-delete" data-id={{document_id}}><i class="material-icons">delete_forever</i> Delete</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
            {{/if}}

        </div>
        <h3 class="md-card-toolbar-heading-text large" id="document_name">
            {{type_option_name}} {{member_id}}
        </h3>
    </div>
    <div class="md-card-content invoice_content print_bg">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-small-2-5">
                <div class="uk-margin-medium-bottom">
                    <div class="uk-text-bold">
                        <span class="uk-text-muted ">{{document_type}} number:</span> {{bill_number}}
                    </div>
                    <!--<address>-->
                        <!--<p><strong>{{receiver_name}}</strong></p>-->
                        <!--<p>{{receiver_mobile}}</p>-->
                        <!--<p>{{receiver_address}}</p>-->
                    <!--</address>-->
                </div>
            </div>
            <div class="uk-width-small-1-5">
                <h3 class="document-type-heading uk-text-center uk-margin-remove">
                    <span class="">
                        {{document_type}}
                    </span>
                    <br>
                    {{#ifCond authorized '==' 0}}
                        <!--Unauthorized-->
                    {{/ifCond}}
                </h3>
                <p class=" uk-text-center">
                    {{#ifCond payment_status '==' 'unpaid'}}
                    <span class="uk-badge uk-badge-danger">Unpaid</span>
                    {{/ifCond}}
                    {{#ifCond payment_status '==' 'partial_paid'}}
                    <span class="uk-badge uk-badge-warning">Partial paid</span>
                    {{/ifCond}}

                    {{#ifCond payment_status '==' 'paid'}}
                    <span class="uk-badge uk-badge-success">Paid</span>
                    {{/ifCond}}
                </p>
            </div>
            <div class="uk-width-small-2-5">
                <div class="uk-hidden visible-print">
                    <span class="uk-text-muted uk-text-bold">Print date:</span> {{print_date}}
                </div>
                <div class="uk-text-bold">
                    <span class="uk-text-muted ">{{type_option_name}} number:</span> {{member_id}}
                </div>
                <div>
                    <span class="uk-text-muted  uk-text-bold">{{type_option_name}} date:</span> {{document_date}}
                </div>
                <div>
                    <span class="uk-text-muted  uk-text-bold">Created by: </span> {{sender_name}}
                </div>



                <!--<div class="" ng-if="document_sub_type == 'due_sale'">-->
                    <!--<span  class="uk-text-muted uk-text-small uk-text-italic">Due Date:</span> <span class=" ((invoice.overdue | if : 'uk-text-danger uk-text-bold' ))">((invoice.invoice_due_date))</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="uk-grid uk-margin-large-bottom">
            <div class="uk-width-medium-1-1">
                <table class="uk-table">
                    <thead>
                        <tr class="uk-text-upper uk-text-bold">
                            <th>Sl</th>
                            <th>Name of product</th>
                            <th class="">Quantity</th>
                            <th class="">Rate</th>
                            <th class="uk-text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each items}}
                    <tr class="uk-table-middle">
                        <td>{{sl}}. </td>
                        <td>
                            <span class="uk-text-bold">{{name}}</span>
                        </td>

                        <td>{{quantity}} {{unit_name}}</td>
                        <td>{{rate}} </td>
                        <td class="uk-text-center">{{line_total}} </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="uk-width-medium-1-2 uk-margin-top">
                {{#ifCond payment_modes '!==' ''}}
                <span class="uk-text-muted uk-text-small">Mode of payment: {{payment_modes}}</span>
                {{/ifCond}}

                {{#ifCond payment_amount '>' 0}}
                <p>Due amount: {{due}} {{currency}}</p>
                {{/ifCond}}

                <p>
                    <span class="uk-display-block uk-text-bold amount-as-words">কথায়: {{amount_as_words}}</span>
                </p>
                {{#if sale_return_payment}}
                {{#ifCond payment_amount '>' 0}}
                <button class="md-btn md-btn-primary md-btn-mini hidden-print payment-button">{{adjustment_text}}</button>
                <div class="md-card uk-hidden payment-form uk-margin-top hidden-print">
                    <div class="md-card-content">
                        {{#ifCond bank_reconciliation '==' '0'}}
                        <form class="">
                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-1" data-uk-tooltip title="Payment mode">
                                    <select class="payment-mode-selectize" name="payment_mode">
                                        <option value="">Select payment mode</option>
                                    </select>
                                </div>
                                <div class="uk-width-medium-1-1" data-uk-tooltip title="Bank cash">
                                    <select class="payment-method-selectize" name="bank_id">
                                        <option value="">Select bank/cash</option>
                                    </select>
                                </div>

                                <div class="uk-width-medium-1-1">
                                    <label>Amount</label>
                                    <input class="md-input" name="amount" type="text" value="{{payment_amount}}" >
                                </div>
                                <div class="uk-width-medium-1-1 uk-margin-top uk-hidden reconciliation-box">
                                    <div class="bank-details uk-hidden">
                                        <p>
                                            <input type="checkbox" name="bank_reconciliation" id="bank_reconciliation" value="1" data-md-icheck />
                                            <label for="bank_reconciliation" class="inline-label">Bank reconciliation</label>
                                        </p>
                                        <div class="uk-hidden uk-grid reconciliation" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label>Check date</label>
                                                <input class="md-input" name="check_date" type="text" value="" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label>Check number</label>
                                                <input class="md-input" name="transaction_number" type="text" value="" >
                                            </div>
                                            <div class="uk-width-medium-1-1">
                                                <label>Payment note</label>
                                                <input class="md-input" name="note" type="text" value="" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mobile-bank-details uk-hidden">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-1">
                                                <label>Transaction number</label>
                                                <input class="md-input" name="transaction_number" type="text" value="" >
                                            </div>
                                            <div class="uk-width-medium-1-1">
                                                <label>Payment note</label>
                                                <input class="md-input" name="note" type="text" value="" >
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="uk-width-medium-1-1">
                                    <button type="button" class="md-btn md-btn-info payment-form-cancel">Cancel</button>
                                    <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                </div>
                            </div>
                        </form>
                        {{/ifCond}}

                        {{#ifCond bank_reconciliation '==' '1'}}
                            <span class='uk-badge uk-badge-warning'>Bank reconciliation pending...</span>
                        {{/ifCond}}
                    </div>
                </div>
                {{/ifCond}}
                {{/if}}

                {{#ifCond note '!==' '' }}
                <p>
                    <span class="uk-text-muted uk-display-block uk-text-small">Note:</span>
                    <span>
                        {{note}}
                    </span>
                </p>
                {{/ifCond}}


            </div>
            <div class="uk-width-medium-1-2 uk-margin-top">
                <table class="uk-table">
                    <tr>
                        <td>Total:</td>
                        <td class="uk-text-right">{{net_payable_amount}} {{currency}}</td>
                    </tr>
                    {{#ifCond en_round_amount '>' 0}}
                    <tr>
                        <td>Round lose:</td>
                        <td class="uk-text-right">{{round_amount}} {{currency}}</td>
                    </tr>
                    {{/ifCond}}
                </table>



            </div>
            <div class="uk-width-medium-1-1 uk-margin-large-top ">
                <div class="uk-grid signature-line">
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">
                        <div class="signature">
                            <p class="uk-text-center uk-text-small">Customer's signature</p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">
                        <div class="signature">
                            <div class='signature-text' >{{prepare_user_name}}</div>
                            <p class="uk-text-center uk-text-small">Prepared by</p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">
                        <div class="signature">
                            <p class="uk-text-center uk-text-small">Checked by</p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">
                        <div class="signature">
                            <div class='signature-text' >{{authorize_user_name}}</div>
                            <p class="uk-text-center uk-text-small">Authorized by</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!---------------------------------------------------------New form------------------------------------------------>
<script id="document_form_template" type="document-template">
    <form action="" class="uk-form-stacked add-document">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons">&#xE161;</i>
            </div>
            <h4 class="document-heading">{{document_type_option_name}}</h4>
        </div>
        <div class="md-card-content large-padding">
            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-medium-7-10">
                    <label class="uk-form-label">{{document_name}}:</label>
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon"><i class="uk-input-group-icon material-icons">add_to_queue</i></span>
                        <select name="bill" class="bill-chooser">
                            <option value="">Choose {{document_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-medium-3-10">
                    <label class="uk-form-label">Issue date:</label>
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                        <label>Select date</label>
                        <input class="md-input" name="issue_date" type="text" value="{{current_date}}" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div id="form_document_services"></div>
                    <hr class="md-hr">
                    <div class="uk-text-center uk-margin-medium-top uk-margin-bottom">
                        <a href="#" class="md-btn md-btn-flat md-btn-flat-primary uk-hidden" id="document_form_append_service_btn" data-uk-tooltip="" title="Add branch"><i class="material-icons md-24">add_circle_outline</i> </a>
                    </div>
                </div>
            </div>

            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right uk-margin-large-bottom">
                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                    <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                </div>
            </div>
        </div>
    </form>
</script>

<!-----------------------------------------services---------------------------------------------------------->
<script id="document_form_template_services" type="document-template">
    {{#ifCond service_id '!==' 1}}<hr class="md-hr"> {{/ifCond}}
    <div class="uk-grid service-item" data-uk-grid-margin data-service-number="{{service_id}}">
        <div class="uk-width-medium-1-10 uk-text-center">
            <span class="block-delete-button"><i class="material-icons">delete_forever</i></span>
            <p class="uk-text-large">{{service_id}}.</p>
        </div>
        <div class="uk-width-medium-9-10">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <select class="distribution-branch-selectize" name="branch[]">
                        <option value="">Select branch</option>
                    </select>
                </div>
                <div class="uk-width-medium-1-2">
                    <label>Note</label>
                    <input type="text" class="md-input" name="note[]" readonly>
                </div>
                <input type="hidden" name="total_item[]" value="{{items.length}}">
            </div>
            {{#each items}}
            {{#ifCond @index '!==' 0}}<hr class="md-hr"> {{/ifCond}}
            <div class="single-item uk-grid " data-uk-grid-margin>
                <div class="uk-width-medium-1-10 uk-text-right">
                    {{#calc @index '+' 1}}{{/calc}}.
                </div>
                <div class="uk-width-medium-3-10">
                    {{name}} ( D.Quantity:{{distributional_quantity}})
                </div>
                <div class="uk-width-medium-3-10">
                    <label>quantity</label>
                    <input type="text" data-unit-name="{{unit_name}}" data-item-name="{{name}}" data-id="{{item_id}}" data-max-amount="{{distributional_quantity}}" class="md-input distribution-quantity" name="quantity[]" value="">
                </div>
                <div class="uk-width-medium-3-10" data-uk-tooltip="" title="Item unit">
                    <select class="document-distribution-service-unit" disabled >
                        <option value="">Select unit</option>
                        <option value="{{unit_id}}" selected>{{unit_name}}</option>
                    </select>
                </div>
                <input type="hidden" class="distribution-item-id" name="item_id[]" value="{{item_id}}">
            </div>
            {{/each}}
        </div>

    </div>
</script>

