<div class="md-list-outside-wrapper">
    <div class="md-list-outside-search">
        <input type="text" class="md-input inverted-colors invoice-filtering" placeholder="Find invoice..." id="invoice-filtering" data-ng-keyup="search()" ng-model="keyword">
    </div>
    <div class="">
        <ul class="md-list md-list-outside">
            <li data-uk-tooltip="" title="Document type">
                <select class="document-sub-types">
                    <option value="">Select document type</option>
                </select>
            </li>
        </ul>
    </div>
    <div class="md-list-outside-inner">
        <ul class="md-list md-list-outside documents_list" id="documents_list">
            <li ng-repeat="document in rows">
                <a href="#" class="md-list-content" data-document-id="((document.document_id))" data-document-row-id="((document.id))">

                    <span class="md-list-heading uk-text-truncate">((document.member_id))
                        <span class="uk-text-small uk-text-muted">( ((document.doc_time)) )
                        </span>
                        <div class="uk-display-inline">
                            <span ng-if="document.authorization_status==1" class="uk-badge uk-badge-success uk-display-inline authorize-status">Permitted</span>
                            <span ng-if="document.authorization_status==0" class="uk-badge uk-badge-warning uk-display-inline authorize-status">Pending</span>
                            <span ng-if="document.authorization_status==2" class="uk-badge uk-badge-danger uk-display-inline authorize-status">Canceled</span>
                        </div>
                    </span>

                    <span class="uk-text-small  uk-text-muted uk-display-inline" ng-if="document.receiver_name">((document.receiver_name)) , ((document.flag))</span>


                </a>
            </li>
        </ul>
    </div>
</div>