<!-----------------------------------------------View part---------------------------------------------->
<script id="document_template" type="document-type">
    <div class="md-card-toolbar hidden-print">
        <div class="md-card-toolbar-actions hidden-print">
            <i class="md-icon material-icons" id="document_print">&#xE8ad;</i>

            {{#if total_drop_down_list}}
            <div class="md-card-dropdown" data-uk-dropdown="{pos:'bottom-right',mode:'click'}">
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        {{#if delete}}
                            <li><a href="#" class="uk-text-danger document-delete" data-id={{document_id}}><i class="material-icons">delete_forever</i> Delete</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
            {{/if}}
        </div>
        <h3 class="md-card-toolbar-heading-text large" id="document_name">
            {{type_option_name}} {{member_id}}
        </h3>
    </div>
    <div class="md-card-content invoice_content print_bg">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-small-2-5">
                <div class="uk-margin-medium-bottom">
                    <div>
                        <span class="uk-text-muted uk-text-bold">Invoice No: </span> {{member_ids}}
                    </div>
                    <div>
                        <span class="uk-text-muted uk-text-bold">MPO: </span> {{mpo_names}}
                    </div>
                    <div>
                        <span class="uk-text-muted uk-text-bold">Territory: </span> {{territory_names}}
                    </div>
                </div>
            </div>
            <div class="uk-width-small-1-5">
                <h3 class="document-type-heading">
                    <span class="">
                        {{document_type}}
                    </span>

                </h3>
            </div>
            <div class="uk-width-small-2-5">
                <div class="uk-hidden visible-print">
                    <span class="uk-text-muted  uk-text-bold visible-print">Print date:</span> {{print_date}}
                </div>
                <div>
                    <span class="uk-text-muted uk-text-bold">GDN number:</span> {{member_id}}
                </div>
                <div>
                    <span class="uk-text-muted uk-text-bold">GDN date:</span> {{gdn_date}}
                </div>

            </div>
        </div>
        <div class="uk-grid uk-margin-large-bottom">
            <div class="uk-width-medium-1-1">
                <table class="uk-table">
                    <thead>
                        <tr class="uk-text-upper">
                            <th>Sl</th>
                            <th>Brand name</th>
                            <th class="">Batches</th>
                            <th class="">Pack size</th>
                            <th class="">TP</th>
                            <th class="">VAT</th>
                            <th class="">Sales QTY</th>
                            <th class="">Bonus QTY</th>
                            <th class="uk-text-center">Total QTY</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each items}}
                    <tr class="uk-table-middle">
                        <td>{{sl}}. </td>
                        <td>
                            <span class="uk-text-bold">{{item_name}}</span>
                        </td>

                        <td class="uk-text-bold">{{batch_names}} </td>
                        <td>{{commercial_pack_size}} </td>
                        <td>{{total_trade_price}} </td>
                        <td>{{total_vat}} </td>
                        <td>{{quantity}}</td>
                        <td>{{bonus_quantity}}</td>
                        <td class="uk-text-center">{{total_quantity}} </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="uk-width-medium-1-2 uk-margin-top">

                {{#ifCond note '!==' '' }}
                <p>
                    <span class="uk-text-muted uk-display-block uk-text-small">Note:</span>
                    <span>
                        {{note}}
                    </span>
                </p>
                {{/ifCond}}

                {{#ifCond remarks '!==' '' }}
                <p>
                    <span class="uk-text-muted uk-display-block uk-text-small">Remarks:</span>
                    <span>
                        {{remarks}}
                    </span>
                </p>
                {{/ifCond}}

            </div>

            <div class="uk-width-medium-1-1 uk-margin-large-top ">
                <div class="uk-grid signature-line">
                    <div class="uk-width-medium-1-4 uk-margin-top">
                        <div class="signature">
                            <p class="uk-text-center uk-text-small">Delivered by</p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-top">
                        <div class="signature">
                            <p class="uk-text-center uk-text-small">Prepared by</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>

<!---------------------------------------------------------New form------------------------------------------------>
<script id="document_form_template" type="document-template">
    <form action="" class="uk-form-stacked add-document">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons">&#xE161;</i>
            </div>
            <h4 class="document-heading">{{document_type_option_name}}</h4>
        </div>
        <div class="md-card-content large-padding">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-7-10">
                    <label class="uk-form-label">MPO:</label>
                    <div class="uk-input-group uk-margin-bottom">
                        <span class="uk-input-group-addon"><i class="uk-input-group-icon material-icons">person</i></span>
                        <select name="worker" class="worker-selectize">
                            <option value="">Choose MPO</option>
                        </select>
                    </div>

                    <label class="uk-form-label">Invoices:</label>
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon"><i class="uk-input-group-icon material-icons">add_to_queue</i></span>
                        <select name="invoices[]" class="invoice-chooser" multiple>
                            <option value="">Choose invoices</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-medium-3-10">
                    <label class="uk-form-label">Issue date:</label>
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                        <label>Select date</label>
                        <input class="md-input" name="issue_date" type="text" value="{{current_date}}" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                    </div>
                </div>
            </div>

            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label>Note</label>
                    <textarea cols="30" rows="1" name="note" class="md-input"></textarea>

                </div>
                <div class="uk-width-medium-1-2">
                    <label>Remarks</label>
                    <textarea cols="30" rows="1" name="remarks" class="md-input"></textarea>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right uk-margin-large-bottom">
                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                    <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                </div>
            </div>
        </div>
    </form>
</script>

