<!-----------------------------------------------View part---------------------------------------------->
<script id="document_template" type="document-type">
    <div class="md-card-toolbar hidden-print">
        <div class="md-card-toolbar-actions hidden-print">
            <i class="md-icon material-icons" id="document_print">&#xE8ad;</i>
            {{#if total_drop_down_list}}
            <div class="md-card-dropdown" data-uk-dropdown="{pos:'bottom-right',mode:'click'}">
                <i class="md-icon material-icons">&#xE5D4;</i>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav">
                        {{#if invoice_authorized}}
                            {{#ifCond authorized '==' 0}}
                                <li><a href="#" class="uk-text-info document-authorize" data-id={{document_row_id}}><i class="material-icons">done_outline</i> Authorize</a></li>
                            {{/ifCond}}
                        {{/if}}

                        {{#if delete}}
                            <li><a href="#" class="uk-text-danger document-delete" data-id={{document_id}}><i class="material-icons">delete_forever</i> Delete</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
            {{/if}}

        </div>
        <h3 class="md-card-toolbar-heading-text large" id="document_name">
            {{type_option_name}} {{member_id}}
        </h3>
    </div>
    <div class="md-card-content invoice_content print_bg">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-small-2-5">
                <div class="uk-margin-medium-bottom">
                    <address>
                        <p><strong>{{receiver_name}}</strong></p>
                        <p>{{receiver_mobile}}</p>
                        <p>{{receiver_address_line_1}}</p>
                        <p>{{receiver_address_line_2}}</p>
                    </address>
                </div>
            </div>
            <div class="uk-width-small-1-5">
                <h3 class="document-type-heading uk-text-center uk-margin-remove">
                    <span class="">
                        {{document_type}}
                    </span>
                    <br>
                    {{#ifCond authorized '==' 0}}
                        Unauthorized
                    {{/ifCond}}
                </h3>
                <p class=" uk-text-center">
                    {{#ifCond payment_status '==' 'unpaid'}}
                    <span class="uk-badge uk-badge-danger">Unpaid</span>
                    {{/ifCond}}
                    {{#ifCond payment_status '==' 'partial_paid'}}
                    <span class="uk-badge uk-badge-warning">Partial paid</span>
                    {{/ifCond}}

                    {{#ifCond payment_status '==' 'paid'}}
                    <span class="uk-badge uk-badge-success">Paid</span>
                    {{/ifCond}}
                    {{#if sale_return }}
                        <a class="uk-badge uk-badge-info hidden-print" href="invoice/sale_return/{{sale_return}}">Return</a>
                    {{/if}}
                </p>


            </div>
            <div class="uk-width-small-2-5">
                <div class="uk-hidden visible-print">
                    <span class="uk-text-muted uk-text-bold">Print date:</span> {{print_date}}
                </div>
                <div class="uk-text-bold">
                    <span class="uk-text-muted ">{{document_type}} number:</span> {{member_id}}
                </div>
                <div>
                    <span class="uk-text-muted  uk-text-bold">{{document_type}} date:</span> {{invoice_date}}
                </div>
                <div>
                    <span class="uk-text-muted  uk-text-bold">Created by: </span> {{sender_name}}
                </div>


                <!--<div class="" ng-if="document_sub_type == 'due_sale'">-->
                    <!--<span  class="uk-text-muted uk-text-small uk-text-italic">Due Date:</span> <span class=" ((invoice.overdue | if : 'uk-text-danger uk-text-bold' ))">((invoice.invoice_due_date))</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="uk-grid uk-margin-large-bottom">
            <div class="uk-width-medium-1-1">
                <table class="uk-table">
                    <thead>
                        <tr class="uk-text-upper uk-text-bold">
                            <th>Sl</th>
                            <th>Name</th>
                            <th class="">Rate</th>
                            <th class="">Quantity</th>
                            <th class="">Vat</th>
                            <th class="">Commission</th>
                            <th class="uk-text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each items}}
                    <tr class="uk-table-middle">
                        <td>{{sl}}. </td>
                        <td>
                            <span class="uk-text-bold">{{name}}</span>
                        </td>

                        <td>{{rate}} </td>
                        <td>{{quantity}} {{unit_name}}</td>
                        <td>{{vat}}</td>
                        <td>{{commission}}</td>
                        <td class="uk-text-center">{{line_total}} </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            {{#if transports_available}}
            <div class="uk-width-medium-1-1">
            <p class="uk-margin-top">Transports</p>
                <table class="uk-table">
                    <thead>
                        <tr class="uk-text-upper uk-text-bold">
                            <th>Sl</th>
                            <th>Name</th>
                            <th class="">Cost type</th>
                            <th class="uk-text-center">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each transports}}
                    <tr class="uk-table-middle">
                        <td>{{sl}}. </td>
                        <td>
                            <span class="uk-text-bold">{{transport}}</span>
                        </td>
                        <td>{{cost_type}} </td>
                        <td class="uk-text-center">{{amount}} </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}

            <div class="uk-width-medium-1-2 uk-margin-top">
                {{#ifCond payment_modes '!==' ''}}
                <span class="uk-text-muted uk-text-small">Mode of payment: {{payment_modes}}</span>
                {{/ifCond}}


                {{#ifCond payment_amount '>' 0}}
                <p>Due amount: {{due}} {{currency}}</p>
                {{/ifCond}}

                <p>
                    <span class="uk-display-block uk-text-bold amount-as-words">কথায়: {{amount_as_words}}</span>
                </p>


                {{#if invoice_payment}}
                {{#ifCond payment_amount '>' 0}}
                <button class="md-btn md-btn-primary md-btn-mini hidden-print payment-button">{{adjustment_text}}</button>
                <div class="md-card uk-hidden payment-form uk-margin-top hidden-print">
                    <div class="md-card-content">
                        {{#ifCond bank_reconciliation '==' '0'}}
                        <form class="">
                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-1" data-uk-tooltip title="Bank cash">
                                    <select class="payment-method-selectize" name="bank_id">
                                        <option value="">Select bank/cash</option>
                                    </select>
                                </div>

                                <div class="uk-width-medium-1-1">
                                    <label>Amount</label>
                                    <input class="md-input" name="amount" type="text" value="{{due}}" >
                                </div>
                                <div class="uk-width-medium-1-1 uk-margin-top uk-hidden reconciliation-box">
                                    <div class="bank-details uk-hidden">
                                        <p>
                                            <input type="checkbox" name="bank_reconciliation" id="bank_reconciliation" value="1" data-md-icheck />
                                            <label for="bank_reconciliation" class="inline-label">Bank reconciliation</label>
                                        </p>
                                        <div class="uk-hidden uk-grid reconciliation" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label>Check date</label>
                                                <input class="md-input" name="check_date" type="text" value="" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label>Check number</label>
                                                <input class="md-input" name="transaction_number" type="text" value="" >
                                            </div>
                                            <div class="uk-width-medium-1-1">
                                                <label>Payment note</label>
                                                <input class="md-input" name="note" type="text" value="" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mobile-bank-details uk-hidden">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-1">
                                                <label>Transaction number</label>
                                                <input class="md-input" name="transaction_number" type="text" value="" >
                                            </div>
                                            <div class="uk-width-medium-1-1">
                                                <label>Payment note</label>
                                                <input class="md-input" name="note" type="text" value="" >
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="uk-width-medium-1-1">
                                    <button type="button" class="md-btn md-btn-info payment-form-cancel">Cancel</button>
                                    <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                </div>
                            </div>
                        </form>
                        {{/ifCond}}

                        {{#ifCond bank_reconciliation '==' '1'}}
                            <span class='uk-badge uk-badge-warning'>Bank reconciliation pending...</span>
                        {{/ifCond}}
                    </div>
                </div>
                {{/ifCond}}
                {{/if}}

                {{#ifCond note '!==' '' }}
                <p>
                    <span class="uk-text-muted uk-display-block uk-text-small">Note:</span>
                    <span>
                        {{note}}
                    </span>
                </p>
                {{/ifCond}}
            </div>
            <div class="uk-width-medium-1-2 uk-margin-top">
                <table class="uk-table">
                    <tr>
                        <td>Actual price value:</td>
                        <td class="uk-text-right">{{actual_total_price}} {{currency}}</td>
                    </tr>
                    <tr>
                        <td>Total vat:</td>
                        <td class="uk-text-right">{{total_vat}} {{currency}}</td>
                    </tr>

                    <tr>
                        <td>Total labor cost:</td>
                        <td class="uk-text-right">{{total_labor_cost}} {{currency}}</td>
                    </tr>
                    <tr>
                        <td>Total transport cost:</td>
                        <td class="uk-text-right">{{total_transport_cost}} {{currency}}</td>
                    </tr>
                    <tr>
                        <td>Total commission:</td>
                        <td class="uk-text-right">{{total_commission}} {{currency}}</td>
                    </tr>
                    <tr>
                        <td>Discount:</td>
                        <td class="uk-text-right">{{discount}} {{currency}}</td>
                    </tr>

                    <tr>
                        <td>Grand total:</td>
                        <td class="uk-text-right">{{grand_total}} {{currency}}</td>
                    </tr>
                    <tr>
                        <td>Rounding:</td>
                        <td class="uk-text-right">{{round_amount}} {{currency}}</td>
                    </tr>
                    <tr>
                        <th>Net payable amount</th>
                        <td class="uk-text-right uk-text-bold">{{net_payable_amount}} {{currency}}</td>
                    </tr>
                </table>



            </div>
            <div class="uk-width-medium-1-1 uk-margin-large-top ">
                <div class="uk-grid signature-line">
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">
                        <div class="signature">
                            <p class="uk-text-center uk-text-small">Customer's signature</p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">
                        <div class="signature">
                            <div class='signature-text' >
                                {{#ifCond prepare_signature_switch '==' '1'}}
                                    <img src='{{prepare_signature}}'>
                                {{/ifCond}}
                                <span class="uk-display-block">{{prepare_user_name}}</span>

                            </div>
                            <p class="uk-text-center uk-text-small">Prepared by</p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">
                        <div class="signature">
                            <p class="uk-text-center uk-text-small">Checked by</p>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-top signature-box">
                        <div class="signature">
                            <div class='signature-text uk-text-center' >
                            {{#if authorized}}
                                {{#ifCond authorize_signature_switch '==' '1'}}
                                    <img src='{{authorize_signature}}'>
                                {{/ifCond}}
                                <span class="uk-display-block">{{authorize_user_name}}</span>
                            {{/if}}
                            </div>
                            <p class="uk-text-center uk-text-small">Authorized by</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!---------------------------------------------------------New form------------------------------------------------>
<script id="document_form_template" type="document-template">
    <form action="" class="uk-form-stacked add-document">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons">&#xE161;</i>
            </div>
            <h4 class="document-heading">{{document_type_option_name}}</h4>
        </div>
        <div class="md-card-content large-padding" id="invoice-form-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label class="uk-form-label">Issue date:</label>
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                        <label>Select date</label>
                        <input class="md-input" name="issue_date" type="text" value="{{current_date}}" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                    </div>

                </div>
                <div class="uk-width-medium-1-3">
                    <div class="">
                        <label class="uk-form-label">Due date(days):</label>
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                            <label>Days</label>
                            <input class="md-input" name="due_day" type="text"  value="{{default_due_day}}">
                        </div>
                    </div>

                </div>
                <div class="uk-width-medium-1-3">
                    <span class="uk-text-muted uk-text-small uk-text-italic">Total:</span>
                    <p class="heading_b uk-text-success grand_total"><span></span> {{currency}}</p>
                    <p class="uk-text-small uk-text-muted actual_price">Actual price: <span></span> {{currency}}</p>
                    <p class="uk-text-small uk-text-muted total_vat">Total vat: <span></span> {{currency}}</p>
                    <p class="uk-text-small uk-text-muted total_labor_cost">Total labor cost: <span></span> {{currency}}</p>
                    <p class="uk-text-small uk-text-muted total_transport_cost">Total transport cost: <span></span> {{currency}}</p>
                    <p class="uk-text-small uk-text-muted total_commission">Total commission: <span></span> {{currency}}</p>
                    <p class="uk-text-small uk-text-muted total_discount">Total discount: <span></span> {{currency}}</p>
                    <p class="uk-text-small uk-text-muted net_payable_amount">Net payable amount: <span></span> {{currency}}</p>
                    <p class="uk-text-small uk-text-muted round_amount">Round amount: <span></span> {{currency}}</p>
                </div>

            </div>
            <div class="uk-grid uk-grid-divider grid-block" data-uk-grid-margin>
                <div class="uk-width-medium-8-10">
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon">To:</span>
                        <div data-uk-tooltip="" title="User">
                            <select class="user-selector" name="receiver_id">
                                <option value="">Select {{user_type}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="new-user-form uk-hidden">
                        <div class="uk-grid " data-uk-grid-margin  >
                            <div class="uk-width-medium-10-10">
                                <div class="md-card user_content">
                                    <h4 class="heading_c uk-margin-bottom ">Add new {{user_type}}</h4>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <div class="uk-grid "  data-uk-grid-margin>
                                                <div class="uk-width-medium-1-1 parsley-row">
                                                    <label>Name</label>
                                                    <input class="md-input" type="text" name="name">
                                                </div>
                                                <div class="uk-width-medium-1-1">
                                                    <label for="company">Company name</label>
                                                    <input class="md-input" type="text" name="company_name" id="company" >
                                                </div>
                                                <div class="uk-width-medium-1-1">
                                                    <label for="email">Email</label>
                                                    <input class="md-input" type="text" id="email" name="email"/>
                                                </div>
                                                <div class="uk-width-medium-1-1">
                                                    <label for="mobile">Mobile</label>
                                                    <input class="md-input" type="text" name="mobile" id="mobile" >
                                                </div>
                                                <div class="uk-width-medium-1-1">
                                                    <div class="uk-input-group tag-chooser" data-uk-tooltip="" title="Area">
                                                        <select name="area" >
                                                            <option value="">Select area</option>
                                                        </select>
                                                        <span class="uk-input-group-addon">
                                                            <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete">delete_forever</i>
                                                            <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save">save</i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="uk-width-medium-1-1">
                                                    <label>Address line 1</label>
                                                    <textarea class="md-input" name="address_line_1"></textarea>
                                                </div>
                                                <div class="uk-width-medium-1-1">
                                                    <label>Address line 2</label>
                                                    <textarea class="md-input" name="address_line_2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-large-1-2">
                                            <button type="button" class="md-btn md-btn-success user-save">Save</button>
                                            <button type="button" class="md-btn md-btn-info user-cancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-info"></div>


                </div>
                <div class="uk-width-medium-2-10 suggest-before-prescription">
                    <!--<a href="" class="suggest-link" target="_blank">-->
                    <!--<div class="uk-button-dropdown hide" >-->
                    <!--<div class="uk-badge uk-badge-warning uk-badge-notification">-->
                    <!--<span class="suggest-number">26</span>-->
                    <!--<i class="material-icons ">&#xE313;</i>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</a>-->
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div id="form_document_services">

                    </div>
                    <hr class="hr">
                    <div id="form_transport_services"></div>
                    <div class="uk-text-center uk-margin-medium-top uk-margin-bottom">
                        <a href="#" class="md-btn md-btn-flat md-btn-flat-primary" id="document_form_append_special_service_btn" data-uk-tooltip="" title="Add special item"><i class="material-icons md-24">add</i> </a>
                        <a href="#" class="md-btn md-btn-flat md-btn-flat-primary" id="document_form_append_service_btn" data-uk-tooltip="" title="Add item"><i class="material-icons md-24">add_circle_outline</i> </a>

                        <a href="#" class="md-btn md-btn-flat md-btn-flat-primary" id="document_form_append_transport_btn" data-uk-tooltip="" title="Add transport"><i class="material-icons md-24">local_shipping</i></a>
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label>Note</label>
                    <textarea cols="30" rows="1" name="note" class="md-input"></textarea>

                </div>
                <div class="uk-width-medium-1-2 uk-position-relative uk-margin-bottom">

                    <label>Discount</label>
                    <input type="text" class="md-input" name="discount" />
                    <div class="md-btn-group uk-position-top-right discount-type" data-uk-button-radio="{target:'.md-btn'}">
                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button uk-active" data-type="flat">Flat</button>
                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button " data-type="percent">Percent</button>
                    </div>
                </div>


            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right uk-margin-large-bottom">
                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                    <button type="button" class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                    <button type="button" class="md-btn md-btn-success" data-button-name="save_and_new" >Save & new</button>
                </div>
            </div>
        </div>
    </form>
</script>
<script type="user-template" class="user-template">
    <div class="uk-input-group uk-margin-top">
        <span class="uk-input-group-addon"></span>
        <div>
            <!--<p class="uk-text-small">Email: {{email}}</p>-->
            <p class="uk-text-small">Mobile: {{mobile}}</p>
            <p class="uk-text-small">{{address_line_1}}</p>
            <p class="uk-text-small">{{address_line_2}}</p>
        </div>
    </div>
</script>
<script type="item-tooltip-template" class="item-tooltip-template">
    <p class="uk-margin-remove">Generic name: {{generic_name}}</p>
</script>

<!-----------------------------------------New service---------------------------------------------------------->
<script id="document_form_template_services" type="document-template">
    {{#ifCond service_id '!==' 1}}<hr class="md-hr"> {{/ifCond}}
    <div class="uk-grid service-item" data-uk-grid-margin data-service-number="{{service_id}}">
        <div class="uk-width-medium-1-10 uk-text-center">
            <span class="block-delete-button"><i class="material-icons">delete_forever</i></span>
            <p class="uk-text-large">{{service_id}}.</p>
        </div>
        <div class="uk-width-medium-9-10">
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-medium-3-10" data-uk-tooltip="" title="Item name">
                    <select type="text" class="document-service-name" name="item_id[]" >
                        <option value="">Select item</option>

                    </select>
                </div>
                <div class="uk-width-medium-1-10">
                    <label>Rate</label>
                    <input type="text" class="md-input" name="rate[]" >
                </div>

                <div class="uk-width-medium-1-10">
                    <label>Quantity</label>
                    <input type="text" class="md-input" name="quantity[]" />
                </div>

                <div class="uk-width-medium-3-10" data-uk-tooltip="" title="Item unit">
                    <select type="text" class="document-service-unit" name="item_unit[]" >
                        <option value="">Select unit</option>
                    </select>
                </div>

                <div class="uk-width-medium-2-10">
                    <label>Vat</label>
                    <input type="text" class="md-input" name="vat[]" readonly>
                </div>
                <div class="uk-width-medium-3-10">
                    <label>Commission</label>
                    <input type="text" class="md-input" name="commission[]">
                </div>

                <div class="uk-width-medium-2-10">
                    <label>Total vat</label>
                    <input type="text" class="md-input" name="total_vat[]" readonly/>
                </div>
                <div class="uk-width-medium-3-10">
                    <label>Total commission</label>
                    <input type="text" class="md-input" name="total_commission[]" readonly/>
                </div>
                <div class="uk-width-medium-2-10">
                    <label>Total</label>
                    <input type="text" class="md-input" name="total[]" readonly/>
                </div>




            </div>
        </div>
    </div>
</script>

<script id="document_form_template_special_item_services" type="document-template">
    {{#ifCond service_id '!==' 1}}<hr class="md-hr"> {{/ifCond}}
    <div class="uk-grid special-service-item" data-uk-grid-margin data-service-number="{{service_id}}">
        <div class="uk-width-medium-1-10 uk-text-center">
            <span class="block-delete-button"><i class="material-icons">delete_forever</i></span>
            <p class="uk-text-large">{{service_id}}.</p>
        </div>
        <div class="uk-width-medium-9-10">
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-medium-3-10" data-uk-tooltip="" title="Item name">
                    <select type="text" class="document-special-service-name" name="special_item_id[]" >
                        <option value="">Select item</option>

                    </select>
                </div>
                <div class="uk-width-medium-2-10">
                    <label>Total quantity</label>
                    <input type="text" class="md-input" name="special_item_total_quantity[]" readonly/>
                </div>

                <div class="uk-width-medium-3-10" data-uk-tooltip="" title="Item unit">
                    <select type="text" class="document-special-service-unit" name="special_item_unit[]" >
                        <option value="">Select unit</option>
                    </select>
                </div>
                <div class="uk-width-medium-2-10">
                    <label>Total price</label>
                    <input type="text" class="md-input" name="special_item_total[]" readonly/>
                </div>
                <div class="uk-width-medium-2-10">
                    <label>Vat</label>
                    <input type="text" class="md-input" name="special_item_vat[]" readonly/>
                </div>
                <div class="uk-width-medium-2-10">
                    <label>Commission</label>
                    <input type="text" class="md-input" name="special_item_commission[]" readonly/>
                </div>
                <div class="uk-width-medium-1-1">
                    <p> </p>
                    <div class="item-specifications">

                    </div>
                </div>



            </div>
        </div>
    </div>
</script>

<script id="document_form_transport_services" type="text/x-handlebars-template">
    <div class="uk-grid transport-item uk-margin-top" data-uk-grid-margin data-transport-number="{{transport_service_id}}">
        <div class="uk-width-medium-1-10 uk-text-center">
            <span class="block-delete-button"><i class="material-icons">delete_forever</i></span>
            <p class="uk-text-large">{{transport_service_id}}.

            </p>
        </div>
        <input type="hidden" name="before_transport_cost[]" value="">
        <div class="uk-width-medium-9-10">
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-medium-4-10 parsley-row">
                    <p class="uk-text-small uk-text-muted uk-margin-bottom-remove">Transport </p>
                    <select class="transport-selectize" name="transport[]" required>
                        <option value="">Select transport</option>
                    </select>
                </div>

                <div class="uk-width-medium-4-10 parsley-row">
                    <p class="uk-text-small uk-text-muted uk-margin-bottom-remove">Cost type </p>
                    <div class="uk-input-group cost-type-tag-chooser" data-uk-tooltip="" title="Cost type">
                        <select name="cost_type[]" >
                            <option value="">Select cost type</option>
                        </select>
                        <span class="uk-input-group-addon">
                            <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete">delete_forever</i>
                            <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save">save</i>
                        </span>
                    </div>
                </div>
                <div class="uk-width-medium-2-10 parsley-row uk-margin-top">
                    <label >Amount</label>
                    <input type="text" class="md-input transport_amount" name="amount[]" data-parsley-error-message="" required/>
                </div>

            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <input name="transport_desc[]" type="hidden">
                </div>
            </div>

        </div>
    </div>

</script>
<script id="item_specifications_template" type="text/x-handlebars-template">
    <div class="uk-grid" data-uk-grid-margin="">
        {{#each specifications}}
        <div class="uk-width-medium-2-10 service-item-specification" data-id="{{item_id}}" data-uk-tooltip="" title="">
            <label>{{name}}</label>
            <input type="text" class="md-input" name="sp_item_quantity[]"/>
        </div>
        {{/each}}
    </div>
</script>