@media print{
  body.print-layout *,body.print-layout{
   visibility: hidden;
   margin:0px;
   padding:0px;
  }
  body.print-layout .print-area,body.print-layout .print-area *{
   visibility: visible !important;
  }
  body.print-layout .hidden-print{
   display: none !important;
  }
  body.print-layout .print-area {
   position: absolute !important;
   left: 0 !important;
   top: 0!important;
   margin:0px;
   padding:0px;
  }

  .uk-width-medium-1-1 {
   width:100%
  }
  .uk-width-medium-1-2,
  .uk-width-medium-2-4,
  .uk-width-medium-3-6,
  .uk-width-medium-5-10 {
   width:50%
  }
  .uk-width-medium-1-3,
  .uk-width-medium-2-6 {
   width:33.333%
  }
  .uk-width-medium-2-3,
  .uk-width-medium-4-6 {
   width:66.666%
  }
  .uk-width-medium-1-4 {
   width:25%
  }
  .uk-width-medium-3-4 {
   width:75%
  }
  .uk-width-medium-1-5,
  .uk-width-medium-2-10 {
   width:20%
  }
  .uk-width-medium-2-5,
  .uk-width-medium-4-10 {
   width:40%
  }
  .uk-width-medium-3-5,
  .uk-width-medium-6-10 {
   width:60%
  }
  .uk-width-medium-4-5,
  .uk-width-medium-8-10 {
   width:80%
  }
  .uk-width-medium-1-6 {
   width:16.666%
  }
  .uk-width-medium-5-6 {
   width:83.333%
  }
  .uk-width-medium-1-10 {
   width:10%
  }
  .uk-width-medium-3-10 {
   width:30%
  }
  .uk-width-medium-7-10 {
   width:70%
  }
  .uk-width-medium-9-10 {
   width:90%
  }
  .uk-grid {
   display:-ms-flexbox;
   display:-webkit-flex;
   display:flex;
   -ms-flex-wrap:wrap;
   -webkit-flex-wrap:wrap;
   flex-wrap:wrap;
   margin:0;
   padding:0;
   list-style:none
  }
  .uk-grid:after,
  .uk-grid:before {
   content:"";
   display:block;
   overflow:hidden
  }
  .uk-grid:after {
   clear:both
  }
  .uk-grid>* {
   -ms-flex:none;
   -webkit-flex:none;
   flex:none;
   margin:0;
   float:left
  }
  .uk-grid>*>:last-child {
   margin-bottom:0
  }
  .uk-grid {
   margin-left:-25px
  }
  .uk-grid>* {
   padding-left:25px
  }
  .uk-grid+.uk-grid,
  .uk-grid-margin,
  .uk-grid>*>.uk-panel+.uk-panel {
   margin-top:25px
  }
    .visible-print{
        display: inherit !important;
        visibility: inherit !important;
    }

}
