.submit-button-action{
    margin-left: 1px;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'), url(fonts/Roboto-Regular.ttf) format('truetype');
}
/*.md-top-bar-actions-left.mailbox .md-btn-group {*/
	/*margin-left: 3px;*/
/*}*/
/*.md-top-bar-actions-left.mailbox {*/
	/*padding-left: 0px;*/
/*}*/
/*.md-top-bar-actions-left.mailbox .uk-button-dropdown {*/
	/*margin-top: 4px;*/
/*}*/
/*.md-top-bar-actions-left.mailbox .md-btn-group button {*/
  /*margin-right: 2px;*/
  /*border-radius: 100px;*/
  /*padding: 2px 8px;*/
/*}*/
/*.md-top-bar-actions-left.mailbox .md-btn-group button.uk-active:after {*/
  /*border-radius: 100px;*/
/*}*/

/*.mailbox-discount.uk-display-inline input, .mailbox-search.uk-display-inline input {*/
	/*margin-top: 6px;*/
    /*border:0px;*/
    /*border-bottom: 1px solid #b69a9a;*/
	/*padding: 4px;*/
	/*font-family: roboto;*/
/*}*/
/*.mailbox-discount.uk-display-inline input {*/
	/*width: 62px;*/
/*}*/
/*.mailbox-search.uk-display-inline input {*/
	/*width: 150px;*/
/*}*/

/*.mailbox-search.uk-display-inline i {*/
	/*position: absolute;*/
	/*right: 8px;*/
	/*top: 0;*/
/*}*/
/*.mailbox-search.uk-display-inline {*/
  /*position: relative;*/
/*}*/
/*.mailbox-discount.uk-display-inline {*/
	/*margin-right: 33px;*/
/*}*/

/*/mini bag//*/
section.stickyHeaderBag span.bag i {
    font-size: 30px !important;
    color: #b5cc16;
}
section.stickyHeaderBag {
    opacity: .7;
    cursor: pointer;
    position: fixed;
    width: 65px;
    height: 75px;
    background: #B2E7E1;
    right: 0;
    top: calc(110px + 30%);
    box-shadow: 0 0 16px -1px rgba(0,0,0,.75);
    /* display: none; */
    transition: .1s ease;
    z-index: 50;
    color: #7a0b0b;
}

section.stickyHeaderBag div.total {
    height: 20px;
    width: 100%;
    font-weight: 700;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
}
section.stickyHeaderBag div.total div.odometer {
    padding-left: 5px;
    display: inline-block;
}
section.stickyHeaderBag div.itemCount {
    height: 50px;
    background: #045604;
    width: 100%;
}
section.stickyHeaderBag div.itemCount p {
    color: #fff;
    margin-top: -2px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    padding-top: 0;
}
section.stickyHeaderBag span.bag {
    display: block;
    font-size: 16px
}
section.stickyHeaderBag {
    -vendor-animation-duration: 1s;
    /*
      -vendor-animation-delay: 2s;
      -vendor-animation-iteration-count: infinite;
    */
}
section.stickyHeaderBag:hover {
    opacity: 1;
}
.material-icons.item-minus.md-icon {
  border: 1px solid;
}
.material-icons.item-plus.md-icon {
  border: 1px solid;
}
.item-quantity {
  font-size: 25px;
}
 /*mailbox*/
/*.md-card-list-wrapper .md-card-list .md-card-list-item-date {*/
	/*display: inherit !important;*/
	/*border: 1px solid gray;*/
	/*padding-top: 4px;*/
/*}*/
/*.md-card-list-wrapper .md-card-list .md-card-list-item-avatar-wrapper .md-card-list-item-avatar {*/
	/*width: 52px;*/
/*}*/
/*.md-card-list-wrapper .md-card-list .md-card-list-item-sender > span {*/
	/*font-size: 18px;*/
/*}*/
/*.md-card-list-wrapper .md-card-list .md-card-list-item-subject .md-card-list-item-sender-small > span {*/
	/*font-size: 18px;*/
/*}*/

.invoice_header img {
	width: 650px;
	height: 100px;
	max-width: 100%;
	min-width: 100%;
}
.invoice_header {
	height: 100px;
	padding: 0;
	box-sizing: border-box;
	margin: -16px -16px 24px;
}
.adjustment, .reciept_adjustment {
	width: 22px;
	display: inline-block;
	padding: 2px;
	border-radius: 100%;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
}
#document {
	margin-left: 10px;
}
@media only screen and (max-width: 767px) {
    #document {
        margin-right: 10px;
    }
}
#document .dropify-wrapper .dropify-preview {
	padding: 0px;
}
.md-card-overlay.discount-overlay {
	min-height: 280px;
}
.md-card-overlay.print-header-overlay {
	height: 300px;
}
.md-card-overlay.print-footer-overlay {
	height: 250px;
}
.md-card-overlay.stock-overlay {
	height: 200px;
}
#video_player {
	height: 400px;
}
/*.md-card .md-card-head {*/
	/*height: 400px;*/
	/*position: relative;*/
	/*border-bottom: 1px solid rgba(0,0,0,.12);*/
/*}*/
.md-list-outside-wrapper .md-list-outside-search {
	position: absolute;
	top: -46px;
	left: 16px;
	right: 16px;
	z-index: 1000;
}
.md-list-outside-wrapper {
	position: relative;
}
.md-list-outside-wrapper .md-list-outside-search .md-input {
	border-bottom-color: transparent !important;
    color: #fff;
}
.uk-modal-dialog .uk-info-modal-close {
	top: 8px;
	right: 8px;
	position: absolute;
	float: none;
	margin: 0;
}
.uk-modal-dialog .uk-info-modal-close + h3{
    margin-top: 0px;
}
#sidebar_main .sidebar_main_header {
	height: 130px;
	border-bottom: 1px solid rgba(0,0,0,.12);
	margin-bottom: 20px;
	background-image: url(../img/sidebar_head_bg.png);
	background-repeat: no-repeat;
	background-position: -20px -124px;
}
.sidebar_logo img {
	width: 200px;
	height: 80px;
}
#sidebar_main .sidebar_main_header .sidebar_logo {
	height: 82px;
	line-height: 82px;
}

.compress-area{
	height: 300px;
	width: 100%;
}

.message-box.active{
	right: 0;
	top: 52px;
}
.message-box {
	position: fixed;
	right: -350px;
	top: 70px;
	width: 350px;
	transition: right 0.3s;
	z-index: 999999999;
}
.message-box .md-card-content{
	overflow: auto;
}
/*#page_content{*/
	/*position: relative;*/
	/*left: 0px;*/
	/*transition: left 0.3s;*/
/*}*/
.material-icons.message-box-close {
	position: absolute;
	right: 20px;
	top: 9px;
}
#page_content::after {
	content: "";
	height: 100%;
	width: 0%;
	position: absolute;
	background: black;
	top: 0;
	left: 0;
	opacity: 0.4;
	transition: width 0.3s;
	z-index: 99999;
}
#page_content.overlay::after {
	width: 100%;
}
#page_content.overlay {
	position: relative;
}

.password-show-button {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
.password-relative {
	position: relative;
}
.password-relative:hover .password-show-button{
	display: inherit;
}
.profile-nid {
	height: 250px;
}
.item-image {
	width: 250px;
}


.user_heading_avatar .fileinput-new.thumbnail img {
	height:  100%;
	width: 100%;
}
.user_heading_avatar .dropify-wrapper.has-preview {
	height: 80px;
}
.user_heading_avatar .dropify-preview {
	padding: 0px;
}
.user_heading_avatar .dropify-wrapper {
	height: 80px;
}
.user_heading_avatar .dropify-wrapper .dropify-message p {
	margin: 0px;
}
.cursor-pointer{
	cursor: pointer;
}
.logo-overlay {
	height: 300px;
}
.construction-overlay {
	height: 210px;
}
.fancytree-node.debit * {
	color: #ad2525;
}
.fancytree-node.credit * {
	color: #232390;
}

.not-set-error .fancytree-title::after {
	content: "?";
	color: red;
	font-size: 15px;
}
.dt-buttons .md-btn{
    min-width: 40px;
}
.selectize-control.multi {
	height: 40px;
	margin-top: 4px;
}
.selectize-control.multi .selectize-input {
	border-width: 0 0 1px;
	padding: 8px 8px 9px;
}
.selectize-control.multi .selectize-input .item {
	font-size: 15px;
}
.selectize-control.multi .selectize-input input {
	font-size: 15px;
}
.selectize-control.multi .selectize-input::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: grey transparent transparent transparent;
}
.selectize-control.multi .selectize-input::after {
	border: none !important;
	content: '\e5c5';
	font-family: "Material Icons";
	font-size: 28px;
	margin-top: -12px !important;
	right: 28px;
	color: rgba(0,0,0,.3);
}
.selectize-control.multi .selectize-input, .selectize-control.multi .selectize-input input {
	cursor: pointer;
}
.uk-table tfoot td, .uk-table tfoot th, .uk-table thead th {
	font-style: normal;
	font-weight: 400;
	color: #727272;
	font-size: 14px;
	vertical-align: top;
}
.signature {
	border-top: 2px solid #a9b2b9;
	position: relative;
}

/*User tree*/
.tree li img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

ul.tree li span.add_action, ul.tree li span.edit_action, ul.tree li span.highlight, ul.tree li span.delete_action {
	padding: 7px !important;
}
ul.tree .ui-droppable.ui-draggable.ui-draggable-handle.current {
	background: transparent !important;
	padding: 0px !important;
}
ul.tree li > div {
	background: transparent !important;
	padding: 0px !important;
}
ul.tree li div.parent {
	background: transparent !important;
	padding: 0px !important;
}

.requestfullscreen {
	font-size: 18px;
	cursor: pointer;
}
.requestfullscreen:hover i {
	color: #c25c5c;
}

img.back_btn {
	position: absolute !important;
	left: 15px;
	top: 15px;
	cursor: pointer;
	z-index: 3;
}
ul.tree {
	padding-left: 0px;
	margin: 0px !important;
}

.tree-user a {
	display: block;
	text-align: center;
	padding: 10px;
	background: lavenderblush;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tree-user a span {
	display: block !important;
}

ul.tree li span.exchange_action {
	position: absolute;
	width: 10px;
	height: 10px;
	cursor: pointer;
	/* display: none; */
	/* padding: 2px; */
	background-color: #e02222;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	right: 0;
	top: 35px;
}
.uk-sticky-placeholder .uk-active {
	z-index: 3;
}
.tree [data-position='Left']{
	background: #00e676;
}
.tree [data-position='Right']{
	background:#1de9b6;
}
.tree li .tree-user .exchange_action{
	display: none ;
}
/*.tree > li > .tree-user .edit_action{*/
	/*display: none !important;*/
/*}*/
.tree > li > .tree-user .exchange_action{
	display: inline-block;
}
/*.network .tree-user .edit_action{*/
	/*display: none !important;*/
/*}*/

.edit_data .close {
	width: 13px;
	height: 13px;
	margin-bottom: 6px;
}
ul.tree li form img.close {
	background-color: #f5eaea;
}
ul.tree li form {
	top: 48px;
}
.uk-tooltip {
	max-width: 425px;
}
ul.tree > li[class="child"] > .tree-user .exchange_action {
	display: none;
}
.cursor-pointer{
	cursor: pointer;
}
.cursor-pointer:hover {
	background: #f4ecee;
}
.padding-left-20{
	padding-left: 20px;
}
.tree-user form::before {
	content: "";
	position: absolute;
	top: -14px;
	border-color: #da9628 transparent;
	border-style: solid;
	border-width: 0px 15px 20px 15px;
	height: 0px;
	width: 0px;
}
.tree-user form{
	width: 250px;
}
.tree-user form .material-icons.md-icon {
	position: absolute;
	right: 0;
	top: 0;
}
.chemist-info {
	min-height: 60px;
}
.document-heading {
	margin-top: 15px;
}
.active-worker {
	border: 5px dashed darkgray;
}
.amount-as-words {
	text-transform: capitalize;
}
#document_preview .uk-table th {
	text-transform: capitalize;
}
.block-delete-button i {
	cursor: pointer;
	height: 39px;
	display: none;
}
.block-delete-button {
	height: 18px;
	display: inline-block;
}
.service-item:hover .block-delete-button i,.transport-item:hover .block-delete-button i,.special-service-item:hover .block-delete-button i {
	display: block;
}
.block-delete-button i:hover {
	color:  red !important;
}

@media only screen and (min-width: 768px) {
	.timeline.timeline-center {
		padding: 8px 0;
	}
	.timeline.timeline-center:before {
		left: 50%;
		margin-left: -2px;
	}
	.timeline.timeline-center .timeline_item {
		padding: 24px 0;
		width: 50%;
	}
	.timeline.timeline-center .timeline_item .timeline_date {
		position: absolute;
		float: none;
		white-space: nowrap;
		padding-top: 6px;
		margin-right: 0;
	}
	.timeline.timeline-center .timeline_item .timeline_date span {
		display: inline;
	}
	.timeline.timeline-center .timeline_item .timeline_content {
		padding: 16px 24px;
		background: #fff;
		-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		border-radius: 4px;
		position: relative;
		overflow: visible;
	}
	.timeline.timeline-center .timeline_item .timeline_content_addon {
		background: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 0;
		max-width: 100%;
		margin-top: 0;
	}
	.timeline.timeline-center .timeline_item .timeline_content_info {
		display: block;
		font-size: 13px;
		color: #727272;
		padding-bottom: 10px;
	}
	.timeline.timeline-center .timeline_item .timeline_content:before,
	.timeline.timeline-center .timeline_item .timeline_content:after {
		position: absolute;
		content: '';
		display: block;
		border: 8px solid transparent;
		top: 6px;
	}
	.timeline.timeline-center .timeline_item:nth-child(even) {
		margin-left: 50%;
	}
	.timeline.timeline-center .timeline_item:nth-child(even) .timeline_icon {
		left: -22px;
	}
	.timeline.timeline-center .timeline_item:nth-child(even) .timeline_content {
		margin-left: 40px;
	}
	.timeline.timeline-center .timeline_item:nth-child(even) .timeline_content:before {
		left: -16px;
		border-right-color: rgba(0, 0, 0, 0.1);
	}
	.timeline.timeline-center .timeline_item:nth-child(even) .timeline_content:after {
		left: -15px;
		border-right-color: #fff;
	}
	.timeline.timeline-center .timeline_item:nth-child(even) .timeline_date {
		right: 100%;
		padding-right: 40px;
	}
	.timeline.timeline-center .timeline_item:nth-child(odd) .timeline_icon {
		left: auto;
		right: -22px;
	}
	.timeline.timeline-center .timeline_item:nth-child(odd) .timeline_date {
		left: 100%;
		padding-left: 40px;
	}
	.timeline.timeline-center .timeline_item:nth-child(odd) .timeline_content {
		margin-right: 40px;
	}
	.timeline.timeline-center .timeline_item:nth-child(odd) .timeline_content:before {
		right: -16px;
		border-left-color: rgba(0, 0, 0, 0.1);
	}
	.timeline.timeline-center .timeline_item:nth-child(odd) .timeline_content:after {
		right: -15px;
		border-left-color: #fff;
	}
	.timeline.timeline-center .timeline_item:nth-child(odd) .timeline_content_addon {
		display: inline-block;
	}
}

.timeline_date .uk-input-group-addon {
	padding: 0px;
}
.timeline.timeline-center .timeline_item .timeline_date {
	top: 10px;
}
.timeline_date div {
	text-align: left;
}
.uk-grid.activity-by-time {
	padding-top: 7px;
}
.activity-by-time input {
	height: 26px;
	border: 1px solid #d6baba;
}
.activity-by-time input {
	height: 26px;
	border: 1px solid #d6baba;
	font: 400 15px/18px Roboto,sans-serif;
	text-align: center;
}
.suggest-input div{
	z-index: -1;
}
.suggest-input{
	overflow: hidden;
}

.suggest-input .delete {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	border: 1px solid;
}
.suggest-input .delete:hover {
	color: red;
}
.md-user-image {
	height: 34px;
}

#document_preview *  {
	font-size: 11px;
}
#document_preview .md-card-toolbar * {
	font-size: 15px;
}
#document_preview .material-icons {
	font-size: 24px;
}


#document_preview .uk-table td {
	padding: 0px;
	border-bottom-width: 3px;
}
#document_preview .uk-table th {
	padding: 0px;
	padding-bottom: 1px;
	font-weight: bold;
	border-bottom-width: 3px;
}
#document_preview .return-view, #document_preview .return-view * {
	font-size: inherit;
}

.document-type-heading span {
	font-size: 14px !important;
	display: inline-block;
	padding: 0px 5px;
	border: 3px solid darkgray;
	text-transform: uppercase;
}
.act_item a {
	color: #7cb342 !important;
	font-weight: 500;
}
.user_heading_avatar .dropify-wrapper.has-preview {
	height: 100%;
}

.signature-text {
	position: absolute;
	text-align: center;
	bottom: 20px;
	width: 100%;
	left: 0;
}
.signature p {
	margin-top: 0px;
}
.payment-form, .payment-form * {
	font-size: 15px !important;
}
.signature-line {
	margin-top: 50px;
}

.memo-line {
	position: relative;
	display: table;
	border-collapse: separate;
}
.line-title {
	display: table-cell;
	white-space: nowrap;
	vertical-align: middle;
	line-height: 1;
	text-align: center;
	font-size: 16px;
	min-width: 1%;
}
.line-content {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-left: 10px;
}
.line-content.dotted-border::after {
	content: "";
	width: 100%;
	display: block;
	border-bottom: 2px dotted;
}
.method-info {
	width: 67%;
	float: left;
}
.date-info {
	width: 30%;
	float: right;
}
.taka-box .line-content.dotted-border::after {
	border: 2px solid;
	height: 20px;
	position: absolute;
	top: -1px;
	left: 3px;
}
.taka-box {
	width: 20%;
}
.memo-logo img {
	width: 72px;
	margin-left: 100px;
}
.cash-memo, .cash-memo * {
	font-size: inherit !important;
}


.memo-company-heading h2 {
	font-size: 20px !important;
	font-weight: bold;
}
.memo-name h3 {
	font-size: 18px !important;
	background: #f57171 !important;
	color: white !important;
	padding: 1px 10px;
}
.memo-name.uk-float-left {
	float: right;
}
.memo-line {
	margin-bottom: 15px;
}
.cash-memo .signature-line {
	margin-top: 0px;
}
.taka.memo-line .line-content {
	font-weight: bold;
}
.print-date {
	width: 25%;
}
.height-auto {
	height: auto !important;
}
.jqs {
	height: 210px;
	margin-left: -20px;
}

.jqs-period-time {
	font-weight: 700;
	line-height: 16px;
	display: none;
}
.jqs-grid-day {
	min-width: 35px;
}

.jqs-table td {
	min-width: 35px;
	max-width: 35px;
}
.jqs-table {
	min-width: 200px;
}

.single-day {
	background: #41a9a3;
}
.single-day h3 {
	color: white;
	padding: 8px;
}
.signature-text img {
	height: 50px;
	width: 120px;
}
.signature-box {
	min-height: 90px;
}
/*.unit-manager {*/
	/*border: 1px solid cadetblue;*/
	/*padding: 10px;*/
/*}*/
.barcode-img {
	width: auto;
	height: 50px;
}

.company-banner {
    margin: -24px;
    position: absolute;
    width: 100%;
    height: 100px;
}
.company-banner .dropify-preview {
    padding: 0px !important;
}
.company-heading .user_heading_avatar .thumbnail {
    border-radius: 0px;
}
.company-banner .dropify-render img {
    height: 100%;
}

.company-banner .banner {
    height: 130px;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    background-color: #fff;
    background-image: none;
    /* text-align: center; */
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}
.company-banner .banner img {
    transform: translate(0, -50%);
    max-width: 100%;
    max-height: 100%;
    background-color: #fff;
    transition: border-color 0.15s linear;
    position: relative;
    top: 50%;
}
.user_heading.company-profile {
    background: white;
    border: 1px solid #e0e0e0;
}
.company-profile .fileinput-new.thumbnail {
    border-radius: 0px;
    border: 1px solid #e0e0e0;
}
#branches-menu li a{
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
}

.source-comment {
	position: relative;
	z-index: 1;
}
.source-comment + div {
	z-index: 0;
}
#sidebar_main .sidebar_main_header .sidebar_actions .selectize-input {
	width: 100%;
}
#sidebar_main .sidebar_main_header .sidebar_actions .selectize-control {
	float: none;
}
#sidebar_main .sidebar_main_header .sidebar_actions .selectize-dropdown {
	width: 100% !important;
}

.display-table {
	display: table;
	width: 100%;
}
.dispaly-table-row {
	display: table-row;
	width: 100%;
}
.display-table-cell {
	display: table-cell;
	padding-left: 5px;
}
.display-table-cell-full {
	width: 100%;
	vertical-align: top;
}
.display-table-cell-nowrap{
	white-space: nowrap;
}
.display-table-cell:first-child {
	padding-left: 0px;
}
.display-table-cell.dotted-border {
	border-bottom: 2px dotted;
}
.display-table-row {
	padding-bottom: 15px;
}
.service-item .uk-button-dropdown {
	margin-top: 15px;
}
.service-item .uk-input-group-addon {
	padding: 0 2px;
}
#modal_overflow .uk-modal-dialog > .uk-close:first-child {
	font-size: 20px;
}
.report-print-button.hidden-print {
	position: absolute;
	right: 30px;
}
.report-heading {
	text-align: center;
}
.distribution-status {
	margin-left: 5px;
}
.uk-display-block.account-number {
	font-size: 12px !important;
	color: gray;
}

.selectize-control.payment-method-selectize.single {
	margin-bottom: 20px;
}
.institute-setting-icon {
	margin-top: -5px;
}

.event-customize {
	position: absolute;
	right: 0;
	border-radius: 50px;
	background: white;
	visibility: hidden;
}
.event-customize {
	color: #1b16db;
	font-size: 14px;
}
.fc-content:hover .event-customize {
	visibility: visible;
}
#footer {
	z-index: 2;
}
.md-input.application-field {
	height: 200px;
}
.series-name .display-table-cell.display-table-cell-nowrap {
	min-width: 34px;
}
.ganttview-block {
	cursor: default;
}
.ganttview-block-container.groupId_0 {
	cursor: default;
}

.color-bar .uk-width-1-10 {
	padding: 0px;
	margin-left: 5px;
}
.color-box {
	width: 20px;
	display: inline-block;
	height: 20px;
}
.print-button{
	position: absolute;
	right: 0;
}
.print-button {
	position: absolute;
	right: 20px;
}
.ganttview-block {
	color: white;
}
.dashboard-calendar #page_content_inner,.admin-daily-attendance #page_content_inner {
	padding: 0px;
}
.institute-chooser,.year-chooser,.month-chooser {
	display: inline-block;
	margin-left: 50px;
	min-width: 300px;
	vertical-align: bottom;
}
.year-chooser {
	min-width: 150px;
}
.month-chooser {
	min-width: 200px;
}
.monthly-attendance-table td, .monthly-attendance-table th {
	border: 1px solid #ddd;
}
.area-manager-parent {
	font-size: 10px;
	color: #a68e92;
	font-style: italic;
}
#sidebar_main .sidebar_main_header .sidebar_logo a {
	margin-left: 0px;
}
#sidebar_main .sidebar_main_header {
	height: auto;
	border-bottom: 1px solid rgba(0,0,0,.12);
	margin-bottom: 0;
	background-image: none;
}

.sidebar_logo img {
	width: auto;
	height: 80px;
	max-width: 100%;
	max-height: 100%;
}

[data-attentance-character="H"] {
	color: white;
	background: #dc4040;
	padding: 2px;
}
#page_content_inner #page_content_inner {
	padding: 0px;
}
.md-list-outside-wrapper .md-list-outside-search .md-input {
	border-bottom-color: transparent !important;
	color: #fff;
}

.sidebar_secondary_active .md-list-outside-wrapper .md-list-outside-search {
	left: 0px;
	right: 0px;
	background: #1976d2;
	padding: 0px 10px;
}
.md-list-outside-wrapper .md-list-outside-search {
	position: absolute;
	top: -46px;
	left: 16px;
	right: 16px;
	z-index: 1000;
}