    <div id="page_content_inner">
        <div id="error_page">
            <div class="error_page_header">
            <div class="uk-width-8-10 uk-container-center">
                404!
            </div>
        </div>
        <div class="error_page_content">
            <div class="uk-width-8-10 uk-container-center">
                <p class="heading_b">Page not found</p>
                <p class="uk-text-large">
                    The requested URL <span class="uk-text-muted">/some_url</span> was not found on this server.
                </p>
                <a href="#" onclick="history.go(-1);return false;">Go back to previous page</a>
            </div>
        </div>

        </div>

    </div>