    <!--<div id="top_bar">-->
        <!--<form>-->
            <!--<div class="uk-grid activity-by-time">-->
                <!--<div class="uk-width-medium-1-10 uk-width-small-1-10">-->
                    <!--<ul id="breadcrumbs">-->
                        <!--<li>Activities</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="uk-width-medium-3-10 uk-width-small-3-10">-->
                    <!--<input type="text" placeholder=" Select date" data-uk-datepicker="{format:'YYYY-MM-DD'}">-->
                <!--</div>-->
                <!--<div class="uk-width-medium-1-10 uk-width-small-1-10">-->
                    <!--<label>To</label>-->
                <!--</div>-->
                <!--<div class="uk-width-medium-3-10 uk-width-small-3-10">-->
                    <!--<input type="text" placeholder=" Select date" data-uk-datepicker="{format:'YYYY-MM-DD'}">-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->

    <!--</div>-->
    <div id="page_content_inner" ng-controller="activities">
        <div class="uk-width-large-2-3 uk-container-center">
            <div class="timeline timeline-center">
                <div class="timeline_item" ng-if="activity_switch" ng-repeat="activity in rows">
                    <div class="timeline_icon timeline_icon_success uk-invisible" data-uk-scrollspy="{cls:'uk-animation-scale-up uk-invisible', delay:300, repeat: true}">
                        <span ng-bind-html="((activity.action | activity_icon))"></span>
                    </div>
                    <div class="timeline_date uk-invisible " data-uk-scrollspy="{cls:'uk-animation-slide-(($even | if : 'right' : '' : 'left')) uk-invisible', delay:300}">
                        <span>((activity.time | time))</span>
                        <div class="">
                            <span class="uk-input-group-addon">
                                <a data-uk-tooltip="" title="((activity.controller_name))" href="profile/((activity.controller_member_id))"> <img src="((activity.controller_image))" class="md-user-image"></a>
                            </span>
                            <span>((activity.user_id | controller_type_name))</span>
                        </div>
                    </div>
                    <div ng-bind-html="((activity | activity_template))" class="timeline_content uk-invisible" data-uk-scrollspy="{cls:'uk-animation-slide-(($even | if : 'left' : '' : 'right')) uk-invisible', delay:300}">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="activity-template" class="common-template">
        <span class="timeline_content_info">{{action_name}}</span>
        <div class="timeline_content_addon">
            <ul class="md-list md-list-addon">
                <li>
                    <div class="md-list-addon-element">
                        <img class="md-user-image md-list-addon-avatar" src="{{affected_image}}" alt="">
                    </div>
                    <div class="md-list-content">
                        <span class="md-list-heading">{{affected_name}}</span>
                        <span class="uk-text-small uk-text-muted">{{description}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </script>

    <script type="activity-template" class="chemist-template">
        <span class="timeline_content_info">{{action_name}}</span>
        <div class="">
            <ul class="md-list">
                <li>
                    <div class="md-list-content">
                        <span class="md-list-heading">{{affected_name}}</span>
                        <span class="uk-text-small uk-text-muted">{{market_name}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </script>

    <script type="activity-template" class="item-template">
        <span class="timeline_content_info">{{action_name}}</span>
        <div class="timeline_content_addon">
            <ul class="md-list md-list-addon">
                <li>
                    <div class="md-list-addon-element">
                        <img class="md-user-image md-list-addon-avatar" src="{{affected_image}}" alt="">
                    </div>
                    <div class="md-list-content">
                        <span class="md-list-heading">{{affected_name}}</span>
                        <span class="uk-text-small uk-text-muted uk-display-block">Item code: {{item_code}}</span>
                        <span class="uk-text-small uk-text-muted uk-display-block">Generic name: {{generic_name}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </script>
    <script type="activity-template" class="document-template">
        <span class="timeline_content_info">{{action_name}}</span>
        <div class="">
            <ul class="md-list">
                <li>
                    <div class="md-list-content">
                        <span class="md-list-heading">{{affected_name}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </script>

    <script type="activity-template" class="simple-template">
        <span class="timeline_content_info">{{action_name}}</span>
        <div class="">
            <ul class="md-list">
                <li>
                    <div class="md-list-content">
                        <span class="md-list-heading">{{affected_name}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </script>
    <script type="activity-template" class="invoice-payment">
        <span class="timeline_content_info">{{action_name}}</span>
        <div class="">
            <ul class="md-list">
                <li>
                    <div class="md-list-content">
                        <span class="md-list-heading">{{affected_name}}</span>
                        <span class="uk-text-small">Amount {{payment_amount}} {{currency}}</span>
                    </div>

                </li>

            </ul>
        </div>
    </script>




