
        <div id="page_content_inner" data-ng-controller="add_item">
            <form method="post" class="add-item" id="form" data-ng-submit="submit()">
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Add new item</h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-2 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Item name</label>
                                            <input class="md-input item-name-field" type="text" name="item_name" required>
                                        </div>

                                        <div class="uk-width-large-1-1 parsley-row uk-position-relative">
                                            <label>Vat </label>
                                            <input class="md-input" type="text" name="vat_amount" value="0" >
                                            <div class="md-btn-group uk-position-top-right vat-type" data-uk-button-radio="{target:'.md-btn'}">
                                                <button type="button" class="md-btn md-btn-wave waves-effect waves-button" data-type="flat">Flat</button>
                                                <button type="button" class="md-btn md-btn-wave waves-effect waves-button uk-active" data-type="percent">Percent</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Selling price</label>
                                            <input class="md-input item-price-field" type="text" name="selling_price" value="0" required>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Purchase price</label>
                                            <input class="md-input item-price-field" type="text" name="purchase_price" value="0">
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Offer price</label>
                                            <input class="md-input item-price-field" type="text" name="offer_price" value="0">
                                        </div>

                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Unit</label>
                                            <input class="md-input" type="text" name="item_unit" required value="Pcs">
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Item code</label>
                                            <input class="md-input" type="text" name="code">
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <label>Barcode</label>
                                            <input class="md-input" type="text" name="barcode">
                                        </div>

                                        <div class="uk-width-large-1-1 parsley-row uk-position-relative">
                                            <label>Sale labor cost </label>
                                            <input class="md-input" type="text" name="sale_labor_cost_amount" value="0" >
                                            <div class="md-btn-group uk-position-top-right sale-labor-cost-type" data-uk-button-radio="{target:'.md-btn'}">
                                                <button type="button" class="md-btn md-btn-wave waves-effect waves-button" data-type="flat">Flat</button>
                                                <button type="button" class="md-btn md-btn-wave waves-effect waves-button uk-active" data-type="percent">Percent</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row uk-position-relative">
                                            <label>Purchase labor cost </label>
                                            <input class="md-input" type="text" name="purchase_labor_cost_amount" value="0" >
                                            <div class="md-btn-group uk-position-top-right purchase-labor-cost-type" data-uk-button-radio="{target:'.md-btn'}">
                                                <button type="button" class="md-btn md-btn-wave waves-effect waves-button" data-type="flat">Flat</button>
                                                <button type="button" class="md-btn md-btn-wave waves-effect waves-button uk-active" data-type="percent">Percent</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row uk-position-relative">
                                            <label>Sale commission </label>
                                            <input class="md-input" type="text" name="sale_commission_amount" value="0" >
                                            <div class="md-btn-group uk-position-top-right sale-commission-type" data-uk-button-radio="{target:'.md-btn'}">
                                                <button type="button" class="md-btn md-btn-wave waves-effect waves-button" data-type="flat">Flat</button>
                                                <button type="button" class="md-btn md-btn-wave waves-effect waves-button uk-active" data-type="percent">Percent</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row uk-position-relative">
                                            <label>Purchase commission </label>
                                            <input class="md-input" type="text" name="purchase_commission_amount" value="0" >
                                            <div class="md-btn-group uk-position-top-right purchase-commission-type" data-uk-button-radio="{target:'.md-btn'}">
                                                <button type="button" class="md-btn md-btn-wave waves-effect waves-button" data-type="flat">Flat</button>
                                                <button type="button" class="md-btn md-btn-wave waves-effect waves-button uk-active" data-type="percent">Percent</button>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-2 uk-margin-bottom">
                                                    <p class="uk-margin-bottom uk-margin-top">
                                                        <input type="checkbox" class="notification-switch" data-md-icheck name="notification_switch" value="1" />
                                                        <label  class="">Notification</label>
                                                    </p>
                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="notification-amount-field uk-hidden">
                                                        <label>Enter amount</label>
                                                        <input class="md-input" type="text" name="notification_amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-width-large-1-2 uk-margin-top">
                                    <h3 class="heading_a uk-margin-small-bottom">Image</h3>
                                    <div class="uk-grid"  data-uk-grid-margin>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <div class="item-image">
                                                <input type="file" accept="image/*" multiple class="dropify" name="image">
                                            </div>

                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <h3 class="uk-accordion-title">Categories</h3>
                                            <div class="uk-grid">
                                                <div class="uk-width-medium-1-1">
                                                    <div class="tree-radio fancytree-radio category-tree">

                                                    </div>
                                                </div>
                                                <div class="uk-width-medium-1-1 category-add-section">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon">
                                                            <i class="material-icons md-icon add-category" data-ng-click="add_category()" data-uk-tooltip="" title="Add category">add_circle_outline</i>
                                                            <i class="material-icons md-icon close uk-hidden" data-ng-click="category_form_dismiss()" data-uk-tooltip="" title="Close">close</i>
                                                        </span>
                                                                <div class="category-add-form uk-hidden">
                                                                    <div class="uk-input-group">
                                                                        <label>Category name</label>
                                                                        <input class="md-input" name="name">
                                                                        <span class="uk-input-group-addon">
                                                                    <i class="material-icons md-icon save" data-uk-tooltip="" title="Save" data-ng-click="save_category()">save</i>
                                                                </span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="uk-width-large-1-1 parsley-row">
                                            <div class="uk-form-row">
                                                <input type="checkbox" checked data-switchery id="user_edit_active" name="active" value="1">
                                                <label for="user_edit_active" class="inline-label">Active</label>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                            </div>



                            <div class="uk-grid">
                                <div class="uk-width-large-1-2">
                                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                    <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>