<div id="page_content_inner" ng-controller="add_institute">
    <h4>((page_title))</h4>
    <form class="add-institute" data-ng-submit="submit()" id="form">
        <div class="uk-grid print-area"  data-uk-grid-margin>
            <div class="uk-width-medium-10-10">
                <!--<button ng-click="submit()" type="button">click</button>-->
                <div class="md-card">
                    <div class="user_heading company-heading" data-uk-sticky="{ top: 48, media: 960 }">
                        <!-- company banner -->
                        <div class="company-banner">
                            <input class="dropify" type="file" data-height="130" name="banner" data-default-file="static/app/assets/img/default/banner-long.jpg">
                        </div>

                        <div class="user_heading_avatar fileinput fileinput-new">
                            <div class="fileinput-new thumbnail">
                                <input class="profile-dropify" type="file" name="logo" data-default-file="static/app/assets/img/default/logo.png">
                            </div>
                        </div>
                        <div class="user_heading_content">

                        </div>
                        <div class="md-fab-wrapper">
                            <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                <i class="material-icons">&#xE8BE;</i>
                                <div class="md-fab-toolbar-actions">
                                    <button type="reset" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Clear">
                                        <i class="material-icons md-color-white">clear</i>
                                    </button>
                                    <button type="submit"
                                            data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save"><i
                                            class="material-icons md-color-white">&#xE161;</i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                            <li class="uk-active"></li>
                        </ul>
                        <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <h3 class="full_width_in_card heading_c">
                                    General info
                                </h3>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-2">
                                        <label for="user_name">School name</label>
                                        <input class="md-input" id="user_name" required type="text" name="name" ng-model="user_name">
                                    </div>
                                    <div class="uk-width-medium-1-2">
                                        <label for="contact_number">Contact number</label>
                                        <input class="md-input" type="text" name="contact_number" id="contact_number" required>
                                    </div>
                                    <div class="uk-width-medium-1-2 ">
                                        <label for="address">Address</label>
                                        <input class="md-input" type="text" id="address" name="address"/>
                                    </div>
                                    <div class="uk-width-medium-1-2">
                                        <label for="since">School code</label>
                                        <input class="md-input" type="text" required id="since" name="code">
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-margin-large-bottom" data-uk-tooltip="" title="Shift">
                                        <select class="shift-selectize" name="shifts[]" multiple>
                                            <option value="">Select shift</option>
                                        </select>
                                    </div>
                                    <div class="uk-width-medium-1-2 ">
                                        <div class="uk-grid" data-uk-grid-margin="">
                                            <div class="uk-width-medium-1-1 ">
                                                <input type="checkbox" checked data-switchery id="user_edit_active" name="active" value="1">

                                                <label for="user_edit_active" class="inline-label">Active</label>
                                            </div>
                                            <div class="uk-width-medium-1-1 ">
                                                <input type="checkbox" checked data-switchery id="user_edit_in_sms_switch" name="in_sms_switch" value="1">
                                                <label for="user_edit_in_sms_switch" class="inline-label">In sms</label>
                                            </div>
                                            <div class="uk-width-medium-1-1 ">
                                                <input type="checkbox" checked data-switchery id="user_edit_out_sms_switch" name="out_sms_switch" value="1">
                                                <label for="user_edit_out_sms_switch" class="inline-label">Out sms</label>
                                            </div>
                                        </div>

                                    </div>


                                </div>


                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                        <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                        <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>