<div id="page_content_inner" ng-controller="add_controller">
    <h4>((page_title))</h4>
    <form class="add-controller" ng-if="controller_type" data-ng-submit="submit()" id="form">
        <div class="uk-grid print-area"  data-uk-grid-margin>
            <div class="uk-width-medium-7-10">
                <!--<button ng-click="submit()" type="button">click</button>-->
                <div class="md-card">
                    <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                        <div class="user_heading_avatar fileinput fileinput-new">
                            <div class="fileinput-new thumbnail">
                                <input class="profile-dropify" type="file" name="image" data-default-file="static/app/assets/img/avatars/user.png">
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b">
                                <span class="uk-text-truncate">((user_name))</span>
                                <span class="sub-heading">((member_id))</span>
                            </h2>
                        </div>
                        <div class="md-fab-wrapper">
                            <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                <i class="material-icons">&#xE8BE;</i>
                                <div class="md-fab-toolbar-actions">
                                    <button type="reset" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Clear">
                                        <i class="material-icons md-color-white">clear</i>
                                    </button>
                                    <button type="submit"
                                            data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save"><i
                                            class="material-icons md-color-white">&#xE161;</i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                            <li class="uk-active"></li>
                        </ul>
                        <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-margin-top">
                                    <h3 class="full_width_in_card heading_c">
                                        General info
                                    </h3>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label for="user_name">Name</label>
                                            <input class="md-input" id="user_name" required type="text" name="name" ng-model="user_name">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="member_id">Member id</label>
                                            <input class="md-input" required type="text" id="member_id" name="member_id" ng-model="member_id">
                                        </div>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label for="mobile">Mobile</label>
                                            <input class="md-input" type="text" name="mobile" id="mobile" required>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="email">Email</label>
                                            <input class="md-input" type="text" id="email" name="email"/>
                                        </div>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label for="second_contact">Second contact</label>
                                            <input class="md-input" type="text" name="second_contact" id="second_contact">
                                        </div>
                                        <div class="uk-width-medium-1-2 password-relative">
                                            <label for="password">Password</label>
                                            <input class="md-input" type="password" required id="password" name="password"/>
                                            <span class="password-show-button"><i class="material-icons md-icon">remove_red_eye</i> </span>
                                        </div>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2 parsley-row">
                                            <div class="uk-input-group tag-chooser" data-uk-tooltip="" title="Designation">
                                                <select name="designation" required>
                                                    <option value="">Select Designation</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="joining_date">Joining date</label>
                                            <input class="md-input" type="text" id="joining_date" name="joining_date" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row">
                                            <div class="uk-input-group blood-tag-chooser" data-uk-tooltip="" title="Blood group">
                                                <select name="blood_group" >
                                                    <option value="">Select blood group</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save">save</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row" ng-if="controller_type!=='system_designer' && controller_type!=='admin' && controller_type!=='system_admin'">
                                            <div class="uk-input-group department-tag-chooser">
                                                <select name="department" required>
                                                    <option value="">Select department</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="address">Address</label>
                                            <input class="md-input" type="text" id="address" name="address" >
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-form-row login-schedule">
                                                <input type="checkbox" data-switchery value="1">
                                                <label class="inline-label">Login schedule</label>

                                                <div class="schedule-container uk-hidden">
                                                    <div class="scheduler">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="uk-grid uk-hidden-small" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                            <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                            <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-3-10">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_c uk-margin-medium-bottom">Other settings</h3>
                        <div class="uk-form-row">
                            <input type="checkbox" checked data-switchery id="user_edit_active" name="active" value="1">
                            <label for="user_edit_active" class="inline-label">Active</label>
                        </div>

                        <div class="access-menus" ng-if="access_menus_switch">
                            <h5 class="uk-margin-top">Access menus</h5>
                            <div class="tree-checkbox">
                                <ul style="">
                                    <li class="folder" id="all">
                                        All
                                        <ul>
                                            <li ng-repeat="menu in estimate_access_menus" id="((menu.id))"> ((menu.menu_name))</li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="permission-parts" ng-if="permission_parts_switch">
                            <h5 class="uk-margin-top">Other permission</h5>
                            <div class="access-permission-parts">
                                <ul style="">
                                    <li class="folder" id="all">
                                        All
                                        <ul>
                                            <li ng-repeat="menu in permission_parts" id="((menu.id))"> ((menu.name))</li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <hr class="md-hr">


                        <h5 class="uk-margin-top">Signature (image)
                            <input ng-if="user.signature_switch == '1'" type="checkbox" checked data-switchery  name="signature_switch" value="1">
                            <input ng-if="user.signature_switch !== '1' " type="checkbox" data-switchery name="signature_switch" value="1">
                        </h5>
                        <div class="signature-image">
                            <input type="file" data-min-width="119" data-max-width="121" data-min-height="49" data-max-height="51" class="signature-dropify" name="signature" accept="image/*">
                        </div>



                        <div class="uk-grid uk-hidden-medium uk-hidden-large uk-margin-large-top" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div ng-if="!controller_type" class="">
        <h1 class="uk-text-center">Undefined user type!</h1>
    </div>
</div>