<div id="page_content_inner" class="uk-padding-bottom-remove" ng-controller="add_special_item">
    <div class="md-card">
        <div class="md-card-content">
            <h5 class="heading_c uk-margin-bottom">Add new special item</h5>
            <form class="add-special-item" id="form" data-ng-submit="submit()">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-7-10 parsley-row">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <label>Item name</label>
                                <input class="md-input" type="text" name="name" value="" >
                            </div>
                            <div class="uk-width-medium-1-1">
                                <label>Units</label>
                                <input class="units-selectize" type="text" name="units" value="" placeholder="Enter units">
                            </div>

                            <div class="uk-width-medium-1-1">
                                <div class="uk-grid form_section" id="d_form_row">
                                    <div class="uk-width-medium-1-1">
                                        <div class="uk-input-group">
                                            <div class="uk-grid" data-uk-grid-margin="">
                                                <div class="uk-width-medium-1-2">
                                                    <label>Specification</label>
                                                    <input class="md-input" type="text" name="specification[]" value="" >
                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <select class="item-selectize" name="item_id[]">
                                                        <option value="">Select item</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span class="uk-input-group-addon">
                                                <a href="#" class="btnSectionClone" data-section-clone="#d_form_row"><i class="material-icons md-24">&#xE146;</i></a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="uk-width-medium-1-1 uk-margin-bottom submit-button-action">
                                <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>