<div id="page_content_inner" ng-controller="admin_home_2">
    <h3 class="hidden-print">Student dashboard</h3>
    <!-- statistics (small charts) -->
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-7-10">
            <div class="uk-grid uk-grid-width-large-1-3 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler hierarchical_show hidden-print top-cards">

            </div>
        </div>
        <div class="uk-width-medium-3-10">
            <!-- Attendense Card Pie Chart Menu Start -->
            <div class="uk-width-small-1-1 uk-sortable sortable-handler hierarchical_show">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">TEACHERS CHART</h4>
                        <div id="c3_chart_donut" class="c3chart"></div>
                    </div>
                </div>
            </div>
            <!-- Attendense Card Pie Chart Menu End -->
        </div>
    </div>
    <p class="uk-margin-top uk-text-large">Attendance Quick Menu</p>
    <div class="uk-grid uk-margin-bottom uk-grid-width-1-1 uk-grid-width-large-1-3" data-uk-grid-margin>
        <div><a href="student-list" class="md-btn md-btn-twitter md-btn-block md-btn-icon"><i class="uk-icon-twitterr"></i>Student Register Report</a></div>
        <div><a href="monthly-attendance-report/2" class="md-btn md-btn-gplus md-btn-block md-btn-icon"><i class="uk-icon-google-pluss"></i>Monthly Attendance report</a></div>
        <div><a href="application/leave" class="md-btn md-btn-twitter md-btn-block md-btn-icon"><i class="uk-icon-twitterr"></i>Leave Application</a></div>
    </div>

    <h4 class="heading_a uk-margin-bottom">Today's attendance report</h4>
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="dt_colVis_buttons"></div>
            <table id="dt_tableHeeshab" class="uk-table" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th ng-repeat="item in table_columns_format">((item.name))</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th ng-repeat="item in table_columns_format">((item.name))</th>
                </tr>
                </tfoot>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>

</div>

<script type="info-card" class="info-card">
    {{#each this}}
    <div class="uk-margin-bottom">
        <a href="{{link}}">
        <div class="md-card">
            <div class="md-card-content">
                {{#ifCond this.card_type '==' 'peity_orders'}}
                <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_orders peity_data">{{current}}/{{total}}</span></div>
                <span class="uk-text-muted uk-text-small">{{name}} (out of <span class="total-teacher">{{total}}</span>)</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">0<noscript>{{current}}</noscript></span></h2>
                {{/ifCond}}

                {{#ifCond this.card_type '==' 'peity_visitors'}}
                <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_visitors peity_data">{{data}}</span></div>
                <span class="uk-text-muted uk-text-large">{{name}}</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">0<noscript>{{total}}</noscript></span></h2>
                {{/ifCond}}

            </div>
        </div>

        </a>
    </div>
    {{/each}}

</script>


<script type="institute-select-template" class="institute-select-template">
    <div class="institute-chooser" data-uk-tooltip="" title="School">
        <select class="institute-selectize">
            <option value="">Select institute</option>
        </select>
    </div>
</script>