<div id="page_content_inner" ng-controller="area_manager">
    <div class="md-card">
        <div class="md-card-content" style="min-height: 500px">
            <h3>Area manager</h3>
            <form class="area-manager-form" data-ng-submit="submit()">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-7-10">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-10-10" data-uk-tooltip="" title="Area parent">
                                <select class="area-parent-selectize" name="parent">
                                    <option value="">Select area parent</option>
                                </select>
                            </div>
                            <div class="uk-width-medium-10-10 child-selector">

                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-3-10">
                        <button type="reset" class="md-btn md-btn-info">Cancel</button>
                        <button class="md-btn md-btn-success" data-button-name="save">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<script type="area_manager" class="area-manager-template">
    <div class="uk-grid" data-uk-grid-margin="">

        <div class="uk-width-medium-1-1"  data-uk-tooltip="" title="{{child}}">
            <select class="area-child-selectize" name="child" data-type="{{child}}">
                <option value="">Select {{child}}</option>
            </select>
        </div>
        <div class="uk-width-medium-1-1"  data-uk-tooltip="" title="{{sub_child}}">
            <select class="area-sub-child-selectize" multiple name="sub_childes[]" data-type="{{sub_child}}">
                <option value="">Select {{sub_child}}</option>
            </select>
        </div>


    </div>
</script>