<div id="page_content_inner" ng-controller="attendance">
    <h3 class="hidden-print">Attendance</h3>

    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-8-10">
            <div class="md-card">
                <div class="md-card-content">
                    <form class="add-attendance" id="form" data-ng-submit="submit()">
                        <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-7-10">
                                <select class="attendance-institute-chooser">
                                    <option value="">Select/Search institute</option>
                                </select>
                            </div>
                            <div class="uk-width-medium-3-10">
                                <div class="uk-margin-bottom">
                                    <label for="joining_date">Date</label>
                                    <input class="md-input" type="text" id="joining_date" name="date" data-uk-datepicker="{format:'YYYY-MM-DD'}" value="((current_date))">
                                </div>
                            </div>
                        </div>

                        <ul class="md-list md-list-addon">
                            <li data-id="((teacher.user_id))" ng-repeat="teacher in teachers">
                                <input type="hidden" name="users[]" value="((teacher.user_id))">
                                <div class="md-list-addon-element">
                                    <img class="md-user-image md-list-addon-avatar" data-ng-src="((teacher.image))" alt="((teacher.name))'s image"/>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">((teacher.name))</span>
                                    <span class="uk-text-small uk-text-muted">((teacher.designation))</span>
                                    <div class="uk-margin-top uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-6-10">
                                            <span class="icheck-inline">
                                                <input type="radio" name="status_of_((teacher.user_id))" id="radio_demo_inline_1_((teacher.id))" data-md-icheck value="present" />
                                                <label for="radio_demo_inline_1_((teacher.id))" class="inline-label">Present</label>
                                            </span>
                                                <span class="icheck-inline">
                                                <input type="radio" name="status_of_((teacher.user_id))" id="radio_demo_inline_2" data-md-icheck value="late"/>
                                                <label for="radio_demo_inline_2" class="inline-label">Late</label>
                                            </span>
                                                <span class="icheck-inline">
                                                <input type="radio" name="status_of_((teacher.user_id))" id="radio_demo_inline_3" data-md-icheck value="early"/>
                                                <label for="radio_demo_inline_3" class="inline-label">Early</label>
                                            </span>
                                            </span>
                                                <span class="icheck-inline">
                                                <input type="radio" name="status_of_((teacher.user_id))" id="radio_demo_inline_3" data-md-icheck value="late_and_early"/>
                                                <label for="radio_demo_inline_3" class="inline-label">Late & Early</label>
                                            </span>

                                            </span>
                                                <span class="icheck-inline">
                                                <input type="radio" name="status_of_((teacher.user_id))" id="radio_demo_inline_4" data-md-icheck value="none"/>
                                                <label for="radio_demo_inline_4" class="inline-label">None</label>
                                            </span>

                                        </div>
                                        <div class="uk-width-medium-4-10">
                                            <label for="note[]">Note</label>
                                            <input class="md-input" type="text" id="note[]" name="notes[]">
                                        </div>

                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="uk-margin-large-bottom submit-button-action">
                            <button type="reset" class="md-btn md-btn-info">Cancel</button>
                            <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
