
        <div id="page_content_inner" data-ng-controller="bank_cash">
            <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                <div class="uk-width-large-1-11">
                    <div class="md-card user_content">
                        <h4 class="heading_c uk-margin-bottom ">Bank cash info <a href="edit-bank-cash/((bank_cash.bank_id))" class="uk-float-right" data-uk-tooltip="" title="Edit"><i class="material-icons md-icon">create</i> </a></h4>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-large-1-2 parsley-row">
                                <div class="uk-grid "  data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        <ul class="md-list">
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">Name</span>
                                                    <span class="uk-text-small uk-text-muted">((bank_cash.name))</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">Type</span>
                                                    <span class="uk-text-small uk-text-muted">((bank_cash.type_name))</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">Account number</span>
                                                    <span class="uk-text-small uk-text-muted">((bank_cash.account_number))</span>
                                                </div>
                                            </li>


                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">Balance</span>
                                                    <span class="uk-text-small uk-text-muted">((bank_cash.balance)) ((currency))</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">Description</span>
                                                    <span class="uk-text-small uk-text-muted">((bank_cash.description))</span>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>

