<div id="page_content_inner" ng-controller="calendar">
    <h3>((page_title))</h3>
    <div class="md-card">
        <div class="md-card-content">
            <div class="calendar"></div>
        </div>
    </div>
</div>

<script type="event-type-template" class="event-type-template">
    <div class="uk-margin-bottom">
        <h3 class="heading_c ">Event type</h3>
        <select class="event-selectize">
            <option value="">Select event type</option>
        </select>
    </div>

</script>
<script type="event-type-template" class="event-customize-template">
    <i class="material-icons event-customize event-delete" data-uk-tooltip="" title="Delete">delete_forever</i>
</script>

