    <div id="page_content_inner">
        <div id="error_page">
            <div class="error_page_header">
            <div class="uk-width-8-10 uk-container-center">

            </div>
        </div>
        <div class="error_page_content">
            <div class="uk-width-8-10 uk-container-center">
                <!--<img src="static/app/assets/img/default/deactivate.png">-->
                <h1 class="uk-text-center">This site is down for maintenance</h1>
                <h3 class="uk-text-center">Please contact with admin</h3>
            </div>
        </div>

        </div>

    </div>