    <div id="page_content_inner" data-ng-controller="customer_vendor">
        <div  class="uk-form-stacked ">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-1-1">
                    <div class="md-card">
                        <input type="hidden"  name="user_id" value="">
                        <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img src="((user.image))" alt="user avatar"/>
                                    <input type="hidden" name="before_image" value="">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b"><span class="uk-text-truncate" id="user_edit_uname">((user.name))</span><span class="sub-heading" id="user_edit_position">((user.member_id))</span></h2>
                            </div>
                            <div class="md-fab-wrapper" ng-if="basic_info.logged_user_id">
                                <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                    <a href="edit-((user_type))/((user.user_id))">
                                        <i class="material-icons" style="color:white;line-height:45px;font-size:25px">create</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="user_content">
                            <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">

                            </ul>
                            <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                                <li>
                                    <div class="uk-margin-top uk-margin-bottom">
                                        <h3 class="full_width_in_card heading_c">
                                            General info
                                        </h3>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Name</b></label>
                                                <br>
                                                ((user.name))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Company name</b></label>
                                                <br>
                                                ((user.company_name))
                                            </div>
                                        </div>

                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label ><b>Phone</b></label>
                                                <br>
                                                ((user.mobile))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Email</b></label>
                                                <br>
                                                ((user.email))
                                            </div>
                                        </div>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label ><b>area</b></label>
                                                <br>
                                                ((user.area_name))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Member ID</b></label>
                                                <br>
                                                ((user.member_id))
                                            </div>
                                        </div>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label ><b>Address line 1</b></label>
                                                <br>
                                                ((user.address_line_1))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label ><b>Address line 2</b></label>
                                                <br>
                                                ((user.address_line_2))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label ><b>Balance</b></label>
                                                <br>
                                                ((user.balance)) ((currency))
                                            </div>



                                        </div>


                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>