<div id="page_content_inner" ng-controller="data_table">
    <h4 class="heading_a uk-margin-bottom">((page_title))</h4>
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="dt_colVis_buttons"></div>
            <table id="dt_tableHeeshab" class="uk-table" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th ng-repeat="item in table_columns_format">((item.name))</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th ng-repeat="item in table_columns_format">((item.name))</th>
                </tr>
                </tfoot>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <!-- hidden content for data table -->
    <script class="chemist-action" type="dataTableData">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="chemist/{{member_id}}"><i class="material-icons">find_in_page</i> View</a></li>
                    <li><a href="edit-chemist/{{user_id}}"><i class="material-icons">create</i> Edit</a></li>
                    <li><a href="#" class='delete'><i class="material-icons">delete_forever</i> Delete</a></li>
                </ul>
            </div>
        </div>
    </script>
    <script class="bank-cash-action" type="dataTableData">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="bank-cash/{{bank_id}}"><i class="material-icons">find_in_page</i> View</a></li>
                    <li><a href="edit-bank-cash/{{bank_id}}"><i class="material-icons">create</i> Edit</a></li>
                    <li><a href="#" class='delete'><i class="material-icons">delete_forever</i> Delete</a></li>
                </ul>
            </div>
        </div>
    </script>
    <script class="shift-action" type="dataTableData">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="shift-settings/{{id}}"><i class="material-icons">schedule</i> settings</a></li>
                    <li><a href="edit-shift/{{id}}"><i class="material-icons">create</i> Edit</a></li>
                    <li><a href="#" class='delete'><i class="material-icons">delete_forever</i> Delete</a></li>
                </ul>
            </div>
        </div>
    </script>

    <script class="customer-vendor-action" type="dataTableData">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="{{user_type}}/{{member_id}}"><i class="material-icons">find_in_page</i> View</a></li>
                    <li><a href="edit-{{user_type}}/{{user_id}}"><i class="material-icons">create</i> Edit</a></li>
                    <li><a href="#" class='delete'><i class="material-icons">delete_forever</i> Delete</a></li>
                </ul>
            </div>
        </div>
    </script>

    <script class="item-action" type="dataTableData">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="item/{{item_id}}"><i class="material-icons">find_in_page</i> View</a></li>
                    <li><a href="edit-item/{{item_id}}"><i class="material-icons">create</i> Edit</a></li>
                    <li><a href="#" class='delete'><i class="material-icons">delete_forever</i> Delete</a></li>
                </ul>
            </div>
        </div>
    </script>

    <script class="transport-action" type="dataTableData">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="transport/{{member_id}}"><i class="material-icons">find_in_page</i> View</a></li>
                    <li><a href="edit-transport/{{transport_id}}"><i class="material-icons">create</i> Edit</a></li>
                    <li><a href="#" class='delete'><i class="material-icons">delete_forever</i> Delete</a></li>
                </ul>
            </div>
        </div>
    </script>
    <script class="report-action" type="dataTableData">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="report/{{id}}"><i class="material-icons">find_in_page</i> View</a></li>
                    <li><a href="#" class='delete'><i class="material-icons">delete_forever</i> Delete</a></li>
                </ul>
            </div>
        </div>
    </script>
    <script class="dynamic-report-action" type="dataTableData">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="dynamic-report-template/{{id}}"><i class="material-icons">find_in_page</i> View</a></li>
                    <li><a href="edit-dynamic-report-template/{{id}}"><i class="material-icons">create</i> Edit</a></li>
                    <li><a href="#" class='delete'><i class="material-icons">delete_forever</i> Delete</a></li>
                </ul>
            </div>
        </div>
    </script>



    <script class="special-item-action" type="dataTableData">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="special-item/{{member_id}}"><i class="material-icons">find_in_page</i> View</a></li>
                    <li><a href="edit-special-item/{{item_id}}"><i class="material-icons">create</i> Edit</a></li>
                    <li><a href="#" class='delete'><i class="material-icons">delete_forever</i> Delete</a></li>
                </ul>
            </div>
        </div>
    </script>

    <script class="mark-action-template" type="dataTableData">
        Action
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                   <li><a href="#" class='mark-all'><i class="material-icons">done_all</i> Mark all</a></li>
                   <li><a href="#" class='unmark-all uk-hidden'><i class="material-icons">clear</i> Unmark all</a></li>
                </ul>
            </div>
        </div>
    </script>
    <script class="mark-save-button" type="dataTableData">
        <button class="md-btn save-marked uk-hidden">Save marked</button>
    </script>

    <script class="bulk-sms-continue" type="dataTableData">
        <button class="md-btn bulk-continue" data-id={{id}}>Continue</button>
    </script>


    <script class="payment-request-action" type="dataTableData">
        {{#ifCond active '==' "0"}}
        <button class="request-honor md-btn">Honor</button>
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
            <i class="material-icons md-icon">more_vert</i>
            <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="#" class='request-cancel'><i class="material-icons">close</i>Cancel</a></li>
                </ul>
            </div>
        </div>
        {{/ifCond}}
    </script>
    <script class="payment-request-status" type="dataTableData">

    </script>
    <script class="payment-request-sender" type="dataTableData">
        <img src="{{sender_image}}" class="md-user-image">
        {{sender_name}}
    </script>


    <script class="item-add-action-template" type="dataTableData">
        {{#if stock}}
        <button class="md-btn add-item-to-branch">Add more</button>
        {{else}}
        <button class="md-btn add-item-to-branch">Add to branch</button>
        {{/if}}
        <span class="uk-hidden mark-checkbox">
            <input type="checkbox" class="" data-md-icheck value="1" />
        </span>

    </script>

    <script class="bank-cash-permission" type="dataTableData">
        <span class="bank-cash-permission-checkbox">
            <input type="checkbox" class="" {{#ifCond status '==' 1}} checked {{/ifCond}} data-md-icheck value="1" />
        </span>
    </script>


    <script class="item-amount-template" type="dataTableData">
        <label>Enter quantity</label>
        <input class="md-input"  type="text" name="quantity" required value="0">
    </script>
    <script class="item-price-template" type="dataTableData">
        <label>Enter price</label>
        <input class="md-input"  type="text" name="price" required value="{{average_rate}}">
    </script>

    <script class="item-unit-template" type="dataTableData">
        <select class="item-unit" name="item_unit">
            <option value="">Select unit</option>
            {{#each units}}
                {{#ifCond @index '==' 0}}
                <option selected value="{{id}}">{{unit_name}}</option>
                {{/ifCond}}
                {{#ifCond @index '!==' 0}}
                <option value="{{id}}">{{unit_name}}</option>
                {{/ifCond}}
            {{/each}}
        </select>
    </script>
    <script class="item-date-template" type="dataTableData">
        <label>Date</label>
        <input class="md-input" value="{{date}}"  type="text" name="date" required data-uk-datepicker="{format:'YYYY-MM-DD'}">
    </script>

    <script class="student-dashboard-link" type="dataTableData">
        <a href="student/{{member_id}}/0" class=''>{{name}}</a>
    </script>

    <script class="institute-link" type="dataTableData-template">
        <a target="_blank" href="institute/{{member_id}}" class=''>{{institute_name}}</a>
    </script>






</div>
