<div id="page_content_inner" ng-controller="document_source">
    <div class="md-card">
        <div class="md-card-content">
            <h5 class="heading_c uk-margin-bottom">Document source manager</h5>
            <div class="uk-width-large-1-1 parsley-row">
                <h3 class="uk-accordion-title">Sources</h3>
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <div class="tree-radio fancytree-radio document-source-tree">

                        </div>
                    </div>
                    <div class="uk-width-medium-1-2 document-source-add-section">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">
                                <i class="material-icons md-icon add-source" data-ng-click="add_source()" data-uk-tooltip="" title="Add source">add_circle_outline</i>
                                <i class="material-icons md-icon close uk-hidden" data-ng-click="source_form_dismiss()" data-uk-tooltip="" title="Close">close</i>
                            </span>
                            <div class="source-add-form uk-hidden">
                                <div class="uk-input-group">
                                    <div >
                                        <div class="uk-width-medium-1-1">
                                            <label>Source name</label>
                                            <input class="md-input" name="name">
                                        </div>
                                        <div class="uk-width-medium-1-1 uk-margin-top">
                                            <div class="uk-input-group tag-chooser">
                                                <select name="comment" required>
                                                    <option value="">Select comment</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                                </span>
                                            </div>
                                        </div>
                                        <!--<div class="uk-width-medium-1-1">-->
                                            <!--<div class="uk-form-row uk-margin-top">-->
                                                <!--<input type="checkbox" data-switchery id="negative" name="negative" value="1">-->
                                                <!--<label for="negative" class="inline-label">Negative</label>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div class="uk-width-medium-1-1 uk-margin-top">
                                            <label>Icon</label>
                                            <input class="md-input" name="icon">
                                        </div>
                                    </div>
                                    <span class="uk-input-group-addon">
                                        <i class="material-icons md-icon save" data-uk-tooltip="" title="Save document source" data-ng-click="save_source()">save</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>