<div id="page_content_inner" ng-controller="document">
    <div class="uk-width-medium-10-10 uk-container-center reset-print">
        <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
            <div class="uk-width-large-7-10">
                <div class="md-card md-card-single main-print uk-margin-bottom" id="document">
                    <div id="document_preview"></div>
                    <div id="document_form"></div>
                </div>
            </div>
            <div class="uk-width-large-3-10 hidden-print uk-visible-large" ng-include="'templates/app/pages/parts/document-list.html'">

            </div>
        </div>
    </div>
    <div class="" ng-if="document_add_permission">
        <div class="md-fab-wrapper">
            <a class="md-fab md-fab-accent md-fab-wave-light" href="#" id="document_add">
                <i class="material-icons">&#xE145;</i>
            </a>

        </div>
    </div>


    <div id="sidebar_secondary">
        <div class="sidebar_secondary_wrapper uk-margin-remove" ng-include="'templates/app/pages/parts/document-list.html'">

        </div>
    </div>
    <div>
        <ng-include src="'templates/app/pages/parts/application.html'" onload="templates_init()" ng-if="document_manager.training"></ng-include>
        <ng-include src="'templates/app/pages/parts/application.html'" onload="templates_init()" ng-if="document_manager.leave"></ng-include>
    </div>
</div>
<!---------------------------------------------------------Empty form------------------------------------------------>
<script id="empty_document" type="document-template">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">

        </div>
        <h4 class="document-heading">{{document_type_option_name}}</h4>
    </div>
    <div class="md-card-content large-padding">
        <h2 class="uk-text-center">Empty</h2>
    </div>
</script>