<div id="page_content_inner" class="uk-padding-bottom-remove" ng-controller="add_dynamic_report">
    <div class="md-card">
        <div class="md-card-content">
            <h5 class="heading_c uk-margin-bottom">Add new dynamic report</h5>
            <form class="add-dynamic-report" id="form" data-ng-submit="submit()">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-7-10 parsley-row">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <label>Template name</label>
                                <input class="md-input" type="text" name="name" value="" >
                            </div>
                            <div class="uk-width-medium-1-1">
                                <div class="root-stage">

                                </div>
                            </div>

                            <div class="uk-width-medium-1-1 uk-margin-bottom submit-button-action">
                                <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script type="report-template" class="stage-template">
    {{#each params}}
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1">
            <label>{{stage_name}}</label>
            <div class="uk-input-group">
                <select class="{{stage_label}}" name="stage[{{stage_label}}][{{param_id}}][]" data-id="{{param_id}}" multiple>
                    <option value="">Select {{param_name}} params</option>
                </select>
                <span class="uk-input-group-addon">
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click',pos:'left-top'}">
                        <i class="material-icons md-icon advance">more_vert</i>
                        <div class="uk-dropdown uk-dropdown-width-2 uk-text-left">
                            <p>Options:</p>
                            <div class="uk-margin-top">
                                <select name="columns[{{stage_label}}][{{param_id}}][]" class="columns" multiple>
                                    <option value="">Columns</option>
                                </select>
                            </div>
                            <div class="uk-form-row uk-margin-top">
                                <input type="checkbox" class="data-show-switch" data-switchery name="data_show[{{stage_label}}][{{param_id}}]" value="1">
                                <label class="inline-label">Data show</label>
                            </div>
                            <div class="uk-form-row uk-margin-top">
                                <input type="checkbox" class="line-total-switch" data-switchery name="line_total[{{stage_label}}][{{param_id}}]" value="1">
                                <label class="inline-label">Line total</label>
                            </div>

                            <div class="uk-margin-top">
                                <label>Equation name ex: total</label>
                                <input type="text" class="md-input equation-name" name="equation_name[{{stage_label}}][{{param_id}}]">
                            </div>
                            <div class="uk-margin-top">
                                <select name="equation_rule[{{stage_label}}][{{param_id}}][]" class="equation-rule" multiple>
                                    <option value="">Rule</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </span>
            </div>
            <div class="child-stage uk-margin-top"></div>
        </div>
    </div>
    {{/each}}
</script>