<div id="page_content_inner" ng-controller="edit_shift">
    <form method="" class="edit-shift" id="form" data-ng-submit="submit()">
        <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
            <div class="uk-width-large-1-11">
                <div class="md-card user_content">
                    <h4 class="heading_c uk-margin-bottom ">Edit shift </h4>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>Shift name</label>
                            <input class="md-input" type="text" name="name" required value="((shift.name))">
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2">
                            <button type="button" data-ng-click="previous_page()" class="md-btn md-btn-info">Cancel</button>
                            <button class="md-btn md-btn-success" data-button-name="save">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>