<div id="page_content_inner" ng-controller="edit_teacher">
    <h4>((page_title))</h4>
    <form class="edit-teacher" data-ng-submit="submit()" id="form">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-7-10">
                <!--<button ng-click="submit()" type="button">click</button>-->
                <div class="md-card">
                    <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                        <div class="user_heading_avatar fileinput fileinput-new">
                            <div class="fileinput-new thumbnail">
                                <input class="profile-dropify" type="file" name="image" data-default-file="static/app/assets/img/avatars/user.png">
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b">
                                <span class="uk-text-truncate">((user_name))</span>
                                <span class="sub-heading">((member_id))</span>
                            </h2>
                        </div>
                        <div class="md-fab-wrapper">
                            <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                <i class="material-icons">&#xE8BE;</i>
                                <div class="md-fab-toolbar-actions">
                                    <button type="reset" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Clear">
                                        <i class="material-icons md-color-white">clear</i>
                                    </button>
                                    <button type="submit"
                                            data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save"><i
                                            class="material-icons md-color-white">&#xE161;</i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                            <li class="uk-active"></li>
                        </ul>
                        <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-margin-top">
                                    <h3 class="full_width_in_card heading_c">
                                        General info
                                    </h3>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label for="user_name">Name</label>
                                            <input class="md-input" id="user_name" type="text" name="name" ng-model="user_name" required>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="member_id">Member id</label>
                                            <input class="md-input" type="text" id="member_id" name="member_id" ng-model="member_id" required>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="mobile">Mobile</label>
                                            <input class="md-input" type="text" name="mobile" id="mobile" required value="((user.mobile))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="email">Email</label>
                                            <input class="md-input" type="text" id="email" name="email" value="((user.email))"/>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="birth_date">Birth date</label>
                                            <input class="md-input" type="text" id="birth_date" name="birth_date" data-uk-datepicker="{format:'YYYY-MM-DD'}" value="((user.birth_date))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="device_id">Device user id</label>
                                            <input class="md-input" type="text" id="device_id" name="device_user_id" value="((user.device_user_id))">
                                        </div>
                                        <div class="uk-width-medium-1-2" data-uk-tooltip="" title="Shift">
                                            <select class="shift-selectize" name="shift">
                                                <option value="">Select shift</option>
                                            </select>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="educational_qualification">Educational qualification</label>
                                            <input class="md-input" type="text" id="educational_qualification" name="educational_qualification" value="((user.educational_qualification))">
                                        </div>
                                        <div class="uk-width-medium-1-1 parsley-row">
                                            <div class="uk-input-group trainings" data-uk-tooltip="" title="Trainings">
                                                <select name="trainings[]" multiple>
                                                    <option value="">Trainings</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1 parsley-row">
                                            <div class="uk-input-group subject-wise-trainings" data-uk-tooltip="" title="Subject wise trainings">
                                                <select name="subject_wise_trainings[]"  multiple>
                                                    <option value="">Subject wise trainings</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row" ng-if="!same_user">
                                            <div class="uk-input-group tag-chooser" data-uk-tooltip="" title="Designation">
                                                <select name="designation" required>
                                                    <option value="">Select Designation</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="joining_date">Joining date</label>
                                            <input class="md-input" type="text" id="joining_date" name="joining_date" data-uk-datepicker="{format:'YYYY-MM-DD'}" value="((user.joining_date))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="address">Permanent address</label>
                                            <input class="md-input" type="text" id="address" name="permanent_address" value="((user.address))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-grid" data-uk-grid-margin="">
                                                <div class="uk-width-medium-1-1">
                                                    <label for="first_date_of_job">First date of job</label>
                                                    <input class="md-input" type="text" id="first_date_of_job" name="first_date_of_job" data-uk-datepicker="{format:'YYYY-MM-DD'}" value="((user.first_date_of_job))">
                                                </div>
                                                <div class="uk-width-medium-1-1 uk-margin-top password-relative password-field uk-hidden">
                                                    <label for="password">Password</label>
                                                    <input class="md-input" type="password"  id="password" name="password"/>
                                                    <span class="password-show-button"><i class="material-icons md-icon">remove_red_eye</i> </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="uk-grid uk-hidden-small" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                            <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                            <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-3-10">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_c uk-margin-medium-bottom">Other settings</h3>
                        <div class="uk-form-row" ng-if="!same_user">
                            <input ng-if="user.active" type="checkbox" checked data-switchery id="user_edit_active" name="active" value="1">
                            <input ng-if="!user.active" type="checkbox" data-switchery id="user_edit_active" name="active" value="1">
                            <label for="user_edit_active" class="inline-label">Active</label>
                        </div>

                        <div class="uk-grid uk-hidden-medium uk-hidden-large uk-margin-large-top" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>