<div id="page_content_inner" ng-controller="edit-profile">
    <h4>((page_title))</h4>
    <form class="edit-profile" data-ng-submit="submit()" id="form">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-7-10">
                <!--<button ng-click="submit()" type="button">click</button>-->
                <div class="md-card">
                    <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                        <div class="user_heading_avatar fileinput fileinput-new">
                            <div class="fileinput-new thumbnail">
                                <input class="profile-dropify" type="file" name="image" data-default-file="((user.image))">
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b">
                                <span class="uk-text-truncate">((name))</span>
                                <span class="sub-heading">((member_id))</span>
                            </h2>
                        </div>
                        <div class="md-fab-wrapper">
                            <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                <i class="material-icons">&#xE8BE;</i>
                                <div class="md-fab-toolbar-actions">
                                    <button type="button" data-ng-click="previous_page()" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Clear">
                                        <i class="material-icons md-color-white">clear</i>
                                    </button>
                                    <button type="submit"
                                            data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save"><i
                                            class="material-icons md-color-white">&#xE161;</i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                            <li class="uk-active"></li>
                        </ul>
                        <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-margin-top">
                                    <h3 class="full_width_in_card heading_c">
                                        General info
                                    </h3>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label for="user_name">Name</label>
                                            <input class="md-input" id="user_name" required type="text" name="name" ng-model="name">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="member_id">Member id</label>
                                            <input class="md-input" type="text" id="member_id" required name="member_id" ng-model="member_id">
                                        </div>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label for="mobile">Mobile</label>
                                            <input class="md-input" type="text" name="mobile" required id="mobile" value="((user.mobile))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="email">Email</label>
                                            <input class="md-input" type="text" id="email" name="email" value="((user.email))"/>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="second_contact">Second contact</label>
                                            <input class="md-input" type="text" name="second_contact" id="second_contact" value="((user.second_contact))">
                                        </div>
                                        <div class="uk-width-medium-1-2 password-relative">
                                            <label for="password">Password</label>
                                            <input class="md-input" type="password"  id="password" name="password">
                                            <span class="password-show-button"><i class="material-icons md-icon">remove_red_eye</i> </span>
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row" ng-if="designation_editable">
                                            <div class="uk-input-group tag-chooser"  data-uk-tooltip="" title="Designation">
                                                <select name="designation" required>
                                                    <option value="">Select Designation</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="joining_date">Joining date</label>
                                            <input class="md-input" type="text" id="joining_date" name="joining_date" value="((user.joining_date))" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row">
                                            <div class="uk-input-group blood-tag-chooser" data-uk-tooltip="" title="Blood group">
                                                <select name="blood_group" >
                                                    <option value="">Select blood group</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save">save</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row" ng-if="controller_type!=='system_designer' && controller_type!=='system_admin' && controller_type!=='admin'" >
                                            <div class="uk-input-group department-tag-chooser">
                                                <select name="department" required>
                                                    <option value="">Select department</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="address">Address</label>
                                            <input class="md-input"  type="text" id="address" name="address" value="((user.address))">
                                        </div>
                                        <div class="uk-width-medium-1-2" ng-if="basic_info.logged_user_id !== user.user_id">
                                            <div class="uk-form-row login-schedule">
                                                <input ng-if="user.login_schedule_switch == '1'" type="checkbox" checked data-switchery value="1">
                                                <input ng-if="user.login_schedule_switch !== '1'" type="checkbox" data-switchery value="1">
                                                <label class="inline-label">Login schedule</label>

                                                <div class="schedule-container uk-hidden">
                                                    <div class="scheduler">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-grid uk-hidden-small" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                            <button type="button" data-ng-click="previous_page()" class="md-btn md-btn-info">Cancel</button>
                                            <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="uk-width-medium-3-10" ng-if="basic_info.logged_user_id !== user.user_id">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_c uk-margin-medium-bottom">Other settings</h3>
                        <div class="">
                            <div class="uk-form-row">
                                <input ng-if="user.active" type="checkbox" checked data-switchery id="user_edit_active" name="active" value="1">
                                <input ng-if="!user.active" type="checkbox" data-switchery id="user_edit_active" name="active" value="1">
                                <label for="user_edit_active" class="inline-label">Active</label>
                            </div>
                            <label>Area</label>
                            <div class="uk-form-row">
                                <select class="area" name="area">
                                    <option value="">Area</option>
                                </select>
                            </div>


                            <div class="access-menus" ng-if="access_menus_switch">
                                <h5 class="uk-margin-top">Access menus</h5>
                                <div class="tree-checkbox">
                                    <ul style="">
                                        <li class="folder" id="all">
                                            All
                                            <ul>
                                                <li ng-repeat="menu in estimate_access_menus" id="((menu.id))"> ((menu.menu_name))</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="permission-parts" ng-if="permission_parts_switch">
                                <h5 class="uk-margin-top">Other permission</h5>
                                <div class="access-permission-parts">
                                    <ul style="">
                                        <li class="folder" id="all">
                                            All
                                            <ul>
                                                <li ng-repeat="menu in permission_parts" id="((menu.id))"> ((menu.name))</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <hr class="md-hr">
                            <div class="uk-grid uk-grid-width-medium-1-1 uk-margin-right uk-margin-top" data-uk-grid="{gutter: 20}" data-show-delay="280" ng-if="controller_type == 'admin'">
                                <!--- Title settings -->
                                <div>
                                    <div class="md-card md-card-hover md-card-overlay">
                                        <div class="md-card-content truncate-text">
                                            Balance
                                            <span class="uk-display-block uk-text-large user-balance">((user.sms_balance))</span>
                                        </div>
                                        <div class="md-card-overlay-content">
                                            <div class="uk-clearfix md-card-overlay-header">
                                                <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                                                <h3>
                                                    Update balance
                                                </h3>
                                            </div>
                                            <div class="truncate-text">
                                                <div class="uk-grid" data-uk-grid-margin>
                                                    <div class="uk-width-medium-10-10 parsley-row">
                                                        <label>Amount</label>
                                                        <input class="md-input" type="text" name="amount">
                                                        <button type="button" data-ng-click="balance_update($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-grid uk-hidden-medium uk-hidden-large uk-margin-large-top" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                <button type="button" data-ng-click="previous_page()" class="md-btn md-btn-info">Cancel</button>
                                <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>