<div id="page_content_inner" ng-controller="edit_transport">
    <h4>Edit Transport</h4>
    <form class="edit-transport" id="form" data-ng-submit="submit()">
        <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
            <div class="uk-width-medium-7-10">
                <div class="md-card user_content">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="parsley-row uk-width-medium-1-1">
                            <label>Vehicle title</label>
                            <input class="md-input item-name-input" type="text" name="name" required value="((transport.name))">
                        </div>
                        <div class="parsley-row uk-width-medium-1-1">
                            <label>Number</label>
                            <input class="md-input " type="text"  name="number" required value="((transport.number))">
                        </div>
                        <div class="parsley-row uk-width-medium-1-1">
                            <label>Model</label>
                            <input class="md-input item-name-input" type="text" name="model" required value="((transport.model))">
                        </div>
                        <div class="parsley-row uk-width-medium-1-1">
                            <label>Driver</label>
                            <input class="md-input " type="text"  name="driver" value="((transport.driver))">
                        </div>
                        <div class="parsley-row uk-width-medium-1-1">
                            <label>Description</label>
                            <textarea class="md-input " name="description">((transport.description))</textarea>
                        </div>
                    </div>
                    <div class="uk-grid uk-hidden-small" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                            <button type="reset" class="md-btn md-btn-info">Cancel</button>
                            <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="uk-width-medium-3-10">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_c uk-margin-medium-bottom">Other settings</h3>
                        <div class="uk-form-row">
                            <input ng-if="transport.active" type="checkbox" checked data-switchery id="user_edit_active" name="active" value="1">
                            <input ng-if="!transport.active" type="checkbox" data-switchery id="user_edit_active" name="active" value="1">
                            <label for="user_edit_active" class="inline-label">Active</label>
                        </div>

                        <h5 class="uk-margin-top">Image</h5>
                        <div class="transport-image">
                            <input type="file" class="dropify" data-default-file="((transport.image))" name="image" accept="image/*">
                        </div>

                        <div class="uk-grid uk-hidden-medium uk-hidden-large uk-margin-large-top" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

