<div id="page_content_inner" ng-controller="edit_customer_vendor">
    <h4>((page_title))</h4>
    <form class="edit-vendor" data-ng-submit="submit()" id="form">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-7-10">
                <!--<button ng-click="submit()" type="button">click</button>-->
                <div class="md-card">
                    <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                        <div class="user_heading_avatar fileinput fileinput-new">
                            <div class="fileinput-new thumbnail">
                                <input class="profile-dropify" type="file" name="image" data-default-file="((user.image))">
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b">
                                <span class="uk-text-truncate">((name))</span>
                                <span class="sub-heading">((member_id))</span>
                            </h2>
                        </div>
                        <div class="md-fab-wrapper">
                            <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                <i class="material-icons">&#xE8BE;</i>
                                <div class="md-fab-toolbar-actions">
                                    <button data-ng-click="previous_page()" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Clear">
                                        <i class="material-icons md-color-white">clear</i>
                                    </button>
                                    <button type="submit"
                                            data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save"><i
                                            class="material-icons md-color-white">&#xE161;</i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                            <li class="uk-active"></li>
                        </ul>
                        <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-margin-top">
                                    <h3 class="full_width_in_card heading_c">
                                        General info
                                    </h3>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label for="user_name">name</label>
                                            <input class="md-input" id="user_name" type="text" name="name" ng-model="name" required value="((user.name))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="member_id">Member id</label>
                                            <input class="md-input" type="text" id="member_id" name="member_id" ng-model="member_id" required value="((user.member_id))">
                                        </div>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label for="company">Company name</label>
                                            <input class="md-input" type="text" name="company_name" id="company" required value="((user.company_name))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="email">Email</label>
                                            <input class="md-input" type="text" id="email" name="email" value="((user.email))">
                                        </div>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label for="mobile">Mobile</label>
                                            <input class="md-input" type="text" name="mobile" required id="mobile" value="((user.mobile))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-input-group tag-chooser" data-uk-tooltip="" title="Area">
                                                <select name="area" >
                                                    <option value="">Select area</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete">delete_forever</i>
                                                    <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save">save</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label>Address line 1</label>
                                            <textarea class="md-input" name="address_line_1">((user.address_line_1))</textarea>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label >Address line 2</label>
                                            <textarea class="md-input" name="address_line_2" >((user.address_line_2))</textarea>
                                        </div>


                                    </div>

                                    <div class="uk-grid uk-hidden-small" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                            <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                            <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-3-10">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_c uk-margin-medium-bottom">Other settings</h3>
                        <div class="uk-form-row">
                            <input type="checkbox" ng-if="user.active" checked data-switchery id="user_edit_active" name="active" value="1">
                            <input type="checkbox" ng-if="!user.active" data-switchery id="user_edit_active" name="active" value="1">
                            <label for="user_edit_active" class="inline-label">Active</label>
                        </div>

                        <h5 class="uk-margin-top">Nid (image)</h5>
                        <div class="nid-image">
                            <input type="file" data-default-file="((user.nid))" class="dropify" name="nid" accept="image/*">
                        </div>
                        <h5 class="uk-margin-top">Trade license (image)</h5>
                        <div class="trade-license-image">
                            <input type="file" data-default-file="((user.trade_license))" class="dropify" name="trade_license" accept="image/*">
                        </div>

                        <div class="uk-grid uk-hidden-medium uk-hidden-large uk-margin-large-top" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                <button type="button" data-ng-click="previous_page()" class="md-btn md-btn-info">Cancel</button>
                                <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>