<div id="page_content_inner" ng-controller="edit_bank_cash">
    <form method="" class="edit-bank-cash" id="form" data-ng-submit="submit()">
        <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
            <div class="uk-width-large-1-11">
                <div class="md-card user_content">
                    <h4 class="heading_c uk-margin-bottom ">Edit bank cash </h4>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2 uk-margin-bottom parsley-row">
                            <label>Account Title</label>
                            <input class="md-input" type="text" name="name" value="((bank_cash.name))" required>
                        </div>
                        <div class="uk-width-medium-1-2 uk-margin-bottom parsley-row" >
                            <select class="bank-cash-selectize"  name="bank_cash_type" required >
                                <option value="" >Select bank cash type</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2">
                            <label>Account number</label>
                            <input class="md-input" type="text" name="account_number" value="((bank_cash.account_number))">
                        </div>
                        <div class="uk-width-medium-1-2">
                            <label>Description</label>
                            <input class="md-input" type="text" name="description" value="((bank_cash.description))">
                        </div>
                        <div class="uk-width-medium-1-2  parsley-row">
                            <label>Initial Balance</label>
                            <input class="md-input" type="text" name="initial_balance" ng-model="initial_balance" data-ng-keyup="initial_description_switch()">
                        </div>
                        <div class="uk-width-medium-1-2 initial-description uk-hidden uk-margin-top">
                            <label>Initial description</label>
                            <input class="md-input" type="text" name="initial_description" value="">
                        </div>
                    </div>


                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2">
                            <button type="reset" class="md-btn md-btn-info">Cancel</button>
                            <button class="md-btn md-btn-success" data-button-name="save">Save</button>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </form>
</div>