
<div id="page_content_inner" data-ng-controller="edit_item">
    <form method="post" class="add-item" id="form" data-ng-submit="submit()">
        <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
            <div class="uk-width-large-1-11">
                <div class="md-card user_content">
                    <h4 class="heading_c uk-margin-bottom ">Edit item</h4>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-large-1-2 parsley-row">
                            <div class="uk-grid "  data-uk-grid-margin>
                                <div class="uk-width-large-1-1 parsley-row">
                                    <label>Item name</label>
                                    <input class="md-input item-name-field" type="text" name="item_name" required  value="((item.name))">
                                </div>

                                <div class="uk-width-large-1-1 parsley-row uk-position-relative">
                                    <label>Vat </label>
                                    <input class="md-input" type="text" name="vat_amount" value="((item.vat_amount))" >
                                    <div class="md-btn-group uk-position-top-right vat-type" data-uk-button-radio="{target:'.md-btn'}">
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button ((item.vat_type | if :'uk-active' : 'flat'))" data-type="flat">Flat</button>
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button ((item.vat_type | if :'uk-active' : 'percent'))" data-type="percent">Percent</button>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-1 parsley-row">
                                    <label>Selling price</label>
                                    <input class="md-input item-price-field" type="text" name="selling_price" value="((item.selling_price))" required>
                                </div>
                                <div class="uk-width-large-1-1 parsley-row">
                                    <label>Purchase price</label>
                                    <input class="md-input item-price-field" type="text" name="purchase_price" value="((item.purchase_price))">
                                </div>
                                <div class="uk-width-large-1-1 parsley-row">
                                    <label>Offer price</label>
                                    <input class="md-input item-price-field" type="text" name="offer_price" value="((item.offer_price))">
                                </div>

                                <div class="uk-width-large-1-1 parsley-row">
                                    <div class="uk-input-group">
                                        <label>Unit</label>
                                        <input class="md-input" type="text" name="item_unit" required value="((item.default_unit_name))">
                                        <span class="uk-input-group-addon">
                                            <i class="material-icons md-icon " data-uk-tooltip="" title="Manage unit" item-unit-manager >more_vert</i>
                                        </span>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-1 parsley-row">
                                    <label>Item code</label>
                                    <input class="md-input" type="text" name="code" value="((item.code))">
                                </div>
                                <div class="uk-width-large-1-1 parsley-row">
                                    <label>Barcode</label>
                                    <input class="md-input" type="text" name="barcode" value="((item.barcode))">
                                </div>

                                <div class="uk-width-large-1-1 parsley-row uk-position-relative">
                                    <label>Sale labor cost </label>
                                    <input class="md-input" type="text" name="sale_labor_cost_amount" value="((item.sale_labor_cost_amount))" >
                                    <div class="md-btn-group uk-position-top-right sale-labor-cost-type" data-uk-button-radio="{target:'.md-btn'}">
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button ((item.sale_labor_cost_type | if :'uk-active' : 'flat'))" data-type="flat">Flat</button>
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button ((item.sale_labor_cost_type | if :'uk-active' : 'percent'))" data-type="percent">Percent</button>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-1 parsley-row uk-position-relative">
                                    <label>Purchase labor cost </label>
                                    <input class="md-input" type="text" name="purchase_labor_cost_amount" value="((item.purchase_labor_cost_amount))" >
                                    <div class="md-btn-group uk-position-top-right purchase-labor-cost-type" data-uk-button-radio="{target:'.md-btn'}">
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button ((item.purchase_labor_cost_type | if :'uk-active' : 'flat'))" data-type="flat">Flat</button>
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button ((item.purchase_labor_cost_type | if :'uk-active' : 'percent'))" data-type="percent">Percent</button>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-1 parsley-row uk-position-relative">
                                    <label>Sale commission </label>
                                    <input class="md-input" type="text" name="sale_commission_amount" value="((item.sale_commission_amount))" >
                                    <div class="md-btn-group uk-position-top-right sale-commission-type" data-uk-button-radio="{target:'.md-btn'}">
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button ((item.sale_commission_type | if :'uk-active' : 'flat'))" data-type="flat">Flat</button>
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button ((item.sale_commission_type | if :'uk-active' : 'percent'))" data-type="percent">Percent</button>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-1 parsley-row uk-position-relative">
                                    <label>Purchase commission </label>
                                    <input class="md-input" type="text" name="purchase_commission_amount" value="0" >
                                    <div class="md-btn-group uk-position-top-right purchase-commission-type" data-uk-button-radio="{target:'.md-btn'}">
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button ((item.purchase_commission_type | if :'uk-active' : 'flat'))" data-type="flat">Flat</button>
                                        <button type="button" class="md-btn md-btn-wave waves-effect waves-button ((item.purchase_commission_type | if :'uk-active' : 'percent'))" data-type="percent">Percent</button>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2 uk-margin-bottom">
                                            <p class="uk-margin-bottom uk-margin-top">
                                                <input type="checkbox" ng-if="item.notification_switch == '1'" checked class="notification-switch" data-md-icheck name="notification_switch" value="1" />
                                                <input type="checkbox" ng-if="item.notification_switch !== '1'" class="notification-switch" data-md-icheck name="notification_switch" value="1" />
                                                <label  class="">Notification</label>
                                            </p>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="notification-amount-field ((item.notification_switch | if : 'uk-hidden' : '0'))">
                                                <label>Enter amount</label>
                                                <input class="md-input" type="text" name="notification_amount" value="((item.notification_amount))">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="uk-width-large-1-2 uk-margin-top">
                            <h3 class="heading_a uk-margin-small-bottom">Image</h3>
                            <div class="uk-grid"  data-uk-grid-margin>
                                <div class="uk-width-large-1-1 parsley-row">
                                    <div class="item-image">
                                        <input type="file" accept="image/*" data-default-file="((item.image))" multiple class="dropify" name="image">
                                    </div>

                                </div>
                                <div class="uk-width-large-1-1 parsley-row">
                                    <div class="uk-form-row">
                                        <input type="checkbox" ng-if="item.active" checked data-switchery id="user_edit_active" name="active" value="1">
                                        <input type="checkbox" ng-if="!item.active" data-switchery id="user_edit_active" name="active" value="1">
                                        <label for="user_edit_active" class="inline-label">Active</label>
                                    </div>
                                </div>

                                <div class="uk-width-large-1-1 parsley-row">
                                    <h3 class="uk-accordion-title">Categories</h3>
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-1-2">
                                            <div class="tree-radio fancytree-radio category-tree">

                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2 category-add-section">
                                            <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <i class="material-icons md-icon add-category" data-ng-click="add_category()" data-uk-tooltip="" title="Add category">add_circle_outline</i>
                                            <i class="material-icons md-icon close uk-hidden" data-ng-click="category_form_dismiss()" data-uk-tooltip="" title="Close">close</i>
                                        </span>
                                                <div class="category-add-form uk-hidden">
                                                    <div class="uk-input-group">
                                                        <label>Category name</label>
                                                        <input class="md-input" name="name">
                                                        <span class="uk-input-group-addon">
                                                    <i class="material-icons md-icon save" data-uk-tooltip="" title="Save" data-ng-click="save_category()">save</i>
                                                </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-large-1-2">
                            <button type="button" data-ng-click="previous_page()" class="md-btn md-btn-info">Cancel</button>
                            <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

<script type="unit-template" class="unit-manager-template">
    <div class="unit-manager uk-margin-top">
        <div class="heading uk-margin-medium-bottom">
            <h3>Manage unit <!--<i class="material-icons md-icon container-close uk-float-right">close</i>--> </h3>
        </div>
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-7-10">
                <select class="units">
                    <option value="">Units</option>
                </select>
            </div>
            <div class="uk-width-medium-3-10 uk-text-right">
                <button class="md-btn md-btn-success add-new-button" type="button">Add new</button>
            </div>
        </div>
        <p class="default-preview-unit">
            <input type="checkbox" name="checkbox_demo_mercury" id="preview_unit" data-md-icheck />
            <label for="preview_unit" class="inline-label">Preview unit</label>
        </p>

        <form class="uk-grid preview-unit-save-area uk-hidden" data-uk-grid-margin="">
            <div class="uk-width-medium-7-10">
                <select class="preview-units" name="preview_unit_id">

                </select>
            </div>
            <div class="uk-width-medium-3-10 uk-text-right">
                <button class="md-btn md-btn-flat" type="button">Save</button>
            </div>
        </form>
        <div class="uk-grid uk-margin-top new-unit-form uk-hidden" data-uk-grid-margin="">
            <div class="uk-width-medium-2-10">
            1
            {{default_unit_name}}
            </div>
            <div class="uk-width-medium-1-10">
                =
            </div>
            <div class="uk-width-medium-3-10">
                <label>Unit amount</label>
                <input class="md-input " type="text" name="unit_amount">

            </div>
            <div class="uk-width-medium-3-10">
                <label>Unit name</label>
                <input class="md-input" type="text" name="unit_name" required="">

            </div>
            <div class="uk-width-medium-1-1 uk-margin-top uk-text-right">
                <button type="button" class="md-btn md-btn-flat close-button">Close</button>
                <button type="button" class="md-btn md-btn-primary save-button">Save</button>
            </div>
        </div>
        <form class="uk-grid uk-margin-top edit-unit-form uk-hidden" data-uk-grid-margin="">
            <div class="uk-width-medium-2-10">
            1
            {{default_unit_name}}
            </div>
            <div class="uk-width-medium-1-10">
                =
            </div>
            <div class="uk-width-medium-3-10">
                <label>Unit amount</label>
                <input class="md-input " type="text" name="unit_amount">

            </div>
            <div class="uk-width-medium-3-10">
                <label>Unit name</label>
                <input class="md-input" type="text" name="unit_name">

            </div>
            <input type="hidden" name="unit_id">
            <div class="uk-width-medium-1-1 uk-margin-top uk-text-right">
                <button type="button" class="md-btn md-btn-flat close-button">Close</button>
                <button type="button" class="md-btn md-btn-primary save-button">Update</button>
            </div>

        </form>

    </div>
</script>
