<div id="page_content_inner" ng-controller="edit_student">
    <h4>((page_title))</h4>
    <form class="edit-student" data-ng-submit="submit()" id="form">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-7-10">
                <!--<button ng-click="submit()" type="button">click</button>-->
                <div class="md-card">
                    <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                        <div class="user_heading_avatar fileinput fileinput-new">
                            <div class="fileinput-new thumbnail">
                                <input class="profile-dropify" type="file" name="image" data-default-file="static/app/assets/img/avatars/user.png">
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b">
                                <span class="uk-text-truncate">((user_name))</span>
                                <span class="sub-heading">((member_id))</span>
                            </h2>
                        </div>
                        <div class="md-fab-wrapper">
                            <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                <i class="material-icons">&#xE8BE;</i>
                                <div class="md-fab-toolbar-actions">
                                    <button type="reset" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Clear">
                                        <i class="material-icons md-color-white">clear</i>
                                    </button>
                                    <button type="submit"
                                            data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save"><i
                                            class="material-icons md-color-white">&#xE161;</i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                            <li class="uk-active"></li>
                        </ul>
                        <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-margin-top">
                                    <h3 class="full_width_in_card heading_c">
                                        General info
                                    </h3>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <label for="user_name">Name</label>
                                            <input class="md-input" id="user_name" type="text" name="name" ng-model="user_name" required>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="mobile">Mobile</label>
                                            <input class="md-input" type="text" name="mobile" id="mobile" required value="((user.mobile))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="device_id">Device user id</label>
                                            <input class="md-input" type="text" id="device_id" name="device_user_id" value="((user.device_user_id))">
                                        </div>
                                        <div class="uk-width-medium-1-2" data-uk-tooltip="" title="Shift">
                                            <select class="shift-selectize" name="shift">
                                                <option value="">Select shift</option>
                                            </select>
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row">
                                            <div class="uk-input-group tag-chooser" data-uk-tooltip="" title="Class">
                                                <select name="class" required>
                                                    <option value="">Select Class</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="roll_number">Roll number</label>
                                            <input class="md-input" type="text" id="roll_number" name="roll_number" value="((user.roll_number))">
                                        </div>
                                        <div class="uk-width-medium-1-2 uk-hidden">
                                            <label for="member_id">Member id</label>
                                            <input class="md-input" type="text" id="member_id" name="member_id" ng-model="member_id" required>
                                        </div>


<!--                                        <div class="uk-width-medium-1-2 password-relative password-field">-->
<!--                                            <label for="password">Password</label>-->
<!--                                            <input class="md-input" type="password"  id="password" name="password"/>-->
<!--                                            <span class="password-show-button"><i class="material-icons md-icon">remove_red_eye</i> </span>-->
<!--                                        </div>-->
                                    </div>

                                    <h3 class="full_width_in_card heading_c">
                                        Advance info
                                    </h3>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2 parsley-row">
                                            <div class="uk-input-group department-chooser" data-uk-tooltip="" title="Department">
                                                <select name="department" required>
                                                    <option value="">Select Department</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row">
                                            <div class="uk-input-group branch-tag-chooser" data-uk-tooltip="" title="Branch">
                                                <select name="branch" >
                                                    <option value="">Branch</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row">
                                            <div class="uk-input-group session-tag-chooser" data-uk-tooltip="" title="Session">
                                                <select name="session" >
                                                    <option value="">Session</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row">
                                            <div class="uk-input-group gender-tag-chooser" data-uk-tooltip="" title="Gender">
                                                <select name="gender">
                                                    <option value="">Gender</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row">
                                            <div class="uk-input-group religion-tag-chooser" data-uk-tooltip="" title="Religion">
                                                <select name="religion" >
                                                    <option value="">Religion</option>
                                                </select>
                                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="nid_number">Birth certificate number</label>
                                            <input class="md-input" type="text" id="nid_number" name="nid_number" value="((user.nid_number))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="father_name">Father name</label>
                                            <input class="md-input" type="text" id="father_name" name="father_name" value="((user.father_name))">
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="mother_name">Mother name</label>
                                            <input class="md-input" type="text" id="mother_name" name="mother_name" value="((user.mother_name))">
                                        </div>


                                        <div class="uk-width-medium-1-2">
                                            <label for="email">Email</label>
                                            <input class="md-input" type="text" id="email" name="email" value="((user.email))"/>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <label for="birth_date">Birth date</label>
                                            <input class="md-input" type="text" id="birth_date" name="birth_date" data-uk-datepicker="{format:'YYYY-MM-DD'}" value="((user.birth_date))">
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            <label for="joining_date">Joining date</label>
                                            <input class="md-input" type="text" id="joining_date" name="joining_date" data-uk-datepicker="{format:'YYYY-MM-DD'}" value="((user.joining_date))">
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            <label for="address">Address</label>
                                            <input class="md-input" type="text" id="address" name="address" value="((user.address))">
                                        </div>
                                    </div>

                                    <div class="uk-grid uk-hidden-small" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                            <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                            <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-3-10">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_c uk-margin-medium-bottom">Other settings</h3>
                        <div class="uk-form-row" ng-if="!same_user">
                            <input ng-if="user.active" type="checkbox" checked data-switchery id="user_edit_active" name="active" value="1">
                            <input ng-if="!user.active" type="checkbox" data-switchery id="user_edit_active" name="active" value="1">
                            <label for="user_edit_active" class="inline-label">Active</label>
                        </div>
                        <div class="uk-grid uk-hidden-medium uk-hidden-large uk-margin-large-top" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                                <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>