<div id="page_content_inner" ng-controller="controllers-contact-list">

    <h3 class="heading_b uk-margin-bottom">Contact List</h3>
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-6-10">
                    <div class="uk-vertical-align">
                        <div class="uk-vertical-align-middle ">
                            <ul id="branches-menu" class="uk-subnav uk-subnav-pill uk-margin-remove">
                                <li class="" data-type="All"><a href="handlers">All</a></li>
                                <li class="" data-type="((type))" ng-repeat="type in options"><a href="handlers/((type))">((type))</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-4-10">
                    <label for="contact_list_search">Search... </label>
                    <input class="md-input" type="text" id="contact_list_search" ng-model="search_value" ng-keyup="search()">
                </div>
            </div>
        </div>
    </div>

    <h3 ng-if="!rows.length" class="heading_b uk-text-center grid_no_results">No results found</h3>

    <div class="uk-grid" data-uk-grid-margin="">
        <div ng-repeat="user in rows" class="uk-width-small-1-2 uk-width-medium-1-3 uk-width-large-1-4 uk-width-xlarge-1-5 uk-margin-bottom">
            <div class="md-card md-card-hover">
                <div class="md-card-head">
                    <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right',mode:'click'}">
                        <i class="md-icon material-icons">&#xE5D4;</i>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav">
                                <li><a href="profile/((user.member_id))">View</a></li>
                                <li><a href="edit-profile/((user.user_id))">Edit</a></li>
                                <li><a href="#" data-ng-click="delete( ((user.id)) )">Delete</a></li>
                                <!--<li ng-if="logged_user_type == 'admin' || logged_user_type == 'system_designer'"><a data-ng-click="activate( ((user.user_id)) ,$event )">Activate as self</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <a href="profile/((user.member_id))">
                    <div class="uk-text-center">
                        <img class="md-card-head-avatar" ng-src="((user.image))" alt="((user.name))"/>
                    </div>
                    <h3 class="md-card-head-text uk-text-center">
                        ((user.name))   <span class="uk-text-truncate">((user.member_id))</span>
                    </h3>
                    </a>
                </div>
                <div class="md-card-content">
                    <ul class="md-list">
                        <li>
                            <div class="md-list-content">
                                <span class="md-list-heading">Designation</span>
                                <span class="uk-text-small uk-text-muted">((user.designation))</span>
                            </div>
                        </li>
                        <li>
                            <div class="md-list-content">
                                <span class="md-list-heading">Mobile</span>
                                <span class="uk-text-small uk-text-muted uk-text-truncate">((user.mobile))</span>
                            </div>
                        </li>
                        <li>
                            <div class="md-list-content">
                                <span class="md-list-heading">Email</span>
                                <span class="uk-text-small uk-text-muted uk-text-truncate">((user.email))</span>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
