<div id="page_content_inner" data-ng-controller="import_items">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a">
                        Import items
                        <span class="sub-heading">Allow only xlsx file</span>
                    </h3>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div id="file_upload-drop" class="uk-file-upload">
                                <p class="uk-text">Drop file to upload</p>
                                <p class="uk-text-muted uk-text-small uk-margin-small-bottom">or</p>
                                <div class="uk-form-file md-btn">choose file<input id="file_upload-select" type="file" name="file" accept=".xlsx"></div>
                            </div>
                            <div id="file_upload-progressbar" class="uk-progress uk-hidden">
                                <div class="uk-progress-bar" style="width:0">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>