
<div id="page_content_inner" ng-controller="initiate">
    <h3 class="heading_a"> Initiative for software will run properly. </h3>
    <div class="uk-grid uk-grid-width-medium-1-3" data-uk-grid="{gutter: 20}" data-show-delay="280" >
        <!--- Main database update -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    First upload localhost database in (online localhost) database.
                    Scan updates in localhost database for main domain database.
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Update main domain database
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <button class="compress md-btn" data-ng-click="main_domain_database_update()">
                            Scan and update
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!--- Script compression -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Basic script compression
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Compress script
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <button class="compress md-btn" data-ng-click="script_compress()">
                            Compress
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--- main  domain database backup -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Main domain database backup
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Backup database
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <button class="backup md-btn" data-ng-click="main_database_backup()">
                            Request backup
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--- initial shift settings for student and teacher -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Initial shift settings for student and teacher
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Initiate shift
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="shift-initiate-form" data-ng-submit="shift_initiate()">
                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-10-10" data-uk-tooltip="" title="User type">
                                    <select class="user-type-selectize" name="user_type">
                                        <option value="">Select user type</option>
                                    </select>
                                </div>
                                <div class="uk-width-medium-10-10" data-uk-tooltip="" title="Shift">
                                    <select class="shift-selectize" name="shift">
                                        <option value="">Select shift</option>
                                    </select>
                                </div>
                                <div class="uk-width-medium-10-10" data-uk-tooltip="" title="Shift">
                                    <button class="md-btn">
                                        Initiate request
                                    </button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
