    <div id="page_content_inner" data-ng-controller="institute">
        <h3 class="heading_b uk-margin-bottom">Institute info</h3>
        <div  class="uk-form-stacked ">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-1-1">
                    <div class="md-card">
                        <input type="hidden"  name="user_id" value="">
                        <div class="user_heading company-profile" data-uk-sticky="{ top: 48, media: 960 }">
                            <div class="company-banner">
                                <div class="banner">
                                    <img data-ng-src="((institute.banner))" alt="((user.name))">
                                </div>
                            </div>
                            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img src="((institute.logo))" alt="user avatar"/>
                                    <input type="hidden" name="before_image" value="">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            </div>
                            <div class="user_heading_content">

                            </div>
                            <div class="md-fab-wrapper" ng-if="basic_info.logged_user_id">
                                <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                    <a href="edit-institute/((institute.institute_id))">
                                        <i class="material-icons" style="color:white;line-height:45px;font-size:25px">create</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="user_content">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-3-10">
                                    <h3 class="full_width_in_card heading_c">
                                        Details <span class="md-list-heading uk-float-right institute-setting-icon"><a href="institute-settings/((institute.member_id))"><i class="material-icons md-icon">settings</i> </a></span>
                                    </h3>
                                    <ul class="md-list md-list-addon">
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon material-icons">group</i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="teachers/((institute.member_id))">Teachers</a></span>
                                                <span class="uk-text-small uk-text-muted uk-text-truncate">Total ((institute.total_teacher))</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon material-icons">people_outline</i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="students/((institute.member_id))">Students</a></span>
                                                <span class="uk-text-small uk-text-muted uk-text-truncate">Total ((institute.total_student))</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon material-icons">compare_arrows</i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="attendance-logs/((institute.member_id))">Teacher attendance logs</a></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon material-icons">compare_arrows</i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading"><a href="student-attendance-logs/((institute.member_id))">Student attendance logs</a></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon material-icons">textsms</i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">SMS balance</span>
                                                <span class="uk-text-small uk-text-muted uk-text-truncate">Total ((institute.sms_balance))</span>
                                            </div>
                                        </li>




                                    </ul>


                                </div>
                                <div class="uk-width-medium-7-10">
                                    <div class="uk-margin-top uk-margin-bottom">
                                        <h3 class="full_width_in_card heading_c">
                                            General info
                                        </h3>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label for="user_edit_uname_control"><b>Name</b></label>
                                                <br>
                                                ((institute.name))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Member ID</b></label>
                                                <br>
                                                ((institute.member_id))
                                            </div>
                                        </div>

                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-2">
                                                <label ><b>Contact number</b></label>
                                                <br>
                                                ((institute.contact_number))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Code</b></label>
                                                <br>
                                                ((institute.code))
                                            </div>
                                        </div>

                                        <div class="uk-grid">
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Address</b></label>
                                                <br>
                                                ((institute.address))
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>