<div id="page_content_inner" ng-controller="institute_settings">
    <h3 class="heading_a">Institute settings </h3>
    <div class="uk-margin-top uk-margin-bottom">
        <a class="md-btn md-btn-mini" href="institute-calendar/((institute_member_id))" data-uk-tooltip="" title="Institute calendar"><i class="material-icons md-icon md-24">calendar_today</i> </a>
        <a class="md-btn md-btn-mini" href="institute-device-manage/((institute_member_id))" data-uk-tooltip="" title="Institute device"><i class="material-icons md-icon md-24">router</i> </a>
    </div>
    <div class="uk-grid uk-grid-width-medium-1-3" data-uk-grid="{gutter: 20}" data-show-delay="280" >


        <!--- Absence a day settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    How much person absence a day? Then send a notice automatically to expected admin.

                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Absence notice day
                        </h3>
                    </div>
                    <div class="truncate-text">
                    <form class="" data-type="absence_person_a_day">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-10-10 parsley-row">
                                <label>Day</label>
                                <input class="md-input" type="text" name="day" required value="((settings.absence_person_a_day))">
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>