<div id="page_content_inner" ng-controller="institutes">
    <h3 class="heading_b uk-margin-bottom">Schools</h3>
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div class="uk-vertical-align">
                        <div class="uk-vertical-align-middle ">
                            <ul id="branches-menu" class="uk-subnav uk-subnav-pill uk-margin-remove">
                                <li class=""><a href="add-institute">Add new</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <label for="contact_list_search">Search... </label>
                    <input class="md-input" type="text" id="contact_list_search" ng-model="search_value" data-ng-keyup="search()">
                </div>
            </div>
        </div>
    </div>

    <h3 ng-if="!rows.length" class="heading_b uk-text-center grid_no_results">No results found</h3>

    <div class="uk-grid" data-uk-grid-margin="">
        <div ng-repeat="institute in rows" class="uk-width-small-1-2 uk-width-medium-1-3 uk-width-large-1-4 uk-width-xlarge-1-5 uk-margin-bottom">
            <div class="md-card md-card-hover">
                <div class="md-card-head">
                    <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right',mode:'click'}">
                        <i class="md-icon material-icons">&#xE5D4;</i>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav">
                                <li><a href="institute/((institute.member_id))">View</a></li>
                                <li><a href="edit-institute/((institute.institute_id))">Edit</a></li>
                                <li ng-if="school_delete_permission"><a href="#" data-ng-click="delete( ((institute.id)) )">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="institute/((institute.member_id))">
                    <div class="uk-text-center">
                        <img class="md-card-head-avatar" data-ng-src="((institute.logo))" alt="((institute.name))"/>
                    </div>
                    <h3 class="md-card-head-text uk-text-center">
                        ((institute.name))   <span class="uk-text-truncate"></span>
                    </h3>
                    </a>
                </div>
                <div class="md-card-content">
                    <ul class="md-list">
                        <li>
                            <div class="md-list-content">
                                <span class="md-list-heading">Contact number</span>
                                <span class="uk-text-small uk-text-muted uk-text-truncate">((institute.contact_number))</span>
                            </div>
                        </li>
                        <li>
                            <div class="md-list-content">
                                <span class="md-list-heading">Code</span>
                                <span class="uk-text-small uk-text-muted uk-text-truncate">((institute.code))</span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>