<div id="page_content_inner" ng-controller="institute_device_manage">
    <h4>Institute device</h4>
    <form class="device-form" id="form" data-ng-submit="submit()">
        <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
            <div class="uk-width-medium-7-10">
                <div class="md-card user_content">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="parsley-row uk-width-medium-1-1">
                            <label>Name</label>
                            <input class="md-input item-name-input" type="text" name="name" required value="((institute_device.device_name))">
                        </div>
                        <div class="parsley-row uk-width-medium-1-1">
                            <label>Serial number</label>
                            <input class="md-input " type="text"  name="serial_number" value="((institute_device.serial_number))">
                        </div>
                        <div class="parsley-row uk-width-medium-1-1">
                            <label>IP</label>
                            <input class="md-input item-name-input" type="text" name="ip" value="((institute_device.ip))">
                        </div>
                        <div class="parsley-row uk-width-medium-1-1">
                            <label>port</label>
                            <input class="md-input " type="text"  name="port" value="((institute_device.port))">
                        </div>
                        <div class="parsley-row uk-margin-top uk-width-medium-1-1" ng-if="institute_device.creator_name">
                            <label><b>Creator name</b></label>
                            :
                            ((institute_device.creator_name))
                        </div>


                    </div>
                    <div class="uk-grid uk-hidden-small" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2 uk-margin-bottom submit-button-action">
                            <button type="reset" class="md-btn md-btn-info">Cancel</button>
                            <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="uk-width-medium-3-10">

            </div>

        </div>
    </form>
</div>

