
        <div id="page_content_inner" data-ng-controller="item">
            <form method="post" class="add-store" id="form" >
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Item information <a href="edit-item/((item.item_id))" class="uk-float-right" data-uk-tooltip="" title="Edit"><i class="material-icons md-icon">create</i> </a></h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-2 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <ul class="md-list">
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Name</span>
                                                        <span class="uk-text-small uk-text-muted">((item.name))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Category</span>
                                                        <span class="uk-text-small uk-text-muted">((item.category_name))</span>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Item code</span>
                                                        <span class="uk-text-small uk-text-muted">((item.code)) </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Unit name</span>
                                                        <span class="uk-text-small uk-text-muted">((item.default_unit_name)) </span>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Vat</span>
                                                        <span class="uk-text-small uk-text-muted">((item.vat_amount)) ((item.vat_type | if : "%" : 'percent')) </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Selling price</span>
                                                        <span class="uk-text-small uk-text-muted">((item.selling_price)) </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Purchase price</span>
                                                        <span class="uk-text-small uk-text-muted">((item.purchase_price))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Offer price</span>
                                                        <span class="uk-text-small uk-text-muted">((item.offer_price))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Sale labor cost</span>
                                                        <span class="uk-text-small uk-text-muted">((item.sale_labor_cost_amount)) ((item.sale_labor_cost_type | if : "%" : 'percent')) </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Purchase labor cost</span>
                                                        <span class="uk-text-small uk-text-muted">((item.purchase_labor_cost_amount)) ((item.purchase_labor_cost_type | if : "%" : 'percent')) </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Sale commission</span>
                                                        <span class="uk-text-small uk-text-muted">((item.sale_commission_amount)) ((item.sale_commission_type | if : "%" : 'percent')) </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Purchase commission</span>
                                                        <span class="uk-text-small uk-text-muted">((item.purchase_commission_amount)) ((item.purchase_commission_type | if : "%" : 'percent')) </span>
                                                    </div>
                                                </li>




                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-width-large-1-2 uk-margin-top">
                                    <h3 class="heading_a uk-margin-bottom">Image</h3>
                                    <div>
                                        <img src="((item.image))" alt="((item.item_name))" style="height: 200px;">
                                    </div>

                                    <p>
                                        <label>Active</label>
                                        <input type="checkbox" ng-if="item.active" data-switchery checked value="1" name="active" disabled>
                                        <input type="checkbox" ng-if="!item.active" data-switchery  value="1" name="active" disabled>
                                    </p>

                                    <p class="uk-margin-bottom uk-margin-top">
                                        <input type="checkbox" disabled ng-if="item.notification_switch == '1'" checked class="notification-switch" data-md-icheck name="notification_switch" value="1" />
                                        <input type="checkbox" disabled ng-if="item.notification_switch !== '1'" class="notification-switch" data-md-icheck name="notification_switch" value="1" />
                                        <label  class="">Notification </label>
                                        <span class="uk-margin-top ((item.notification_switch | if : 'uk-hidden' : '0'))">
                                            <label>less than  ((item.notification_amount)) ((item.default_unit_name))</label>
                                        </span>
                                    </p>

                                    <h3 class="heading_a uk-margin-bottom">Barcode</h3>
                                    <div ng-if="item.barcode !== ''">
                                        <img class="barcode-img" src="data:image/png;base64,((item.barcode_blob))" alt="((item.name)) barcode">
                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

