
<div class="uk-container uk-container-center" ng-controller="login">
    <div class="md-card">
        <div class="md-card-content padding-reset">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-large-2-3 uk-hidden-medium uk-hidden-small">
                    <div class="login_page_info uk-height-1-1" style="background-image: url('((basic_info.software_info.login_banner))')">

                    </div>
                </div>
                <div class="uk-width-large-1-3 uk-width-medium-2-3 uk-container-center">
                    <div class="login_page_forms">
                        <div id="login_card">
                            <div id="login_form">
                                <!--<h3 class="heading_a uk-margin-top">Login</h3>-->
                                <div class="login_heading">
                                    <div class="user_avatar">
                                        <img src="">
                                    </div>
                                </div>
                                <form class="login-form" id="form" data-ng-submit="login()">
                                    <div class="uk-form-row">
                                        <label for="login_username">Mobile</label>
                                        <input class="md-input" type="text" id="login_username" name="mobile" />
                                    </div>
                                    <div class="uk-form-row password-relative">
                                        <label for="login_password">Password</label>
                                        <input class="md-input" type="password" id="login_password" name="password" />
                                        <span class="password-show-button"><i class="material-icons md-icon">remove_red_eye</i> </span>
                                    </div>
                                    <div class="recaptcha-area">

                                        <!--<div class="g-recaptcha" data-sitekey="6Lf9OlQUAAAAAMwvhh8jc7PGeBrm5fElUg3imcFU"></div>-->
                                    </div>
                                    <div class="uk-margin-medium-top">
                                        <button  class="md-btn md-btn-primary md-btn-block md-btn-large">Sign In</button>
                                    </div>
                                    <div class="uk-grid uk-grid-width-1-3 uk-grid-small uk-margin-top">
                                        <!--this for place capchA-->
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="uk-margin-top " style="text-align:right">
                            <a href="forgot-password" id="" class="">Forgot password</a> ?

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



