<div id="page_content_inner" ng-controller="mapping">
    <h4>Account mapper</h4>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-grid uk-grid-divider">
                <div class="uk-width-medium-1-2">
                    <h3 class="heading_c uk-margin-bottom">Document source</h3>
                    <div class="tree-radio fancytree-radio document-source-tree">

                    </div>
                </div>

                <div class="uk-width-medium-1-2">
                    <h3 class="heading_c uk-margin-bottom">Account source</h3>
                    <div class="tree-radio fancytree-radio account-source-tree">

                    </div>

                </div>
            </div>


        </div>
    </div>

</div>