<div id="page_content_inner" ng-controller="monthly_attendance_report">
    <div class="export-header uk-text-center uk-hidden">
        <h2>((institute_info.name))</h2>
        <p>((institute_info.address))</p>
        <h4 class="heading_a ">Monthly attendance report <span ng-if="user_name">Of ((user_name))</span></h4>
        <span>((date_string))</span>
    </div>
    <h4 class="heading_a uk-margin-bottom ">Monthly attendance report <span ng-if="user_name">Of ((user_name))</span></h4>

    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="dt_colVis_buttons"></div>
            <table id="dt_tableHeeshab" class="uk-table monthly-attendance-table" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th ng-repeat="item in table_columns_format">((item.name))</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th ng-repeat="item in table_columns_format">((item.name))</th>
                </tr>
                </tfoot>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <div class="export-footer uk-hidden">
        Powered by : March Edukit Ltd
    </div>

</div>

<script type="option-select-template" class="option-select-template">
    <div class="institute-chooser uk-margin-small-top" data-uk-tooltip="" title="School">
        <select class="institute-selectize">
            <option value="">Select institute</option>
        </select>
    </div>
    <div class="year-chooser uk-margin-small-top" data-uk-tooltip="" title="Year">
        <select class="year-selectize">
            <option value="">Select year</option>
        </select>
    </div>
    <div class="month-chooser uk-margin-small-top" data-uk-tooltip="" title="Month">
        <select class="month-selectize">
            <option value="">Select month</option>
        </select>
    </div>


</script>