<div id="page_content_inner" ng-controller="notice">

    <div id="top_bar">
        <div class="md-top-bar">
            <div class="uk-width-large-8-10 uk-container-center">
                <div class="uk-clearfix">
                    <div class="md-top-bar-actions-left">
                        <div class="md-top-bar-checkbox">
                            <input type="checkbox" name="mailbox_select_all" id="mailbox_select_all" data-md-icheck />
                        </div>
                        <div class="md-btn-group">
                            <a href="#" data-ng-click="delete_all()" class="md-btn md-btn-flat md-btn-small md-btn-wave" data-uk-tooltip="{pos:'bottom'}" title="Delete"><i class="material-icons">&#xE872;</i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="md-card-list-wrapper uk-margin-large-top" id="mailbox">
        <div class="uk-width-large-8-10 uk-container-center">
            <div class="md-card-list">
                <div class="md-card-list-header heading_list">Notices</div>
                <ul class="" ng-if="rows.length">
                    <li ng-repeat="notice in rows" data-id="((notice.id))">
                        <div class="md-card-list-item-menu" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="md-icon material-icons">&#xE5D4;</a>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav">
                                    <li data-ng-click="delete( ((notice.id)) )"><a href="#"><i class="material-icons">&#xE872;</i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <span class="md-card-list-item-date">((notice.time_string))</span>
                        <div class="md-card-list-item-select">
                            <input name="mark" type="checkbox" data-md-icheck />
                        </div>
                        <div class="md-card-list-item-avatar-wrapper">
                            <img src="((notice.receiver_image))" class="md-card-list-item-avatar" alt="" />
                        </div>
                        <div class="md-card-list-item-sender">
                            <span>((notice.receiver_name))</span>
                        </div>
                        <div class="md-card-list-item-subject">
                            <div class="md-card-list-item-sender-small">
                                <span>((notice.receiver_name))</span>
                            </div>
                            <span>((notice.message))</span>
                        </div>
                        <div class="md-card-list-item-content-wrapper">
                            <div class="md-card-list-item-content">
                                ((notice.message))
                            </div>
                        </div>
                    </li>
                </ul>
                <h3 ng-if="!rows.length" class="uk-text-center">Notice box empty!</h3>
            </div>
        </div>
    </div>

    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent md-fab-wave" href="#mailbox_new_message" data-uk-modal="{center:true}">
            <i class="material-icons">&#xE150;</i>
        </a>
    </div>

    <div class="uk-modal" id="mailbox_new_message">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close uk-close" type="button"></button>
            <form class="notice" id="form" data-ng-submit="submit()">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">Compose notice</h3>
                </div>
                <div class="uk-margin-medium-bottom">
                    <label>Institutes</label>
                    <select class="institute-selector" name="institute_ids[]" multiple>
                        <option value="">Enter institute name</option>
                    </select>
                </div>

                <div class="uk-margin-large-bottom">
                    <label for="subject">Subject</label>
                    <input class="md-input" type="text" id="subject" name="subject">
                </div>
                <div class="uk-margin-large-bottom">
                    <label for="mail_new_message">Message</label>
                    <textarea name="message" id="mail_new_message" cols="30" rows="6" class="md-input"></textarea>
                </div>

                <div class="uk-modal-footer">
                    <button class="uk-float-right md-btn md-btn-flat md-btn-flat-primary">Send</button>
                </div>
            </form>
        </div>
    </div>

</div>
