<div id="page_content_inner" ng-controller="notices">

    <div class="md-card-list-wrapper uk-margin-large-top" id="mailbox">
        <div class="uk-width-large-8-10 uk-container-center">

            <div class="md-card-list">
                <div class="md-card-list-header heading_list">Notices</div>
                <ul class="" ng-if="rows.length">

                    <li ng-repeat="notice in rows" data-id="((notice.id))">
                        <div class="md-card-list-item-menu" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">

                        </div>
                        <span class="md-card-list-item-date">((notice.time_string))</span>
                        <div class="md-card-list-item-select">

                        </div>
                        <div class="md-card-list-item-avatar-wrapper">
                            <img src="((notice.receiver_image))" class="md-card-list-item-avatar" alt="" />
                        </div>
                        <div class="md-card-list-item-sender">
                            <span>((notice.receiver_name))</span>
                        </div>
                        <div class="md-card-list-item-subject">
                            <div class="md-card-list-item-sender-small">
                                <span>((notice.receiver_name))</span>
                            </div>
                            <span>((notice.message))</span>
                        </div>
                        <div class="md-card-list-item-content-wrapper">
                            <div class="md-card-list-item-content">
                                ((notice.message))
                            </div>
                        </div>
                    </li>
                </ul>
                <h3 ng-if="!rows.length" class="uk-text-center">Notice box empty!</h3>
            </div>
        </div>
    </div>


</div>
