
        <div id="page_content_inner" ng-controller="position_manager">
            <form method="post" class="position-manager" ng-submit="submit()">
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-medium-10-10">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Position manager</h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2 parsley-row" data-uk-tooltip="" title="Parents">
                                            <select class="parents" name="parent_id">
                                                <option value="">Select parent</option>
                                            </select>
                                        </div>
                                        <div class="uk-width-medium-1-2 parsley-row" data-uk-tooltip="" title="Childes">
                                            <select class="childes" name="childes[]" multiple>
                                                <option value="">Select childes</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-large-1-2">
                                    <button class="md-btn md-btn-success" data-button-name="save">Save</button>
                                    <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>

