    <div id="page_content_inner" data-ng-controller="profile">
        <h3 class="heading_b uk-margin-bottom">Profile info</h3>
        <div  class="uk-form-stacked ">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-1-1">
                    <div class="md-card">
                        <input type="hidden"  name="user_id" value="<?php echo $_REQUEST['team_member'];?>">
                        <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img src="((user.image))" alt="user avatar"/>
                                    <input type="hidden" name="before_image" value="">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b"><span class="uk-text-truncate" id="user_edit_uname">((user.name))</span><span class="sub-heading" id="user_edit_position">((user.designation))</span></h2>
                            </div>
                            <div class="md-fab-wrapper" ng-if="basic_info.logged_user_id">
                                <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                    <a href="((edit_page))/((user.user_id))">
                                        <i class="material-icons" style="color:white;line-height:45px;font-size:25px">create</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="user_content">
                            <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">

                            </ul>
                            <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                                <li>
                                    <div class="uk-margin-top uk-margin-bottom">
                                        <h3 class="full_width_in_card heading_c">
                                            General info
                                        </h3>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Name</b></label>
                                                <br>
                                                ((user.name))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Member ID</b></label>
                                                <br>
                                                ((user.member_id))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label ><b>Phone</b></label>
                                                <br>
                                                ((user.mobile))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Email</b></label>
                                                <br>
                                                ((user.email))
                                            </div>
                                            <div class="uk-width-medium-1-2 uk-margin-top" ng-if="user.second_contact != '' && user.second_contact != null">
                                                <label ><b>Second contact</b></label>
                                                <br>
                                                ((user.second_contact))
                                            </div>
                                            <div class="uk-width-medium-1-2 uk-margin-top" ng-if="user.class_name != '' && user.class_name != null">
                                                <label ><b>Class</b></label>
                                                <br>
                                                ((user.class_name))
                                            </div>
                                            <div class="uk-width-medium-1-2 uk-margin-top" ng-if="user.shift_name != '' && user.shift_name != null">
                                                <label ><b>Shift</b></label>
                                                <br>
                                                ((user.shift_name))
                                            </div>


                                            <div class="uk-width-medium-1-2 uk-margin-top" ng-if="user.designation != '' && user.designation != null">
                                                <label><b>Designation</b></label>
                                                <br>
                                                ((user.designation))
                                            </div>

                                            <div class="uk-width-medium-1-2">
                                                <label><b>Joining date</b></label>
                                                <br>
                                                ((user.joining_date))
                                            </div>
                                            <div class="uk-width-medium-1-2 uk-margin-top" ng-if="user.department != '' && user.department != null">
                                                <label ><b>Department</b></label>
                                                <br>
                                                ((user.department))
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label><b>Address</b></label>
                                                <br>
                                                ((user.address))
                                            </div>
                                            <div class="uk-width-medium-1-2 uk-margin-top" ng-if="user.blood_group != '' && user.blood_group != null">
                                                <label ><b>Blood group</b></label>
                                                <br>
                                                ((user.blood_group))
                                            </div>

                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>