<div id="page_content_inner" ng-controller="report">
    <div class="md-card">
        <div class="md-card-content uk-position-relative">
            <div class="report-print-button hidden-print">
                <i class="md-icon material-icons" onclick="print()">&#xE8ad;</i>
            </div>
            <div class="report-heading"></div>
            <div class="report-container"></div>
        </div>
    </div>
</div>
<script type="report_table" class="report-stage">
    <table class="uk-table {{stage_name}}" data-stage-parent="{{stage_parent}}">
        <thead>
            <tr>
                {{#each stage_params_data}}
                <th class="uk-text-center" colspan="{{../total_column}}">
                    {{name}}
                </th>
                {{/each}}
            </tr>

            <tr>
                {{#each stage_params_data}}
                    <td colspan="{{../total_column}}">
                        <table class='uk-table' data-stage-param="{{id}}">
                            {{#if ../data_show_switch}}
                            <thead>
                                <tr>
                                    {{#each ../stage_columns_data}}
                                        <td class="uk-text-center">{{label}}</td>
                                    {{/each}}
                                </tr>
                            </thead>
                            {{/if}}
                            <tbody>

                            </tbody>

                            <tfoot>

                            </tfoot>
                        </table>
                    </td>

                {{/each}}
            </tr>
        </thead>
        <tbody>


        </tbody>
        <tfoot>

        </tfoot>

    </table>
</script>
<script type="rows-template" class="rows-template">
    {{#each rows}}
    <tr>
        {{#each this}}
        <td class="uk-text-center">{{this}}</td>
        {{/each}}
    </tr>
    {{/each}}
</script>

<script type="line-total-template" class="line-total-template">
    <tr>
        <td colspan="{{total_column}}" class="uk-text-center">Total : {{line_total}}</td>
    </tr>
</script>

<script type="equation-rule-template" class="equation-rule-template">
    <tr>
        <td  colspan="{{total_column}}" class="uk-text-center">
            {{equation_name}}
            ({{#each rule_pattern }}
                 {{this}}
            {{/each}})
            = {{total}}</td>
    </tr>
</script>



<script type="report_table" class="manual-report-template">
    <table class="uk-table">
        <thead>
            <tr>
                {{#each columns}}
                <th class="">
                    {{this}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
                <tr>
                    {{#each this}}
                        <td>{{this}}</td>
                    {{/each}}
                </tr>
            {{/each}}
            <tr class="line-total">
                {{#each line_total_columns}}
                <td>{{this}}</td>
                {{/each}}
            </tr>
        </tbody>
        <tfoot>

        </tfoot>

    </table>
</script>






