<div id="page_content_inner" class="uk-padding-bottom-remove" ng-controller="report_generate">
    <div class="md-card">
        <div class="md-card-content">
            <h5 class="heading_c uk-margin-bottom">Generate a report</h5>
            <form class="report-generate" id="form" data-ng-submit="submit()">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-7-10 parsley-row">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <select class="report-template" name="report_template">
                                    <option value="">Select report type</option>
                                </select>
                                <input type="hidden" class="report-type" name="report_type">
                            </div>
                            <div class="uk-width-medium-1-1 date-range uk-hidden uk-margin-medium-top">
                                <div class="uk-grid" data-uk-grid-margin="">
                                    <div class="uk-width-medium-3-10 ">
                                        <label class="uk-margin-top">Date Range</label>
                                    </div>
                                    <div class="uk-width-medium-3-10 parsley-row">
                                        <label>Date</label>
                                        <input class="md-input start-date" type="text"  data-uk-datepicker="{format:'YYYY-MM-DD'}" name="start_date" value="">
                                    </div>
                                    <div class="uk-width-medium-1-10">
                                        <label class="uk-margin-top">To</label>
                                    </div>
                                    <div class="uk-width-medium-3-10 parsley-row">
                                        <label>Date</label>
                                        <input class="md-input end-date" type="text"  data-uk-datepicker="{format:'YYYY-MM-DD'}" name="end_date"  value="">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2 source uk-hidden uk-margin-medium-top">
                                <select class="source-selectize" name="source">
                                    <option value="">Select source</option>
                                </select>
                            </div>
                            <div class="uk-width-medium-1-2 branch uk-hidden uk-margin-medium-top">
                                <select class="branch-selectize" name="branch">
                                    <option value="">Select branch</option>
                                </select>
                            </div>
                            <div class="uk-width-medium-1-1">
                                <label>Remarks</label>
                                <input class="md-input" type="text" name="remarks" value="" >
                            </div>

                            <div class="uk-width-medium-1-1 uk-margin-bottom submit-button-action">
                                <button type="reset" class="md-btn md-btn-info">Cancel</button>
                                <button class="md-btn md-btn-primary" data-button-name="save" >Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


