<div id="page_content_inner" ng-controller="send_sms_test">
    <form method="" class="send-sms-form" id="form" data-ng-submit="submit()">
        <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
            <div class="uk-width-large-1-11">
                <div class="md-card user_content">
                    <h4 class="heading_c uk-margin-bottom ">((page_title)) </h4>

                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2">
                            <label>Number</label>
                            <input type="tel" name="number" class="md-input" required>
                        </div>
                        <div class="uk-width-medium-1-1"></div>
                        <div class="uk-width-medium-1-2">

                            <label>Message</label>
                            <textarea name="message" class="md-input" required></textarea>
                        </div>

                    </div>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2">
                            <button type="reset" class="md-btn md-btn-info">Cancel</button>
                            <button class="md-btn md-btn-success" data-button-name="save">Send</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class="uk-margin-top">
        <ng-include src="'templates/app/pages/data-table.html'"></ng-include>
    </div>

</div>