<div id="page_content_inner" ng-controller="send_bulk_sms">
    <form method="" class="send-sms-form" id="form" data-ng-submit="submit()">
        <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
            <div class="uk-width-large-1-11">
                <div class="md-card user_content">
                    <h4 class="heading_c uk-margin-bottom ">((page_title)) </h4>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-3 parsley-row">
                            <select class="to-type-selectize" name="to_type">
                                <option value="">To type</option>
                            </select>
                        </div>
                        <div class="uk-width-medium-1-3 parsley-row for-school for-teacher for-student">
                            <select class="institute-selectize" name="institute[]" multiple>
                                <option value="">Institutes</option>
                            </select>
                        </div>
                        <div class="uk-width-medium-1-3 parsley-row  for-student">
                            <div class="uk-input-group tag-chooser" data-uk-tooltip="" title="Class">
                                <select name="class[]" multiple>
                                    <option value="">Class</option>
                                </select>
                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3 parsley-row for-student">
                            <div class="uk-input-group department-chooser" data-uk-tooltip="" title="Department">
                                <select name="department[]" multiple>
                                    <option value="">Department</option>
                                </select>
                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3 parsley-row for-student">
                            <div class="uk-input-group branch-tag-chooser" data-uk-tooltip="" title="Branch">
                                <select name="branch[]" multiple>
                                    <option value="">Branch</option>
                                </select>
                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3 parsley-row for-student">
                            <div class="uk-input-group session-tag-chooser" data-uk-tooltip="" title="Session">
                                <select name="session[]" multiple>
                                    <option value="">Session</option>
                                </select>
                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3 parsley-row for-student">
                            <div class="uk-input-group gender-tag-chooser" data-uk-tooltip="" title="Gender">
                                <select name="gender[]" multiple>
                                    <option value="">Gender</option>
                                </select>
                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3 parsley-row for-student">
                            <div class="uk-input-group religion-tag-chooser" data-uk-tooltip="" title="Religion">
                                <select name="religion[]" multiple>
                                    <option value="">Religion</option>
                                </select>
                                <span class="uk-input-group-addon">
                                                <i class="material-icons md-icon uk-hidden delete" data-uk-tooltip="" title="Delete" data-ng-click="delete_tag()">delete_forever</i>
                                                <i class="material-icons md-icon uk-hidden add" data-uk-tooltip="" title="Save" data-ng-click="add_tag()">save</i>
                                            </span>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3 parsley-row for-student for-teacher">
                            <select class="receiver-selectize" name="receiver[]" multiple>
                                <option value="">Receivers</option>
                            </select>
                        </div>
                    </div>
                    <hr class="md-hr">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2">
                            <label>Bulk title</label>
                            <input type="text" name="title" class="md-input" required>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <label>Bulk Description</label>
                            <input type="text" name="description" class="md-input">
                        </div>

                        <div class="uk-width-medium-1-1">
                            <label>Message</label>
                            <textarea name="message" class="md-input" required></textarea>
                        </div>

                    </div>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2">
                            <button type="reset" class="md-btn md-btn-info">Cancel</button>
                            <button class="md-btn md-btn-success" data-button-name="save">Send</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class="uk-margin-top">
        <ng-include src="'templates/app/pages/data-table.html'"></ng-include>
    </div>

</div>