<div id="page_content_inner" ng-controller="settings">
    <h3 class="heading_a"> Settings</h3>
    <div class="uk-margin-top uk-margin-bottom">
        <a class="md-btn md-btn-mini" href="global-calendar" data-uk-tooltip="" title="Global calendar"><i class="material-icons md-icon md-24">calendar_today</i> </a>
    </div>
    <div class="uk-grid uk-grid-width-medium-1-3" data-uk-grid="{gutter: 20}" data-show-delay="280" >
        <!--- Title settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Software title
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Software title
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="software-title" data-type="software_title">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <label>Title</label>
                                    <input class="md-input" type="text" name="title" required value="((software.title))">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- currency settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Software currency
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Software currency
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="software-title" data-type="software_currency">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <label>Currency</label>
                                    <input class="md-input" type="text" name="currency" required value="((software.currency))">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- timezone settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Software time zone
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Software time zone
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="software-title" data-type="software_time_zone">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <label>Time zone</label>
                                    <input class="md-input" type="text" name="time_zone" required value="((software.time_zone))">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--- logo settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay logo-overlay">
                <div class="md-card-content truncate-text">
                    Software logo
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Software logo
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="software-logo" data-type="software_logo">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <input type="file" class="dropify-logo" name="image" accept="image/*" data-default-file="((software.logo))">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- Login banner -->
        <div>
            <div class="md-card md-card-hover md-card-overlay logo-overlay">
                <div class="md-card-content truncate-text">
                    Login banner
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Login banner
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="software-logo" data-type="software_login_banner">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <input type="file" class="dropify-logo" name="image" accept="image/*" data-default-file="((software.login_banner))">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--- favicon -->
        <div>
            <div class="md-card md-card-hover md-card-overlay logo-overlay">
                <div class="md-card-content truncate-text">
                    Software favicon
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Software favicon
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="software-favicon" data-type="software_favicon">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <input type="file" class="dropify-favicon" name="image" accept="image/png" data-default-file="((software.favicon))" data-max-width="33" data-max-height="33">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- Construction mode settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay construction-overlay">
                <div class="md-card-content truncate-text">
                    Software construction mode manager
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Construction mode
                        </h3>
                    </div>
                    <div class="truncate-text">
                    <form class="software-construction-mode" data-type="software_construction_mode">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-10-10 parsley-row">
                                <div class="uk-form-row">
                                    <input type="checkbox" ng-if="software.construction_mode.active" checked data-switchery id="user_edit_active" name="active" value="1">
                                    <input type="checkbox" ng-if="!software.construction_mode.active" data-switchery id="user_edit_active" name="active" value="1">
                                    <label for="user_edit_active" class="inline-label">Active</label>
                                </div>
                            </div>
                            <div class="uk-width-medium-5-10 parsley-row">
                                <label>Date</label>
                                <input class="md-input" type="text" name="date" data-uk-datepicker="{format:'YYYY-MM-DD'}" required value="((software.construction_mode.date))">
                            </div>
                            <div class="uk-width-medium-5-10 parsley-row">
                                <label>Time</label>
                                <input class="md-input" type="text" name="time" data-uk-timepicker required value="((software.construction_mode.time))">
                            </div>
                            <div class="uk-width-medium-10-10 parsley-row">
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>


                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- email settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Software email for user notification
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Software email
                        </h3>
                    </div>
                    <div class="truncate-text">
                    <form class="software-email" data-type="software_email">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-10-10 parsley-row">
                                <label>Email</label>
                                <input class="md-input" type="text" name="email" required value="((software.email))">
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- company name settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Software company name
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Software company name
                        </h3>
                    </div>
                    <div class="truncate-text">
                    <form class="software-company-name" data-type="software_company_name">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-10-10 parsley-row">
                                <label>Company name</label>
                                <input class="md-input" type="text" name="company_name" required value="((software.company_name))">
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- https check and force -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Check http and force to go
                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            HTTPS required
                        </h3>
                    </div>
                    <div class="truncate-text">
                    <form class="software-company-name" data-type="software_https">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-10-10 parsley-row">
                                <div class="uk-form-row">
                                    <input type="checkbox" ng-if="software.https" checked data-switchery id="user_edit_active" name="active" value="1">
                                    <input type="checkbox" ng-if="!software.https" data-switchery id="user_edit_active" name="active" value="1">
                                    <label for="user_edit_active" class="inline-label">Active</label>
                                </div>
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>