<div id="page_content_inner" ng-controller="shift_settings">
    <h3 class="heading_a">Settings of ( (( shift.name )) ) shift</h3>
    <div class="uk-grid uk-grid-width-medium-1-3" data-uk-grid="{gutter: 20}" data-show-delay="280" >

        <!--- in time settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    In time

                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            In time
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="" data-type="in_time">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <label>Time</label>
                                    <input class="md-input" type="text" name="in_time" required value="((settings.in_time))" data-uk-timepicker="{format:'12h'}">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- in time scan range settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    In time scan range

                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            In time scan range
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="" data-type="in_time_scan_range">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-5-10 parsley-row">
                                    <label>From</label>
                                    <input class="md-input" type="text" name="in_range_from" required value="((settings.in_range_from))" data-uk-timepicker="{format:'12h'}">

                                </div>
                                <div class="uk-width-5-10 parsley-row">
                                    <label>To</label>
                                    <input class="md-input" type="text" name="in_range_to" required value="((settings.in_range_to))" data-uk-timepicker="{format:'12h'}">

                                </div>
                                <div class="uk-width-medium-5-10 parsley-row">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- late time settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Late time

                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Late time
                        </h3>
                    </div>
                    <div class="truncate-text">
                    <form class="" data-type="late_time">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-10-10 parsley-row">
                                <label>Minute</label>
                                <input class="md-input" type="text" name="late_time" required value="((settings.late_time))">
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>




        <!--- out time settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Out time

                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Out time
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="" data-type="out_time">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <label>Time</label>
                                    <input class="md-input" type="text" name="out_time" required value="((settings.out_time))" data-uk-timepicker="{format:'12h'}">
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--- in time scan range settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Out time scan range

                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Out time scan range
                        </h3>
                    </div>
                    <div class="truncate-text">
                    <form class="" data-type="out_time_scan_range">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-5-10 parsley-row">
                                <label>From</label>
                                <input class="md-input" type="text" name="out_range_from" required value="((settings.out_range_from))" data-uk-timepicker="{format:'12h'}">

                            </div>
                            <div class="uk-width-5-10 parsley-row">
                                <label>To</label>
                                <input class="md-input" type="text" name="out_range_to" required value="((settings.out_range_to))" data-uk-timepicker="{format:'12h'}">

                            </div>
                            <div class="uk-width-medium-5-10 parsley-row">
                                <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                            </div>


                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>



        <!--- Early time settings -->
        <div>
            <div class="md-card md-card-hover md-card-overlay">
                <div class="md-card-content truncate-text">
                    Early time

                </div>
                <div class="md-card-overlay-content">
                    <div class="uk-clearfix md-card-overlay-header">
                        <i class="md-icon md-icon material-icons md-card-overlay-toggler">&#xE5D4;</i>
                        <h3>
                            Early time
                        </h3>
                    </div>
                    <div class="truncate-text">
                        <form class="" data-type="early_time">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-10-10 parsley-row">
                                    <label>Minute</label>
                                    <input class="md-input" type="text" name="early_time" required value="((settings.early_time))" >
                                    <button data-ng-click="submit($event)" class="md-btn md-btn-flat-warning uk-margin-top" data-button-name="save" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>