
        <div id="page_content_inner" data-ng-controller="special_item">
            <form method="post" class="add-store" id="form" >
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Special item information <a href="edit-special-item/((item.item_id))" class="uk-float-right" data-uk-tooltip="" title="Edit"><i class="material-icons md-icon">create</i> </a></h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-2 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <ul class="md-list">
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Name</span>
                                                        <span class="uk-text-small uk-text-muted">((item.name))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Units</span>
                                                        <span class="uk-text-small uk-text-muted">((item.units))</span>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Specifications</span>
                                                        <ul class="md-list">
                                                            <li ng-repeat="specification in item.specifications">((specification.name)) => ((specification.item_name))</li>
                                                        </ul>
                                                    </div>
                                                </li>




                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                
                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

