<div id="page_content_inner" ng-controller="system_admin_home">
    <h3 class="hidden-print">Dashboard</h3>
    <!-- statistics (small charts) -->
    <div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler hierarchical_show hidden-print top-cards" >

    </div>

    <div class="dashboard-calendar" ng-include="'templates/app/pages/calendar.html'">

    </div>
</div>

<script type="info-card" class="info-card">
    {{#each this}}
    <div class="uk-margin-bottom">
        <a href="{{link}}">
        <div class="md-card ((name))">
            <div class="md-card-content">
                <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_visitors peity_data">{{data}}</span></div>
                <span class="uk-text-muted uk-text-large">{{name}}</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">0<noscript>{{total}}</noscript></span></h2>
            </div>
        </div>
        </a>
    </div>
    {{/each}}

</script>