<div id="page_content_inner" ng-controller="teacher_home">
    <h3 class="hidden-print">Dashboard <span ng-if="user_name"> of ((user_name))</span></h3>
    <!-- statistics (small charts) -->
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-7-10">
            <div class="uk-grid uk-grid-width-large-1-3 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler hierarchical_show hidden-print top-cards">

            </div>
            <div class="uk-grid uk-margin-bottom uk-grid-width-1-1 uk-grid-width-large-1-3" data-uk-grid-margin>
                <div>
                    <div class="md-card md-card-primary">
                        <div class="md-card-content">
                          <span ng-if="!user_name">You are</span>  ( ((today_attendance_status)) ) today.
                        </div>
                    </div>
                </div>
                <div ng-if="!source"><a href="teacher-monthly-attendance-report" class="md-btn md-btn-gplus md-btn-block md-btn-icon uk-margin-top"><i class="uk-icon-google-pluss"></i>Monthly Attendance report</a></div>
                <div ng-if="source"><a href="teacher-monthly-attendance-report/((source))" class="md-btn md-btn-gplus md-btn-block md-btn-icon uk-margin-top"><i class="uk-icon-google-pluss"></i>Monthly Attendance report</a></div>

            </div>
        </div>
        <div class="uk-width-medium-3-10">
            <!-- Attendense Card Pie Chart Menu Start -->
            <div class="uk-width-small-1-1 uk-sortable sortable-handler hierarchical_show">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">teacher CHART</h4>
                        <div id="c3_chart_donut" class="c3chart"></div>
                    </div>
                </div>
            </div>
            <!-- Attendense Card Pie Chart Menu End -->
        </div>
    </div>


    <div class="dashboard-calendar">
        <ng-include src="'templates/app/pages/calendar.html'"></ng-include>
    </div>

</div>

<script type="info-card" class="info-card">
    {{#each this}}
    <div class="uk-margin-bottom">
        <a href="{{link}}">
        <div class="md-card">
            <div class="md-card-content">
                {{#ifCond this.card_type '==' 'peity_orders'}}
                <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_orders peity_data">{{current}}/{{total}}</span></div>
                <span class="uk-text-muted uk-text-small">{{name}}</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">0<noscript>{{current}}</noscript></span></h2>
                {{/ifCond}}

                {{#ifCond this.card_type '==' 'peity_visitors'}}
                <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_visitors peity_data">{{data}}</span></div>
                <span class="uk-text-muted uk-text-large">{{name}}</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">0<noscript>{{total}}</noscript></span></h2>
                {{/ifCond}}

            </div>
        </div>

        </a>
    </div>
    {{/each}}

</script>


<script type="institute-select-template" class="institute-select-template">
    <div class="institute-chooser" data-uk-tooltip="" title="School">
        <select class="institute-selectize">
            <option value="">Select institute</option>
        </select>
    </div>
</script>