<div id="page_content_inner" ng-controller="today_absent_attendance">
    <h4 class="heading_a uk-margin-bottom">((page_title))</h4>
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="dt_colVis_buttons"></div>
            <table id="dt_tableHeeshab" class="uk-table" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th ng-repeat="item in table_columns_format">((item.name))</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th ng-repeat="item in table_columns_format">((item.name))</th>
                </tr>
                </tfoot>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>

</div>

<script type="institute-select-template" class="institute-select-template">
    <div class="institute-chooser" data-uk-tooltip="" title="School">
        <select class="institute-selectize">
            <option value="">Select institute</option>
        </select>
    </div>
</script>