
        <div id="page_content_inner" data-ng-controller="transport">
            <form method="post" class="add-store" id="form" >
                <div class="uk-grid " data-uk-grid-margin data-uk-grid-match >
                    <div class="uk-width-large-1-11">
                        <div class="md-card user_content">
                            <h4 class="heading_c uk-margin-bottom ">Transport information <a href="edit-transport/((transport.transport_id))" class="uk-float-right" data-uk-tooltip="" title="Edit"><i class="material-icons md-icon">create</i> </a></h4>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-2 parsley-row">
                                    <div class="uk-grid "  data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <ul class="md-list">
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Name</span>
                                                        <span class="uk-text-small uk-text-muted">((transport.name))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Number</span>
                                                        <span class="uk-text-small uk-text-muted">((transport.number))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Member id</span>
                                                        <span class="uk-text-small uk-text-muted">((transport.member_id))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Model</span>
                                                        <span class="uk-text-small uk-text-muted">((transport.model))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Driver</span>
                                                        <span class="uk-text-small uk-text-muted">((transport.driver))</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Description</span>
                                                        <span class="uk-text-small uk-text-muted">((transport.description))</span>
                                                    </div>
                                                </li>


                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="uk-width-large-1-2 uk-margin-top">
                                    <h3 class="heading_a uk-margin-bottom">Image</h3>
                                    <div>
                                        <img src="((transport.image))" alt="((transport.transport_name))" style="height: 200px;">
                                    </div>

                                    <p>
                                        <label>Active</label>
                                        <input type="checkbox" ng-if="transport.active" data-switchery checked value="1" name="active" disabled>
                                        <input type="checkbox" ng-if="!transport.active" data-switchery  value="1" name="active" disabled>
                                    </p>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

