    <div id="page_content_inner" ng-controller="tree">
        <div class="md-card">
            <div class="md-card-content">
                <div class="overflow tree-area">
                    <div class="uk-width-medium-10-10 uk-float-left">
                        <h3 class="uk-text-center">Team</h3>
                        <ul class="tree network">
                            <li data-info="((stalk))" ng-repeat="stalk in tree">
                                <div class="tree-user">
                                    <a class="" href="network/((stalk.user_id))" data-uk-tooltip="{pos:'right'}" title="((stalk | user_tooltip))">
                                        <img src="((stalk.image))">
                                        <span>((stalk.name))</span>
                                    </a>
                                </div>
                                <!-- directive: stalks -->
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script class="user-tooltip" type="handlebar">
        <span class='uk-display-block'><b>Designation :</b> {{designation}}</span>
        <span class='uk-display-block'><b>Email :</b> {{email}}</span>
    </script>
    <script class="add-child-template" type="handlebar">
        <form class='add-child-form'>
            <span><i class="material-icons md-icon close-button">close</i></span>
            <div class='md-card'>
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-1">
                            <select class="childes" name="child">
                                <option value="">Select any one</option>
                            </select>
                        </div>
                        <div class="uk-width-medium-1-1">
                            <button class="md-btn md-btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </script>
